Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/etcd: security upgarde to 3.6.8
  community/etcd/APKBUILD
Owners: @Ikke

community/etcd: add secfixes
  community/etcd/APKBUILD
Owners: @Ikke

community/etcd: security upgrade to 3.6.10
  community/etcd/APKBUILD
Owners: @Ikke

community/py3-aiohttp: update secfixes
  community/py3-aiohttp/APKBUILD
Owners: @Ikke

community/py3-aiohttp: security upgrade to 3.13.5
  community/py3-aiohttp/APKBUILD
Owners: @Ikke

community/py3-aiohttp: update secfixes
  community/py3-aiohttp/APKBUILD
Owners: @Ikke

main/py3-lxml: security upgrade to 6.1.0
  main/py3-lxml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-idna: upgrade to 3.13
  main/py3-idna/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/krita: upgrade to 6.0.1
  community/krita/20-sip-6.8.patch
  community/krita/APKBUILD
Owners: @Ikke

community/ffmpeg: enable support for DVD devices or ISOs
  community/ffmpeg/APKBUILD
Owners: @Ikke

community/fluster: upgrade to 0.7.1
  community/fluster/APKBUILD
Owners: @Ikke

community/aercbook: fix build with zig 0.15
  community/aercbook/0012-Zig-0.15-fix-stdin-reader-api.patch
  community/aercbook/APKBUILD
Owners: @Ikke

community/pdns-recursor: security upgrade to 5.4.1
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/pdns-recursor: security upgrade to 5.3.6
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/dotnet8-sdk: bump pkgrel for dotnet runtime
  community/dotnet8-sdk/APKBUILD
Owners: @Ikke

community/guile-sqlite3: switch upstream from notabug to codeberg
  community/guile-sqlite3/APKBUILD
Owners: @Ikke

community/verilator: upgrade to 5.048
  community/verilator/APKBUILD
Owners: @Ikke

community/libcoap: upgrade to 4.3.5b
  community/libcoap/APKBUILD
Owners: @Ikke

community/acme-client: update source url
  community/acme-client/APKBUILD
Owners: @Ikke

community/nawk: upgrade to 20260426
  community/nawk/APKBUILD
Owners: @Ikke

testing/kubetail: upgrade to 0.16.0
  testing/kubetail/APKBUILD
Owners: @Ikke

community/guile-git: upgrade to 0.11.1
  community/guile-git/APKBUILD
Owners: @Ikke

community/zk: upgrade to 0.15.3
  community/zk/APKBUILD
Owners: @Ikke

community/synapse: upgrade to 1.152.0
  community/synapse/APKBUILD
  community/synapse/synapse.post-install
Owners: @Ikke

community/ginac: temporarily switch source to codeberg
  community/ginac/APKBUILD
Owners: @Ikke

testing/projectm: take over maintainership
  testing/projectm/APKBUILD
Owners: @Ikke

community/glm: upgrade to 1.0.3
  community/glm/APKBUILD
  community/glm/fix-endian-test.patch
  community/glm/glm.pc
Owners: @Ikke

testing/py3-pyglm: upgrade to 2.8.3 and unvendor glm
  testing/py3-pyglm/APKBUILD
  testing/py3-pyglm/fix-usubBorrow-test.patch
Owners: @Ikke

*/*: rebuild against glm-1.0.3-r0
  community/gamescope/APKBUILD
  community/gource/APKBUILD
  community/libetonyek/APKBUILD
  community/logstalgia/APKBUILD
  community/maim/APKBUILD
  community/slop/APKBUILD
  community/supertux/APKBUILD
  community/vkmark/APKBUILD
  testing/organicmaps/APKBUILD
  testing/projectm/APKBUILD
  testing/solarus-engine/APKBUILD
  testing/wayfire/APKBUILD
  testing/wf-config/APKBUILD
Owners: @Ikke

community/lua-lsqlite3: fix checksum
  community/lua-lsqlite3/APKBUILD
Owners: @Ikke

community/wayvnc: upgrade to 0.10.0
  community/wayvnc/APKBUILD
Owners: @Ikke

community/vali: rebuild against libaml.so.1
  community/vali/APKBUILD
Owners: @Ikke

community/weston: rebuild against neatvnc 1.0.0
  community/weston/APKBUILD
Owners: @Ikke

community/neatvnc: upgrade to 1.0.0
  community/neatvnc/APKBUILD
Owners: @Ikke

community/aml0: remove
  community/aml0/APKBUILD
Owners: @Ikke

community/qpwgraph: upgrade to 1.0.1
  community/qpwgraph/APKBUILD
Owners: @Ikke

community/libcamera: upgrade to 0.7.1
  community/libcamera/APKBUILD
Owners: @Ikke

testing/ostui: upgrade to 1.0.5
  testing/ostui/APKBUILD
Owners: @Ikke

main/xen: add mitigations for XSA-484 & XSA-486
  main/xen/APKBUILD
  main/xen/xsa484.patch
  main/xen/xsa486.patch
Owners: @andypost, @nmeum, @ncopa

community/synapse: upgrade to 1.152.0
  community/synapse/APKBUILD
Owners: @Ikke
