Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/live-media: upgrade to 2019.05.12
  community/live-media/APKBUILD
Owners: @Ikke

community/vlc: rebuild against libliveMedia.so.66
  community/vlc/APKBUILD
Owners: @Ikke

testing/atools: new aport
  testing/atools/APKBUILD
Owners: @Ikke

testing/gnome-calculator: new aport
  testing/gnome-calculator/APKBUILD
Owners: @Ikke

testing/vdr: disable on ppc64le
  community/vdr/APKBUILD
Owners: @Ikke

testing/py2-traceback2: Switch to purely python2
  testing/py2-traceback2/APKBUILD
Owners: @Ikke

testing/py2-traceback2: rename from py-traceback2
  testing/py2-traceback2/APKBUILD
Owners: @Ikke

testing/mozjs60: remove leftovers, is in main/
  testing/mozjs60/add-exposeToActiveJS.patch
Owners: @Ikke

testing/py2-tracepack2: fix dependency
  testing/py2-traceback2/APKBUILD
Owners: @Ikke

testing/file-roller: new aport
  testing/file-roller/APKBUILD
Owners: @Ikke

testing/java-jtreg: disable
  testing/java-asmtools/APKBUILD
  testing/java-jtharness/APKBUILD
  testing/java-jtreg/APKBUILD
Owners: @Ikke

testing/py2-linecache2: modernize and fix build
  testing/py2-linecache2/APKBUILD
Owners: @Ikke

community/vlc: rebuild against libliveMedia.so.66
  community/vlc/APKBUILD
Owners: @Ikke

community/live-media: upgrade to 2019.05.12
  community/live-media/APKBUILD
Owners: @Ikke

community/corebird: fix build patch
  community/corebird/APKBUILD
  community/corebird/fix-build.patch
Owners: @Ikke

main/perl-serial-encoder: disable armhf
  testing/perl-sereal-encoder/APKBUILD
Owners: @Ikke

community/greybird-themes: upgrade to 3.22.10
  community/greybird-themes/APKBUILD
Owners: @Ikke

community/guvcview: upgrade to 2.0.6
  community/guvcview/APKBUILD
  community/guvcview/ffmpeg4.patch
Owners: @Ikke

testing/atools: upgrade to release 2
  testing/atools/APKBUILD
Owners: @Ikke

community/abcde: upgrade to 2.9.3 and fix dependency on py3-eyed3
  community/abcde/APKBUILD
Owners: @Ikke

community/attica: fix url and drop obsolete dependency on automoc4
  community/attica/APKBUILD
Owners: @Ikke

testing/enet: upgrade to 1.3.14
  testing/enet/APKBUILD
Owners: @Ikke

unmaintained/enet: move from testing
  unmaintained/enet/APKBUILD
Owners: none

community/libdwarf: upgrade to 20190505
  community/libdwarf/APKBUILD
Owners: @Ikke

community/libmwaw: upgrade to 0.3.15
  community/libmwaw/APKBUILD
Owners: @Ikke

community/abcde: upgrade to 2.9.3 and fix dependency on py3-eyed3
  community/abcde/APKBUILD
Owners: @Ikke

main/py-freezegun: new aport
  main/py-freezegun/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py-itsdangerous: update to 1.1.0, adopt
  main/py-itsdangerous/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py-qt: purge
  testing/py-qt/APKBUILD
Owners: @Ikke

unmaintained/sbcl: move from testing
  unmaintained/sbcl/APKBUILD
  unmaintained/sbcl/fix-generate-version.patch
  unmaintained/sbcl/musl-fix-threads.patch
  unmaintained/sbcl/musl-fixes.patch
  unmaintained/sbcl/pax-genesis-stage-two.patch
  unmaintained/sbcl/sbcl_prefix.patch
Owners: none

unmaintained/enet: move from testing
  unmaintained/enet/APKBUILD
Owners: none

testing/enet: upgrade to 1.3.14
  testing/enet/APKBUILD
Owners: @Ikke

community/libdwarf: upgrade to 20190505
  community/libdwarf/APKBUILD
Owners: @Ikke

community/nodejs-current: upgrade to 12.2.0
  community/nodejs-current/APKBUILD
  community/nodejs-current/dont-run-gyp-files-for-bundled-deps.patch
  community/nodejs-current/link-with-libatomic-on-mips32.patch
Owners: @Ikke

testing/geocode-glib: remove, is in community/
  testing/geocode-glib/APKBUILD
Owners: @Ikke

testing/gdnsd: remove, is in community/
  testing/gdnsd/APKBUILD
  testing/gdnsd/gdnsd.initd
  testing/gdnsd/gdnsd.pre-install
Owners: @Ikke

testing/geocode-glib: remove, is in community/
  testing/geocode-glib/APKBUILD
Owners: @Ikke

testing/gdnsd: remove, is in community/
  testing/gdnsd/APKBUILD
  testing/gdnsd/gdnsd.initd
  testing/gdnsd/gdnsd.pre-install
Owners: @Ikke

community/py3-pyrsistent: upgrade to 0.15.2
  community/py3-pyrsistent/APKBUILD
Owners: @Ikke

testing/libbpf: new aport
  testing/libbpf/10-include-stddef.patch
  testing/libbpf/20-trailing-ldflags.patch
  testing/libbpf/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
