Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/py3-mistune: upgrade to 2.0.2
  community/py3-mistune/APKBUILD
Owners: @Ikke

community/giara: upgrade to 1.0.1
  community/giara/APKBUILD
Owners: @Ikke

community/blueprint-compiler: new aport
  community/blueprint-compiler/APKBUILD
Owners: @Ikke

community/gnome-shell: add gst-plugins-good as dep
  community/gnome-shell/APKBUILD
Owners: @Ikke

community/blueprint-compiler: use abuild-meson
  community/blueprint-compiler/APKBUILD
Owners: @Ikke

community/sdl2_mixer: add mpg123-dev to makedepends
  community/sdl2_mixer/APKBUILD
Owners: @Ikke

testing/py3-pygame: new aport
  testing/py3-pygame/APKBUILD
Owners: @Ikke

testing/py3-tzlocal: bump pkgrel
  testing/py3-tzlocal/APKBUILD
Owners: @Ikke

testing/mdbook: upgrade to 0.4.18
  testing/mdbook/APKBUILD
Owners: @Ikke

main/ghostscript: remove versioned path
  main/ghostscript/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ghostscript: upgrade to 9.56.1
  main/ghostscript/9.55.0-typo.patch
  main/ghostscript/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-parametrize-from-file: upgrade to 0.14.0
  community/py3-parametrize-from-file/APKBUILD
Owners: @Ikke

testing/vit: upgrade to 2.2.0
  testing/vit/APKBUILD
Owners: @Ikke

community/tilix: fix meson build
  community/tilix/APKBUILD
  community/tilix/meson-merge-file-remove-positional-args.patch
Owners: @Ikke

community/blanket: move from testing
  community/blanket/APKBUILD
Owners: @Ikke

community/tilix: upgrade to 1.9.5
  community/tilix/APKBUILD
  community/tilix/meson-merge-file-remove-positional-args.patch
Owners: @Ikke

community/mingw-w64-headers: upgrade to 10.0.0
  community/mingw-w64-headers/APKBUILD
Owners: @Ikke

community/mingw-w64-crt: upgrade to 10.0.0
  community/mingw-w64-crt/APKBUILD
Owners: @Ikke

community/mingw-w64-winpthreads: upgrade to 10.0.0
  community/mingw-w64-winpthreads/APKBUILD
Owners: @Ikke

community/mingw-w64-gcc: rebuild against mingw* 10.0
  community/mingw-w64-gcc/APKBUILD
Owners: @Ikke

community/wine: rebuild against mingw*
  community/wine/APKBUILD
Owners: @Ikke

community/wine: uncap jobs
  community/wine/APKBUILD
Owners: @Ikke

community/upx: fix compilation
  community/upx/APKBUILD
  community/upx/misleading-indentation.patch
Owners: @Ikke

main/radvd: apply patch to fix segfault on boot
  main/radvd/APKBUILD
  main/radvd/fix-alpine-plz.patch
Owners: @andypost, @nmeum, @ncopa

community/telegram-desktop: upgrade to 3.7.0
  community/telegram-desktop/APKBUILD
Owners: @Ikke

community/gtkd: upgrade to 3.10.0
  community/gtkd/APKBUILD
Owners: @Ikke

community/gtkd: attempt install fix
  community/gtkd/APKBUILD
  community/gtkd/install-t.patch
Owners: @Ikke

community/gtkd: -j1 install
  community/gtkd/APKBUILD
Owners: @Ikke

community/kyotocabinet: disable project's build-time compiler optimizations
  community/kyotocabinet/APKBUILD
Owners: @Ikke

ci: remove before_script
  .gitlab-ci.yml
Owners: none

ci: don't run changed-aports ourselves
  .gitlab-ci.yml
Owners: none

ci: remove before_script
  .gitlab-ci.yml
Owners: none

ci: don't run changed-aports ourselves
  .gitlab-ci.yml
Owners: none

ci: remove before_script
  .gitlab-ci.yml
Owners: none

ci: don't run changed-aports ourselves
  .gitlab-ci.yml
Owners: none

ci: don't run changed-aports ourselves
  .gitlab-ci.yml
Owners: none

ci: remove before_script
  .gitlab-ci.yml
Owners: none

community/vault: upgrade to 1.9.4
  community/vault/APKBUILD
Owners: @Ikke

community/hdf5: build with openjdk8
  community/hdf5/APKBUILD
Owners: @Ikke

community/R: specify explicit java version
  community/R/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
