Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/py-egenix-mx-base: Remove
  main/py-egenix-mx-base/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-psycopg2: remove obsolete dependency on py-egenix-mx-base-dev
  community/py3-psycopg2/APKBUILD
Owners: @Ikke

main/alsa-lib: upgrade to 1.2.1.1
  main/alsa-lib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/alsa-plugins: upgrade to 1.2.1
  community/alsa-plugins/APKBUILD
Owners: @Ikke

main/alsa-utils: upgrade to 1.2.1
  main/alsa-utils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alsa-utils: quote variable expansion
  main/alsa-utils/APKBUILD
  main/alsa-utils/alsa.initd
Owners: @andypost, @nmeum, @ncopa

Update README.md to reflect usage of GitLab
  README.md
Owners: none

main/mariadb-connector-c: upgrade to 3.1.5
  main/mariadb-connector-c/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/fcgi: upgrade to 2.4.2
  main/fcgi/20-fcgi-2.4.0-clientdata-pointer.patch
  main/fcgi/30-fcgi-2.4.0-html-updates.patch
  main/fcgi/APKBUILD
  main/fcgi/CVE-2012-6687.patch
  main/fcgi/configure.patch
  main/fcgi/fcgi-2.4.0-Makefile.am-CPPFLAGS.patch
  main/fcgi/fcgi-2.4.0-gcc44_fixes.patch
Owners: @andypost, @nmeum, @ncopa

main/psmisc: fix checksum
  main/psmisc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/libgweather: fix tests
  community/libgweather/APKBUILD
  community/libgweather/fix-test.patch
Owners: @Ikke

community/py3-traitlets: switch to py3-six
  community/py3-traitlets/APKBUILD
Owners: @Ikke

community/libgweather: drop py-six dependency
  community/libgweather/APKBUILD
Owners: @Ikke

community/evince: drop py-six dependency
  community/evince/APKBUILD
Owners: @Ikke

main/libgcab: drop py-six dependency
  main/libgcab/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gnome-desktop: drop py-six dependency
  community/gnome-desktop/APKBUILD
Owners: @Ikke

community/evince: disable on s390x
  community/evince/APKBUILD
Owners: @Ikke

main/py-enum34: remove
  main/py-enum34/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-six: rename from py-six
  main/py3-six/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-six: drop python2
  main/py3-six/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/imagemagick: upgrade to 7.0.9.2
  community/imagemagick/APKBUILD
Owners: @Ikke

community/imagemagick6: upgrade to 6.9.10.75
  community/imagemagick6/APKBUILD
Owners: @Ikke

testing/xsel: fixed source + build
  testing/xsel/APKBUILD
Owners: @Ikke

main/unbound: add secfixes comment
  main/unbound/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/unbound: fix CVE-2019-18934
  main/unbound/APKBUILD
  main/unbound/CVE-2019-18934.patch
Owners: @andypost, @nmeum, @ncopa

main/unbound: fix CVE-2019-18934
  main/unbound/APKBUILD
  main/unbound/CVE-2019-18934.patch
Owners: @andypost, @nmeum, @ncopa

main/gcc: update url to use https
  main/gcc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/unbound: fix CVE-2019-18934
  main/unbound/APKBUILD
  main/unbound/CVE-2019-18934.patch
Owners: @andypost, @nmeum, @ncopa

main/sdl_image: fix CVE-2019-13616
  main/sdl_image/APKBUILD
  main/sdl_image/CVE-2019-13616.patch
Owners: @andypost, @nmeum, @ncopa

main/sdl_image: fix CVE-2019-13616
  main/sdl_image/APKBUILD
  main/sdl_image/CVE-2019-13616.patch
Owners: @andypost, @nmeum, @ncopa

main/sdl_image: fix CVE-2019-13616
  main/sdl_image/APKBUILD
  main/sdl_image/CVE-2019-13616.patch
Owners: @andypost, @nmeum, @ncopa

main/strongswan: re-add rebased dmvpn patches
  main/strongswan/0205-ike-Adhere-to-IKE_SA-limit-when-checking-out-by-conf.patch
  main/strongswan/1001-charon-add-optional-source-and-remote-overrides-for-.patch
  main/strongswan/1002-vici-send-certificates-for-ike-sa-events.patch
  main/strongswan/1003-vici-add-support-for-individual-sa-state-changes.patch
  main/strongswan/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sdl_image: fix CVE-2019-13616
  main/sdl_image/APKBUILD
  main/sdl_image/CVE-2019-13616.patch
Owners: @andypost, @nmeum, @ncopa

testing/openwsman: upgrade to 2.6.11
  testing/openwsman/APKBUILD
Owners: @Ikke

main/sdl_image: fix CVE-2019-13616
  main/sdl_image/APKBUILD
  main/sdl_image/CVE-2019-13616.patch
Owners: @andypost, @nmeum, @ncopa

main/nodejs: upgrade to 12.13.1
  main/nodejs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sdl: fix CVE-2019-13616
  main/sdl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sdl: fix CVE-2019-13616
  main/sdl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sdl: fix CVE-2019-13616
  main/sdl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sdl: fix CVE-2019-13616
  main/sdl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
