Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/drbd-lts: rebuild against kernel 5.4.61-r1
  main/drbd-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.4.61-r1
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.4.61-r1
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.4.61-r1
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.4.61-r1
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/grilo: upgrade to 0.3.13
  community/grilo/APKBUILD
Owners: @Ikke

community/grilo-plugins: upgrade to 0.3.12
  community/grilo-plugins/APKBUILD
Owners: @Ikke

main/meson: upgrade to 0.54.3
  main/meson/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-h11: upgrade to 0.10.0
  testing/py3-h11/APKBUILD
Owners: @Ikke

main/py3-paramiko: upgrade to 2.7.2
  main/py3-paramiko/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/linux-edge: upgrade to 5.8.6
  testing/linux-edge/APKBUILD
  testing/linux-edge/config-edge.aarch64
  testing/linux-edge/config-edge.armv7
  testing/linux-edge/config-edge.x86_64
Owners: @Ikke

community/py3-padatious: switch source to pypi release
  community/py3-padatious/APKBUILD
Owners: @Ikke

community/py3-adapt-parser: upgrade to 0.3.6
  community/py3-adapt-parser/APKBUILD
  community/py3-adapt-parser/relax-dep-requirements.patch
Owners: @Ikke

main/dahdi-linux-lts: rebuild against kernel 5.4.62-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.4.62-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtl8821ce-lts: rebuild against kernel 5.4.62-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/virtualbox-guest-modules-lts: rebuild against kernel 5.4.62-r0
  community/virtualbox-guest-modules-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.4.62
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.4.62-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.4.62-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/drbd-lts: rebuild against kernel 5.4.62-r0
  main/drbd-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-lts: rebuild against kernel 5.4.62-r0
  community/wireguard-lts/APKBUILD
Owners: @Ikke

gitlab-ci: fetch 500 commits
  .gitlab-ci.yml
Owners: none

main/py3-setuptools: upgrade to 50.1.0
  main/py3-setuptools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-validators: upgrade to 0.18.1
  community/py3-validators/APKBUILD
Owners: @Ikke

testing/py3-netmiko: upgrade to 3.3.0
  testing/py3-netmiko/APKBUILD
Owners: @Ikke

community/py3-canonicaljson: upgrade to 1.4.0
  community/py3-canonicaljson/APKBUILD
Owners: @Ikke

main/putty: upgrade to 0.74
  main/putty/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/radare2: upgrade to 4.5.1
  community/radare2/APKBUILD
Owners: @Ikke

main/dpkg: change url to the one used by debian itself
  main/dpkg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dpkg: Add -static subpackage to fix warning
  main/dpkg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/putty: add missing secfixes info
  main/putty/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/*: remove duplicates of CVEs
  main/busybox/APKBUILD
  main/clamav/APKBUILD
  main/ghostscript/APKBUILD
  main/hostapd/APKBUILD
  main/lame/APKBUILD
  main/libsndfile/APKBUILD
  main/libvorbis/APKBUILD
  main/rdesktop/APKBUILD
  main/samba/APKBUILD
  main/sdl/APKBUILD
  main/sqlite/APKBUILD
  main/wpa_supplicant/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/libspiro: add missing pkgrel to secfixes
  testing/libspiro/APKBUILD
Owners: @Ikke

testing/nomad: remove duplicate CVE identifier
  testing/nomad/APKBUILD
Owners: @Ikke

community/*: remove duplicate CVEs
  community/firefox-esr/APKBUILD
  community/tor/APKBUILD
  community/wireshark/APKBUILD
Owners: @Ikke

testing/bazel3: upgrade to 3.5.0
  testing/bazel3/APKBUILD
  testing/bazel3/bash_completion.patch
Owners: @Ikke

testing/py3-nodeenv: add py3-setuptools to depends
  testing/py3-nodeenv/APKBUILD
Owners: @Ikke

community/openrct2: disable tests on armhf
  community/openrct2/APKBUILD
Owners: @Ikke

{main,community}/*: remove duplicate CVEs
  community/firefox-esr/APKBUILD
  community/tor/APKBUILD
  main/busybox/APKBUILD
  main/clamav/APKBUILD
  main/ghostscript/APKBUILD
  main/hostapd/APKBUILD
  main/lame/APKBUILD
  main/libsndfile/APKBUILD
  main/libvorbis/APKBUILD
  main/rdesktop/APKBUILD
  main/samba/APKBUILD
  main/sdl/APKBUILD
  main/sqlite/APKBUILD
Owners: @Ikke, @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
