Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/miniflux: upgrade to 2.0.34
  community/miniflux/APKBUILD
Owners: @Ikke

main/bearssl: add pkg-config file
  main/bearssl/APKBUILD
  main/bearssl/libbearssl.pc
Owners: @andypost, @nmeum, @ncopa

community/pdns-recursor: upgrade to 4.6.0
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/py3-dask: disable on ppc64le
  community/py3-dask/APKBUILD
Owners: @Ikke

testing/py3-humanize: upgrade to 3.13.1
  testing/py3-humanize/APKBUILD
Owners: @Ikke

community/py3-distributed: disable on ppc64le
  community/py3-distributed/APKBUILD
Owners: @Ikke

community/py3-joblib: disable on ppc64le
  community/py3-joblib/APKBUILD
Owners: @Ikke

community/py3-fsspec: disable on ppc64le
  community/py3-fsspec/APKBUILD
Owners: @Ikke

testing/mold: new aport
  testing/mold/APKBUILD
  testing/mold/fix-build-breakage-on-alpine.patch
Owners: @Ikke

community/py3-dnsrobocert: upgrade to 3.15.0
  community/py3-dnsrobocert/APKBUILD
Owners: @Ikke

community/borg-space: disable on ppc64le
  community/borg-space/APKBUILD
Owners: @Ikke

community/pipewire: upgrade to 0.3.42
  community/pipewire/APKBUILD
Owners: @Ikke

community/heimdall: switch to fork and update to 2.0.0
  community/heimdall/APKBUILD
  community/heimdall/reset-device-before-handshake.patch
Owners: @Ikke

testing/nushell: split plugins to separate packages
  testing/nushell/APKBUILD
Owners: @Ikke

main/linux-rpi: upgrade to 5.15.10
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-rpi: rebuild against kernel 5.15.10-r0
  main/zfs-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-rpi: rebuild against kernel 5.15.10-r0
  community/jool-modules-rpi/APKBUILD
Owners: @Ikke

community/kodi: fix build
  community/kodi/APKBUILD
Owners: @Ikke

main/dialog: upgrade to 1.3.20211214
  main/dialog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-scikit-learn: disable on ppc64le
  community/py3-scikit-learn/APKBUILD
Owners: @Ikke

community/firefox: upgrade to 95.0.1
  community/firefox/APKBUILD
  community/firefox/mozwayland-add-missing-stub.patch
Owners: @Ikke

community/gnome-software: enable fwupd for more arches
  community/gnome-software/APKBUILD
Owners: @Ikke

community/suricata: disable on x86
  community/suricata/APKBUILD
Owners: @Ikke

community/linux-edge: upgrade to 5.15.10
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.aarch64
  community/linux-edge/config-edge.armv7
  community/linux-edge/config-edge.riscv64
  community/linux-edge/config-edge.x86_64
  community/linux-edge/config-edge4virt.aarch64
  community/linux-edge/config-edge4virt.armv7
  community/linux-edge/config-edge4virt.riscv64
  community/linux-edge/config-edge4virt.x86_64
Owners: @Ikke

testing/repo-tools: upgrade to v0.2
  testing/repo-tools/APKBUILD
Owners: @Ikke

community/sway: set correct license for sway-wallpapers
  community/sway/APKBUILD
Owners: @Ikke

community/linux-edge: upgrade to 5.15.10
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.aarch64
  community/linux-edge/config-edge.armv7
  community/linux-edge/config-edge.riscv64
  community/linux-edge/config-edge.x86_64
  community/linux-edge/config-edge4virt.aarch64
  community/linux-edge/config-edge4virt.armv7
  community/linux-edge/config-edge4virt.riscv64
  community/linux-edge/config-edge4virt.x86_64
Owners: @Ikke

community/php8: upgrade to 8.0.14
  community/php8/APKBUILD
Owners: @Ikke

testing/php81: upgrade to 8.1.1
  testing/php81/APKBUILD
Owners: @Ikke

testing/vicious: new aport
  testing/vicious/APKBUILD
Owners: @Ikke

main/compiler-rt: replace patch fixing size_t with upstream one
  main/compiler-rt/APKBUILD
  main/compiler-rt/fuzzer-size_t-musl.patch
  main/compiler-rt/replace-size_t-std-size-t.patch
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: fix arch detection for ppc64le
  main/compiler-rt/APKBUILD
  main/compiler-rt/fix-arch-detection-for-ppc64le.patch
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: set COMPILER_RT_INSTALL_PATH to /usr/lib/clang/<pkgver>
  main/compiler-rt/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: build sanitizers on aarch64, ppc64le and x86_64
  main/compiler-rt/APKBUILD
  main/compiler-rt/aarch64-ucontext.patch
  main/compiler-rt/disable-sanitizer-common.patch
  main/compiler-rt/sanitizer-ppc64-musl.patch
  main/compiler-rt/sanitizer-supported-arch.patch
  main/compiler-rt/sanitizer-x86_64-execinfo.patch
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: build with XRay
  main/compiler-rt/APKBUILD
  main/compiler-rt/xray-ppc64-musl.patch
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: drop subpackage -static
  main/compiler-rt/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/compiler-rt: improve aport
  main/compiler-rt/APKBUILD
Owners: @andypost, @nmeum, @ncopa

unmaintained/creduce: move from testing
  unmaintained/creduce/204.patch
  unmaintained/creduce/APKBUILD
Owners: none

community/swayr: upgrade to 0.11.2
  community/swayr/APKBUILD
Owners: @Ikke

community/broot: upgrade to 1.7.5
  community/broot/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
