Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/element-desktop: upgrade to 1.11.76
  testing/element-desktop/APKBUILD
Owners: @Ikke

community/element-web: upgrade to 1.11.76
  community/element-web/APKBUILD
Owners: @Ikke

testing/dmarc-metrics-exporter: upgrade to 1.1.0
  testing/dmarc-metrics-exporter/APKBUILD
Owners: @Ikke

community/py3-factory-boy: upgrade to 3.3.1
  community/py3-factory-boy/APKBUILD
  community/py3-factory-boy/disable-mongoengine.patch
  community/py3-factory-boy/disable-tests-version.patch
Owners: @Ikke

community/py3-authlib: upgrade to 1.3.2
  community/py3-authlib/APKBUILD
Owners: @Ikke

community/py3-websockets: upgrade to 13.0.1
  community/py3-websockets/APKBUILD
Owners: @Ikke

testing/simdutf: upgrade to 5.4.14
  testing/simdutf/APKBUILD
Owners: @Ikke

community/rebar3: upgrade to 3.24.0
  community/rebar3/APKBUILD
Owners: @Ikke

testing/art_standalone: upgrade to 0_git20240829
  testing/art_standalone/APKBUILD
Owners: @Ikke

testing/android-translation-layer: upgrade to 0_git20240813
  testing/android-translation-layer/APKBUILD
Owners: @Ikke

main/screen: upgrade to 5.0.0
  main/screen/APKBUILD
  main/screen/utmpx.patch
Owners: @andypost, @nmeum, @ncopa

community/rustlings: upgrade to 6.3.0
  community/rustlings/APKBUILD
Owners: @Ikke

main/bind: upgrade to 9.18.29
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/py3-idna: upgrade to 3.8
  main/py3-idna/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/seahorse: fix build with gcc 14
  community/seahorse/APKBUILD
  community/seahorse/avoid-c99-incompatibility.patch
  community/seahorse/fix-werror-int-conversion.patch
Owners: @Ikke

community/remind: upgrade to 05.00.04
  community/remind/APKBUILD
Owners: @Ikke

testing/dolt: upgrade to 1.42.16
  testing/dolt/APKBUILD
Owners: @Ikke

main/perl-xs-parse-keyword: upgrade to 0.45
  main/perl-xs-parse-keyword/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/iwd: upgrade to 2.20
  community/iwd/0001-p2putil-remove-static-from-const-strlen.patch
  community/iwd/APKBUILD
Owners: @Ikke

main/ell: upgrade to 0.68
  main/ell/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/speakersafetyd: upgrade to 1.0.1
  testing/speakersafetyd/APKBUILD
Owners: @Ikke

community/u-boot-asahi: upgrade to 2024.07_p1
  community/u-boot-asahi/APKBUILD
Owners: @Ikke

community/android-udev-rules: upgrade to 20240829
  community/android-udev-rules/APKBUILD
Owners: @Ikke

community/nats-server: upgrade to 2.10.19
  community/nats-server/APKBUILD
Owners: @Ikke

community/chromium: upgrade to 128.0.6613.113
  community/chromium/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 6.6.48
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 6.6.48-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 6.6.48-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/vmm_clock-lts: rebuild against kernel 6.6.48-r0
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.6.48-r0
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 6.6.48-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

community/jool-modules-lts: rebuild against kernel 6.6.48-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/forgejo: upgrade to 8.0.2
  community/forgejo/APKBUILD
Owners: @Ikke

community/nushell: upgrade to 0.97.1
  community/nushell/APKBUILD
  community/nushell/system-deps.patch
Owners: @Ikke

community/minio: upgrade to 0.20240829.014052
  community/minio/APKBUILD
Owners: @Ikke

community/sbcl: upgrade to 2.4.8
  community/sbcl/APKBUILD
Owners: @Ikke

community/peanutbutter: upgrade to 0.3
  community/peanutbutter/APKBUILD
Owners: @Ikke

community/mnc: upgrade to 0.5
  community/mnc/APKBUILD
Owners: @Ikke

community/rpm2cpio: minor improvments
  community/rpm2cpio/APKBUILD
Owners: @Ikke

community/uglify-js: upgrade to 3.19.3
  community/uglify-js/APKBUILD
Owners: @Ikke
