Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/libretro-flycast: rebuild against miniupnpc-2.3.0-r0
  testing/libretro-flycast/APKBUILD
Owners: @Ikke

community/dolphin-emu: patch fmt11 support
  community/dolphin-emu/APKBUILD
  community/dolphin-emu/fmt11.patch
Owners: @Ikke

community/i2pd: rebuild against miniupnpc-2.3.0-r0
  community/i2pd/APKBUILD
Owners: @Ikke

community/monero: rebuild against miniupnpc-2.3.0-r0
  community/monero/APKBUILD
Owners: @Ikke

community/transmission: rebuild against miniupnpc-2.3.0-r0
  community/transmission/APKBUILD
Owners: @Ikke

community/ppsspp: rebuild against miniupnpc-2.3.0-r0
  community/ppsspp/APKBUILD
Owners: @Ikke

testing/warzone2100: rebuild against miniupnpc-2.3.0-r0
  testing/warzone2100/APKBUILD
Owners: @Ikke

testing/godot: rebuild against miniupnpc-2.3.0-r0
  testing/godot/APKBUILD
Owners: @Ikke

community/dolphin-emu: rebuild against miniupnpc-2.3.0-r0
  community/dolphin-emu/APKBUILD
Owners: @Ikke

community/bitcoin: rebuild against miniupnpc-2.3.0-r0
  community/bitcoin/APKBUILD
Owners: @Ikke

testing/signal-desktop: upgrade to 7.39.0
  testing/signal-desktop/APKBUILD
  testing/signal-desktop/webrtc-rollback-red.patch
Owners: @Ikke

community/tangram: upgrade to 3.3
  community/tangram/APKBUILD
Owners: @Ikke

community/grocy: upgrade to 4.4.0
  community/grocy/APKBUILD
Owners: @Ikke

community/dotnet9-runtime: temporarily disable tests on aarch64 & armv7
  community/dotnet9-runtime/APKBUILD
Owners: @Ikke

community/minijinja-cli: upgrade to 2.7.0
  community/minijinja-cli/APKBUILD
Owners: @Ikke

community/zabbix: upgrade to 7.0.9
  community/zabbix/APKBUILD
Owners: @Ikke

community/ksmbd-tools: correct pidfile
  community/ksmbd-tools/APKBUILD
  community/ksmbd-tools/ksmbd.initd
Owners: @Ikke

testing/ghostty: remove terminfo
  testing/ghostty/APKBUILD
Owners: @Ikke

testing/py3-marshmallow: upgrade to 3.26.0
  testing/py3-marshmallow/APKBUILD
Owners: @Ikke

testing/py3-wgconfig: upgrade to version 1.1.0
  testing/py3-wgconfig/APKBUILD
Owners: @Ikke

testing/py3-poetry-dynamic-versioning: upgrade to 1.7.1
  testing/py3-poetry-dynamic-versioning/APKBUILD
Owners: @Ikke

community/py3-orjson: upgrade to 3.10.15
  community/py3-orjson/APKBUILD
Owners: @Ikke

community/py3-deprecated: upgrade to 1.2.18
  community/py3-deprecated/APKBUILD
Owners: @Ikke

community/act: add MIT license subpackage
  community/act/APKBUILD
Owners: @Ikke

community/element-web: upgrade to 1.11.91
  community/element-web/APKBUILD
Owners: @Ikke

testing/element-desktop: upgrade to 1.11.91
  testing/element-desktop/APKBUILD
Owners: @Ikke

greetd-phrog: re-enable tests
  community/greetd-phrog/APKBUILD
Owners: @Ikke

community/pulumi: skip failing test
  community/pulumi/APKBUILD
Owners: @Ikke

community/telegraf: upgrade to 1.33.1
  community/telegraf/APKBUILD
Owners: @Ikke

community/dendrite: security upgrade to 0.14.1
  community/dendrite/APKBUILD
Owners: @Ikke

scripts/bootstrap.sh: remove unused dependencies
  scripts/bootstrap.sh
Owners: none

community/py3-django-simple-captcha: upgrade to 0.6.1
  community/py3-django-simple-captcha/APKBUILD
Owners: @Ikke

community/dendrite: disable tests
  community/dendrite/APKBUILD
Owners: @Ikke

community/pv: upgrade to 1.9.31
  community/pv/APKBUILD
Owners: @Ikke

community/apt: upgrade to 2.9.26
  community/apt/APKBUILD
Owners: @Ikke

main/bind: security upgrade to 9.18.33
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: security upgrade to 9.18.33
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: security upgrade to 9.18.33
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: security upgrade to 9.18.33
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

community/lsd: move from testing
  community/lsd/APKBUILD
  community/lsd/update-libc-crate.patch
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
