Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/firefox-developer-edition: upgrade to 108.0_beta6
  testing/firefox-developer-edition/APKBUILD
Owners: @Ikke

community/pyside6: fix build
  community/pyside6/APKBUILD
Owners: @Ikke

testing/lighthouse: upgrade to 3.3.0
  testing/lighthouse/APKBUILD
Owners: @Ikke

community/chezmoi: upgrade to 2.27.2
  community/chezmoi/APKBUILD
Owners: @Ikke

community/direnv: upgrade to 2.32.2
  community/direnv/APKBUILD
Owners: @Ikke

community/liblc3: new aport
  community/liblc3/APKBUILD
Owners: @Ikke

community/pipewire: upgrade to 0.3.61
  community/pipewire/APKBUILD
Owners: @Ikke

testing/livestreamer: remove
  testing/livestreamer/APKBUILD
Owners: @Ikke

community/acme.sh: upgrade to 3.0.5
  community/acme.sh/APKBUILD
Owners: @Ikke

community/consul: security upgrade to 1.14.1
  community/consul/APKBUILD
Owners: @Ikke

community/consul: security upgrade to 1.14.1
  community/consul/APKBUILD
Owners: @Ikke

main/strongswan: add back patch for dmvpn
  main/strongswan/0001-charon-add-optional-source-and-remote-overrides-for-.patch
  main/strongswan/0002-vici-send-certificates-for-ike-sa-events.patch
  main/strongswan/0003-vici-add-support-for-individual-sa-state-changes.patch
  main/strongswan/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/strongswan: add back patch for dmvpn
  main/strongswan/0001-charon-add-optional-source-and-remote-overrides-for-.patch
  main/strongswan/0002-vici-send-certificates-for-ike-sa-events.patch
  main/strongswan/0003-vici-add-support-for-individual-sa-state-changes.patch
  main/strongswan/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/ffmpeg: enable libjxl
  community/ffmpeg/APKBUILD
Owners: @Ikke

testing/py3-ternary: new aport
  testing/py3-ternary/APKBUILD
Owners: @Ikke

community/pdns-recursor: replace _ with - in paths
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/pdns-recursor: upgrade to 4.7.4
  community/pdns-recursor/APKBUILD
Owners: @tcely

main/linux-lts: enable DEBUG_INFO_BTF for 64-bit arches
  main/linux-lts/APKBUILD
  main/linux-lts/lts.aarch64.config
  main/linux-lts/lts.ppc64le.config
  main/linux-lts/lts.s390x.config
  main/linux-lts/lts.x86_64.config
  main/linux-lts/virt.aarch64.config
  main/linux-lts/virt.ppc64le.config
  main/linux-lts/virt.x86_64.config
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.15.79-r1
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.15.79-r1
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 5.15.79-r1
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/dahdi-linux-lts: rebuild against kernel 5.15.79-r1
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.15.79-r1
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.15.79-r1
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/pahole: move from community
  main/pahole/0001-libbpf-Update-libbpf-to-the-latest-git-HEAD.patch
  main/pahole/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libdwarf: move from community and claim maintainership
  main/libdwarf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libbpf: move from community
  main/libbpf/10-consolidate-lib-dirs.patch
  main/libbpf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-uinput: fix py311 compat
  community/py3-uinput/APKBUILD
  community/py3-uinput/py311.patch
Owners: @Ikke

testing/galera: upgrade to 26.4.13
  testing/galera/APKBUILD
  testing/galera/musl-sys-poll-h.patch
Owners: @Ikke

community/galera: moved from testing
  community/galera/APKBUILD
  community/galera/fix_gcomm-test-check_evs2.patch
  community/galera/musl-page-size.patch
  community/galera/musl-sched_param.patch
  community/galera/musl-wordsize.patch
Owners: @Ikke

main/eudev: add plugdev rule and plugdev group creation
  main/eudev/99-plugdev.rules
  main/eudev/APKBUILD
  main/eudev/eudev.pre-install
Owners: @andypost, @nmeum, @ncopa

community/graphicsmagick: update secfixes
  community/graphicsmagick/APKBUILD
Owners: @Ikke

community/advancecomp: update secfixes
  community/advancecomp/APKBUILD
Owners: @Ikke

testing/fcitx5-chewing: new aport
  testing/fcitx5-chewing/APKBUILD
Owners: @Ikke

main/pjproject: security upgrade to 2.13
  main/pjproject/APKBUILD
  main/pjproject/execinfo.patch
  main/pjproject/libpjsua2-install.patch
Owners: @andypost, @nmeum, @ncopa

testing/renderdoc: upgrade to 1.22
  testing/renderdoc/APKBUILD
Owners: @Ikke

community/galera: enable working archs
  community/galera/APKBUILD
Owners: @Ikke

main/eudev: increase pkgrel
  main/eudev/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/waybar: upgrade to 0.9.16
  community/waybar/APKBUILD
Owners: @Ikke

community/py3-ipykernel: upgrade to 6.18.0
  community/py3-ipykernel/APKBUILD
  community/py3-ipykernel/deprecation-warnings.patch
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
