Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

Re-arranging the order in which cross packages are built in bootstrap.sh
  scripts/bootstrap.sh
Owners: none

Adding freshly minted abuild keys to the CBUILDROOT
  scripts/bootstrap.sh
Owners: none

community/py3-prometheus-client: upgrade to 0.11.0
  community/py3-prometheus-client/APKBUILD
Owners: @Ikke

community/conmon: upgrade to 2.0.29
  community/conmon/APKBUILD
Owners: @Ikke

community/ginkgo: upgrade to 1.16.4
  community/ginkgo/APKBUILD
Owners: @Ikke

community/py3-faker: upgrade to 8.5.0
  community/py3-faker/APKBUILD
Owners: @Ikke

main/py3-hypothesis: upgrade to 6.13.11
  main/py3-hypothesis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/vsftpd: upgrade to 3.0.4
  community/vsftpd/APKBUILD
Owners: @Ikke

community/mercurial: skip tests, builder too slow
  community/mercurial/APKBUILD
Owners: @Ikke

community/py3-pyfakefs: disable check, flaky tests
  community/py3-pyfakefs/APKBUILD
Owners: @Ikke

main/spice: add mitigation for CVE-2021-20101
  main/spice/APKBUILD
  main/spice/CVE-2021-20201.patch
Owners: @andypost, @nmeum, @ncopa

main/spice: add mitigation for CVE-2021-20101
  main/spice/APKBUILD
  main/spice/CVE-2021-20201.patch
Owners: @andypost, @nmeum, @ncopa

main/spice: add mitigation for CVE-2021-20101
  main/spice/APKBUILD
  main/spice/CVE-2021-20201.patch
Owners: @andypost, @nmeum, @ncopa

main/spice: add mitigation for CVE-2021-20101
  main/spice/APKBUILD
  main/spice/CVE-2021-20201.patch
Owners: @andypost, @nmeum, @ncopa

main/spice: add mitigation for CVE-2021-20101
  main/spice/APKBUILD
  main/spice/CVE-2021-20201.patch
Owners: @andypost, @nmeum, @ncopa

testing/xsel: move to community and claim maintainership
  community/xsel/APKBUILD
Owners: @Ikke

community/gsl: upgrade to 2.7
  community/gsl/APKBUILD
Owners: @Ikke

community/qca: upgrade to 2.3.3
  community/qca/APKBUILD
Owners: @Ikke

community/sxmo-utils: move from testing
  community/sxmo-utils/APKBUILD
  community/sxmo-utils/rootfs-etc-NetworkManager-conf.d-00-sxmo.conf
  community/sxmo-utils/rootfs-etc-polkit-1-rules.d-00-sxmo.rules
  community/sxmo-utils/rootfs-etc-polkit-1-rules.d-50-org.freedesktop.NetworkManager.rules
Owners: @Ikke

community/sxmo-xdm-config: move from testing
  community/sxmo-xdm-config/APKBUILD
  community/sxmo-xdm-config/sxmo-xdm-config.pre-deinstall
Owners: @Ikke

community/sxmo-st: move from testing
  community/sxmo-st/APKBUILD
Owners: @Ikke

community/sxmo-dwm: move from testing
  community/sxmo-dwm/APKBUILD
Owners: @Ikke

community/sxmo-surf: move from testing
  community/sxmo-surf/APKBUILD
Owners: @Ikke

community/clickclack: move from testing
  community/clickclack/APKBUILD
Owners: @Ikke

community/sxmo-dmenu: move from testing
  community/sxmo-dmenu/APKBUILD
Owners: @Ikke

community/gcc-cross-embedded: FTBFS on riscv64
  community/gcc-cross-embedded/APKBUILD
Owners: @Ikke

community/gitlab-runner: fix build on riscv64
  community/gitlab-runner/APKBUILD
  community/gitlab-runner/update-pty-for-riscv64.patch
Owners: @Ikke

community/nnn: upgrade to 4.1
  community/nnn/APKBUILD
  community/nnn/musl-fts-support.patch
Owners: @Ikke

testing/nix: upgrade to 2.3.11
  testing/nix/APKBUILD
Owners: @Ikke

community/php7: upgrade to 7.4.20
  community/php7/APKBUILD
Owners: @Ikke

community/kodi: upgrade to 19.1
  community/kodi/APKBUILD
Owners: @Ikke

main/python3: skip test_asyncio
  main/python3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtpengine-lts: rebuild against kernel 5.10.42-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.10.42-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.10.42-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 5.10.42
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.10.42-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/dahdi-linux-lts: rebuild against kernel 5.10.42-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.10.42-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alsa-lib: upgrade to 1.2.5
  main/alsa-lib/APKBUILD
  main/alsa-lib/fix-PATH_MAX-on-ppc64le.patch
  main/alsa-lib/fix-dlo.patch
Owners: @andypost, @nmeum, @ncopa
