Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/rtpengine-lts: rebuild against kernel 6.6.42-r1
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 6.6.42-r1
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 6.6.42-r1
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 6.6.42-r1
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.6.42-r1
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/py3-jaraco.text: upgrade to 3.14.0
  community/py3-jaraco.text/APKBUILD
Owners: @Ikke

community/doctl: upgrade to 1.110.0
  community/doctl/APKBUILD
Owners: @Ikke

community/virt-manager: replace cloud-init fix with upstream
  community/virt-manager/0001-virt-install-fix-cloud-init-ssh-keys.patch
  community/virt-manager/APKBUILD
Owners: @Ikke

community/doctl: enable on loongarch64
  community/doctl/APKBUILD
Owners: @Ikke

community/virt-manager: fix virt-install deps
  community/virt-manager/APKBUILD
Owners: @Ikke

community/virt-manager: backport fix for cloud-init ssh keys
  community/virt-manager/0001-virt-install-fix-cloud-init-ssh-keys.patch
  community/virt-manager/APKBUILD
Owners: @Ikke

community/minio-client: upgrade to 0.20240722.200249
  community/minio-client/APKBUILD
Owners: @Ikke

main/lxc: more fixes fox lxc-top
  main/lxc/APKBUILD
  main/lxc/lxc-top-cgroupv2.patch
Owners: @andypost, @nmeum, @ncopa

testing/pam_mount: take over maintainership
  testing/pam_mount/APKBUILD
Owners: @Ikke

testing/mesa-asahi: upgrade to tag 20240527
  testing/mesa-asahi/APKBUILD
Owners: @Ikke

main/py3-pytest: upgrade to 8.3.2
  main/py3-pytest/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/freetube: upgrade to 0.21.2
  testing/freetube/APKBUILD
Owners: @Ikke

community/php83-pecl-couchbase: upgrade to 4.2.2
  community/php83-pecl-couchbase/APKBUILD
Owners: @Ikke

community/php82-pecl-couchbase: upgrade to 4.2.2
  community/php82-pecl-couchbase/APKBUILD
Owners: @Ikke

testing/php81-pecl-couchbase: upgrade to 4.2.2
  testing/php81-pecl-couchbase/APKBUILD
Owners: @Ikke

community/py3-dumb-init: enable tests
  community/py3-dumb-init/APKBUILD
Owners: @Ikke

community/dotnet8-stage0: upgrade to 8.0.107
  community/dotnet8-stage0/APKBUILD
  community/dotnet8-stage0/runtime_100781-fix-mono-build-on-arm.patch
  community/dotnet8-stage0/runtime_disable-crossgen-on-riscv64.patch
  community/dotnet8-stage0/runtime_disable-local-exec-tls-riscv64.patch
  community/dotnet8-stage0/runtime_more-clang-16-suppression.patch
  community/dotnet8-stage0/runtime_remove-usage-of-off64-t.patch
  community/dotnet8-stage0/runtime_reverse-101869-transition-1es-template-work.patch
Owners: @Ikke

testing/release-plz: upgrade to 0.3.79
  testing/release-plz/APKBUILD
Owners: @Ikke

testing/cargo-shuttle: upgrade to 0.47.0
  testing/cargo-shuttle/APKBUILD
Owners: @Ikke

testing/protoc-gen-js: upgrade to 3.21.4
  testing/protoc-gen-js/APKBUILD
Owners: @Ikke

testing/walk-sor: fix doc installation
  testing/walk-sor/APKBUILD
Owners: @Ikke

community/pulseaudio: rename 50-pulseaudio.conf to 51-pulseaudio.conf
  community/pulseaudio/51-pulseaudio.conf
  community/pulseaudio/APKBUILD
Owners: @Ikke

community/benchmark: upgrade to 1.8.5
  community/benchmark/APKBUILD
Owners: @Ikke

community/perl-business-isbn-data: upgrade to 20240725.001
  community/perl-business-isbn-data/APKBUILD
Owners: @Ikke

main/py3-mako: upgrade to 1.3.5
  main/py3-mako/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/c-ares: upgrade to 1.32.3
  main/c-ares/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/qtkeychain: upgrade to 0.14.3
  community/qtkeychain/APKBUILD
Owners: @Ikke

community/py3-phonenumbers: upgrade to 8.13.40
  community/py3-phonenumbers/APKBUILD
Owners: @Ikke

main/bind: security upgrade to 9.18.28
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

testing/castero: rebuild against python 3.12, switch to gpep517
  testing/castero/APKBUILD
  testing/castero/fix-display-tests.patch
Owners: @Ikke

testing/py3-pycolorterm: rebuild against python 3.12, switch to gpep517, enable tests
  testing/py3-pycolorterm/APKBUILD
  testing/py3-pycolorterm/assert-equal-tests.patch
Owners: @Ikke

testing/py3-kerberos: rebuild against python 3.12
  testing/py3-kerberos/APKBUILD
Owners: @Ikke

testing/py3-clickclick: rebuild against python 3.12
  testing/py3-clickclick/APKBUILD
Owners: @Ikke

testing/py3-sphinxcontrib-actdiag: rebuild against python 3.12
  testing/py3-sphinxcontrib-actdiag/APKBUILD
Owners: @Ikke

community/docker-cli-buildx: upgrade to 0.16.2
  community/docker-cli-buildx/APKBUILD
Owners: @Ikke
