Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

main/keyutils: link libkeyutils.so to ../../lib/libkeyutils.so.1
  main/keyutils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/webkit2gtk: upgrade to 2.24.2
  community/webkit2gtk/APKBUILD
  community/webkit2gtk/fix-fast-memory-disabled.patch
  community/webkit2gtk/fix-openjpeg.patch
  community/webkit2gtk/fix_armv6l.patch
  community/webkit2gtk/musl-fixes.patch
Owners: @Ikke

community/webkit2gtk: upgrade to 2.24.2
  community/webkit2gtk/APKBUILD
  community/webkit2gtk/fix-fast-memory-disabled.patch
  community/webkit2gtk/fix-openjpeg.patch
  community/webkit2gtk/fix_armv6l.patch
  community/webkit2gtk/musl-fixes.patch
Owners: @Ikke

main/keyutils: link libkeyutils.so to ../../lib/libkeyutils.so.1
  main/keyutils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/check: enable fork
  main/check/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/harfbuzz: upgrade to 2.5.3
  main/harfbuzz/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/e2fsprogs: upgrade to 1.45.3
  main/e2fsprogs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/webkit2gtk: upgrade to 2.24.3 and enable on arm
  community/webkit2gtk/APKBUILD
  community/webkit2gtk/fix_armv6l.patch
Owners: @Ikke

community/webkit2gtk: enable on x86
  community/webkit2gtk/APKBUILD
Owners: @Ikke

community/webkit2gtk: upgrade to 2.24.3 and enable on arm
  community/webkit2gtk/APKBUILD
  community/webkit2gtk/fix_armv6l.patch
Owners: @Ikke

community/webkit2gtk: enable on x86
  community/webkit2gtk/APKBUILD
Owners: @Ikke

community/ocaml: update to 4.08.0
  community/ocaml/APKBUILD
  community/ocaml/compile-without-debug-info.patch
  community/ocaml/fix-check-parser-uptodate-or-warn.sh.patch
  community/ocaml/fix-mcontext-fields.patch
  community/ocaml/fix-segfault-in-ppc64le.patch
Owners: @Ikke

testing/gitlab-runner: new aport
  testing/gitlab-runner/APKBUILD
Owners: @Ikke

main/iso-codes: upgrade to 4.3
  main/iso-codes/APKBUILD
Owners: @andypost, @nmeum, @ncopa

abuild.in: make is_x_package functions reliant on being given a name
  abuild.in
Owners: none

testing/shairport-sync: upgrade to 3.3.1
  testing/shairport-sync/APKBUILD
Owners: @Ikke

main/termrec: add workaround to prevent test to run forever
  main/termrec/APKBUILD
  main/termrec/prevent-test-hang.patch
Owners: @andypost, @nmeum, @ncopa

main/termrec: disable test that fails
  main/termrec/APKBUILD
  main/termrec/disable-fuzz-test.patch
  main/termrec/prevent-test-hang.patch
Owners: @andypost, @nmeum, @ncopa

main/nss: upgrade to 3.45
  main/nss/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/e2fsprogs: upgrade to 1.45.3
  main/e2fsprogs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/tiny-ec2-bootstrap: upgrade to 1.3.0
  main/tiny-ec2-bootstrap/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/firefox-esr: upgrade to 68.0
  community/firefox-esr/0002-Use-C99-math-isfinite.patch
  community/firefox-esr/APKBUILD
  community/firefox-esr/disable-hunspell_hooks.patch
  community/firefox-esr/disable-moz-stackwalk.patch
  community/firefox-esr/fix-arm-version-detect.patch
  community/firefox-esr/fix-bug-1261392.patch
  community/firefox-esr/fix-fortify-inline.patch
  community/firefox-esr/fix-musl.patch
  community/firefox-esr/fix-rust-target.patch
  community/firefox-esr/fix-rust.patch
  community/firefox-esr/fix-sandbox-membarrier.patch
  community/firefox-esr/fix-seccomp-bpf.patch
  community/firefox-esr/fix-stack-overflow.patch
  community/firefox-esr/fix-toolkit.patch
  community/firefox-esr/fix-tools.patch
  community/firefox-esr/fix-webrtc-glibcisms.patch
  community/firefox-esr/mallinfo.patch
  community/firefox-esr/mozilla-build-arm.patch
  community/firefox-esr/rust-unitialized-field.patch
Owners: @Ikke

community/firefox-esr: update secfixes comment
  community/firefox-esr/APKBUILD
Owners: @Ikke

main/mozjs60: security upgrade to 60.7.2
  main/mozjs60/APKBUILD
Owners: @andypost, @nmeum, @ncopa

make default_static depend on depends_static
  APKBUILD.5
  abuild.in
Owners: none

main/libcrystalhd: Enable aarch64 Support
  main/libcrystalhd/APKBUILD
  main/libcrystalhd/add-aarch64-support.patch
Owners: @andypost, @nmeum, @ncopa

newapkbuild: add py3-setuptools to python apkbuild
  newapkbuild.in
Owners: none

newapkbuild: make python packages only depend on setuptools
  newapkbuild.in
Owners: none

abuild-fetch: when http:// was used, ignore https:// problems
  abuild-fetch.c
Owners: none

abuild-fetch: add -k (insecure as in curl) option
  abuild-fetch.c
Owners: none

abuild-fetch: use local insecure variable
  abuild-fetch.c
Owners: none

Better use license.lst in abuild sanitycheck
  abuild.in
Owners: none

main/gcc: Add libstdc++-dev subpackage
  main/gcc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

abuild.in: fixup flags and usage text
  abuild.in
Owners: none

main/alpine-git-mirror-syncd: security upgrade to 0.3.1
  main/alpine-git-mirror-syncd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

change ~ to /home/pdietl
  abuild.in
Owners: none

main/alpine-git-mirror-syncd: security upgrade to 0.3.1
  main/alpine-git-mirror-syncd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alpine-git-mirror-syncd: security upgrade to 0.3.1
  main/alpine-git-mirror-syncd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alpine-git-mirror-syncd: security upgrade to 0.3.1
  main/alpine-git-mirror-syncd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

abuild: add SOURCE_DATE_EPOCH support
  abuild-sign.in
  abuild.in
Owners: none
