Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/hyperfine: upgrade to 1.9.0
  testing/hyperfine/APKBUILD
Owners: @Ikke

community/gparted: enable polkit support
  community/gparted/APKBUILD
Owners: @Ikke

testing/deluge: add missing dependency on py3-cairo
  testing/deluge/APKBUILD
Owners: @Ikke

main/gnupg: upgrade to 2.2.18
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libepoxy: upgrade to 1.5.4
  main/libepoxy/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py-dbus: upgrade to 1.2.14
  main/py-dbus/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gtk+3.0: add patch fixing crashing of applications on Wayland when using a stylus
  main/gtk+3.0/1121.patch
  main/gtk+3.0/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/nodejs-current: upgrade to 13.2.0
  community/nodejs-current/APKBUILD
Owners: @Ikke

rebuild for protobuf-3.11.0
  community/bitcoin/APKBUILD
  community/dnsdist/APKBUILD
  community/grpc/APKBUILD
  community/libphonenumber/APKBUILD
  community/mumble/APKBUILD
  community/namecoin/APKBUILD
  community/pdns-recursor/APKBUILD
  community/pdns/APKBUILD
  community/rethinkdb/APKBUILD
  community/rippled/APKBUILD
  main/mosh/APKBUILD
  main/protobuf-c/APKBUILD
  testing/ostinato/APKBUILD
Owners: @Ikke, @tcely, @andypost, @nmeum, @ncopa

main/protobuf: upgrade to 3.11.0
  main/protobuf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/haproxy: upgrade to 2.1.0
  main/haproxy/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ncurses: upgrade to 6.1_p20191123
  main/ncurses/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/libsoup: add missing secfixes comment
  community/libsoup/APKBUILD
Owners: @Ikke

community/libsoup: fix CVE-2019-17266
  community/libsoup/APKBUILD
  community/libsoup/CVE-2019-17266.patch
Owners: @Ikke

testing/libsignal-protocol-c: new aport
  testing/libsignal-protocol-c/APKBUILD
Owners: @Ikke

community/muacme: upgrade to 0.2.0
  community/muacme/APKBUILD
Owners: @Ikke

testing/libmesode: new aport
  testing/libmesode/10-patch-configure.patch
  testing/libmesode/APKBUILD
Owners: @Ikke

testing/profanity: new aport
  testing/profanity/APKBUILD
Owners: @Ikke

testing/bpftrace: upgrade to 0.9.3
  testing/bpftrace/APKBUILD
Owners: @Ikke

testing/uglify-js: new aport
  testing/uglify-js/APKBUILD
Owners: @Ikke

testing/uglifycss: new aport
  testing/uglifycss/APKBUILD
Owners: @Ikke

testing/libsignal-protocol-c: disable a test on s390x
  testing/libsignal-protocol-c/APKBUILD
Owners: @Ikke

testing/lynis: new aport
  testing/lynis/APKBUILD
  testing/lynis/lynis.cron
Owners: @Ikke

community/php7-pecl-vips: disable on ppc6el4 because of unsupported vips depend
  community/php7-pecl-vips/APKBUILD
Owners: @Ikke

main/iproute2: upgrade to 5.4.0
  main/iproute2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/filezilla: upgrade to 3.46.0
  community/filezilla/APKBUILD
Owners: @Ikke

community/go-md2man: fix cleanup
  community/go-md2man/APKBUILD
Owners: @Ikke

testing/py3-html2text: new aport
  testing/py3-html2text/APKBUILD
Owners: @Ikke

testing/py3-rss2email: new aport
  testing/py3-rss2email/APKBUILD
Owners: @Ikke

community/libhandy: disable on s390x
  community/libhandy/APKBUILD
Owners: @Ikke

community/ruby-ffi: upgrade to 1.11.3
  community/ruby-ffi/APKBUILD
Owners: @Ikke

testing/imapfilter: upgrade to 2.6.16
  testing/imapfilter/APKBUILD
Owners: @Ikke

testing/py3-parameterized: upgrade to 0.7.1
  testing/py3-parameterized/APKBUILD
Owners: @Ikke

testing/font-overpass: upgrade to 3.0.4
  testing/font-overpass/APKBUILD
Owners: @Ikke

community/py3-hypothesis: upgrade to 4.47.3
  community/py3-hypothesis/APKBUILD
Owners: @Ikke

testing/py3-typing-extensions: drop unnecessary dependency on py3-typing
  testing/py3-typing-extensions/APKBUILD
Owners: @Ikke

community/go-md2man: use chmod instead of rm
  community/go-md2man/APKBUILD
Owners: @Ikke

abuild: set SOURCE_DATE_EPOCH from rootpkg
  abuild.in
Owners: none

==== release 3.5.0_rc2 ====
  Makefile
Owners: none

main/abuild: upgrade to 3.5.0_rc2
  main/abuild/0001-Revert-abuild-make-built-package-reproducible.patch
  main/abuild/0001-abuild-Fix-abuild-rootbld.patch
  main/abuild/APKBUILD
Owners: @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
