Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

main/cjdns: fix time64 FTBFS
  main/cjdns/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gobject-introspection: work around 64 bit time_t
  main/gobject-introspection/APKBUILD
  main/gobject-introspection/musl-time64.patch
Owners: @andypost, @nmeum, @ncopa

main/libical: re-enable introspection and vala
  main/libical/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sqlite-tcl: upgrade to 3.32.3
  main/sqlite-tcl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alpine-mirrors: remove
  main/alpine-mirrors/APKBUILD
  main/alpine-mirrors/mirrors.yaml
Owners: @andypost, @nmeum, @ncopa

main/py3-coverage: move from community
  main/py3-coverage/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/cjdns: add missing patch
  main/cjdns/0001-seccomp-handle-__NR_clock_gettime64-when-appropriate.patch
Owners: @andypost, @nmeum, @ncopa

testing/kubernetes: tweak env variables
  testing/kubernetes/APKBUILD
  testing/kubernetes/kube-apiserver.initd
  testing/kubernetes/kube-controller-manager.initd
  testing/kubernetes/kube-proxy.initd
  testing/kubernetes/kube-scheduler.initd
  testing/kubernetes/kubelet.initd
Owners: @Ikke

testing/calligra: disable on mips
  testing/calligra/APKBUILD
Owners: @Ikke

main/gphoto2: backport fix for testsuite
  main/gphoto2/APKBUILD
  main/gphoto2/FlashpixVersion.patch
Owners: @andypost, @nmeum, @ncopa

testing/aports-glmr: disable on mips
  testing/aports-glmr/APKBUILD
Owners: @Ikke

community/gnome-desktop: bump to help 32-bit builders out
  community/gnome-desktop/APKBUILD
Owners: @Ikke

testing/hydroxide: disable on mips
  testing/hydroxide/APKBUILD
Owners: @Ikke

testing/horizon: add mips64 host defines
  testing/horizon/APKBUILD
  testing/horizon/mips64-host.patch
Owners: @Ikke

testing/ptex: disable on mips
  testing/ptex/APKBUILD
Owners: @Ikke

testing/bazel3: disable on mips
  testing/bazel3/APKBUILD
Owners: @Ikke

testing/breezy: new aport
  testing/breezy/APKBUILD
Owners: @Ikke

testing/linux-edge: upgrade to 5.7.10
  testing/linux-edge/APKBUILD
  testing/linux-edge/config-edge.aarch64
  testing/linux-edge/config-edge.armv7
  testing/linux-edge/config-edge.x86_64
Owners: @Ikke

community/kodi: upgrade to 18.7.1
  community/kodi/0001-Compatibility-with-libmicrohttpd-0.9.71.patch
  community/kodi/APKBUILD
Owners: @Ikke

main/py3-urllib3: upgrade to 1.25.10
  main/py3-urllib3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mesa: upgrade to 20.1.4
  main/mesa/APKBUILD
  main/mesa/missing-dep-on-sha1_h.patch
Owners: @andypost, @nmeum, @ncopa

community/py3-distributed: upgrade to 2.21.0
  community/py3-distributed/APKBUILD
Owners: @Ikke

community/py3-regex: upgrade to 2020.7.14
  community/py3-regex/APKBUILD
Owners: @Ikke

community/influxdb: upgrade to 1.8.1
  community/influxdb/APKBUILD
Owners: @Ikke

testing/telegraf: upgrade to 1.15.1
  testing/telegraf/APKBUILD
Owners: @Ikke

main/linux-rpi: upgrade to 5.4.53
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-rpi: rebuild against kernel 5.4.53-r0
  community/jool-modules-rpi/APKBUILD
Owners: @Ikke

community/wireguard-rpi: rebuild against kernel 5.4.53-r0
  community/wireguard-rpi/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.4.53-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/jool-modules-lts: rebuild against kernel 5.4.53-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.4.53
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/drbd-lts: rebuild against kernel 5.4.53-r0
  main/drbd-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.4.53-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-lts: rebuild against kernel 5.4.53-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-lts: rebuild against kernel 5.4.53-r0
  community/wireguard-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.4.53-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtualbox-guest-modules-lts: rebuild against kernel 5.4.53-r0
  community/virtualbox-guest-modules-lts/APKBUILD
Owners: @Ikke

scripts/mkimg.base.sh: remove unused alpine-mirrors
  scripts/mkimg.base.sh
Owners: none

community/xfce4-whiskermenu-plugin: upgrade to 2.4.6
  community/xfce4-whiskermenu-plugin/APKBUILD
Owners: @Ikke

main/knot: disable on 32bit arches
  main/knot/APKBUILD
Owners: @andypost, @nmeum, @ncopa
