Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/rethinkdb: update tarball URL
  community/rethinkdb/APKBUILD
Owners: @Ikke

community/qemu: run pre-install as pre-upgrade hook so users are created during upgrade
  community/qemu/APKBUILD
  community/qemu/qemu.pre-install
  community/qemu/qemu.pre-upgrade
Owners: @Ikke

community/qemu: run pre-install as pre-upgrade hook so users are created during upgrade
  community/qemu/APKBUILD
  community/qemu/qemu.pre-install
  community/qemu/qemu.pre-upgrade
Owners: @Ikke

testing/yubioath-desktop: new aport
  testing/yubioath-desktop/APKBUILD
Owners: @Ikke

testing/qownnotes: upgrade to 20.6.2
  testing/qownnotes/APKBUILD
Owners: @Ikke

testing/openwsman: upgrade to 2.7.0
  testing/openwsman/APKBUILD
Owners: @Ikke

community/certbot-nginx: upgrade to 1.5.0
  community/certbot-nginx/APKBUILD
Owners: @Ikke

community/certbot-apache: upgrade to 1.5.0
  community/certbot-apache/APKBUILD
Owners: @Ikke

community/gtk4.0: revert upgrade to 3.98.5
  community/gtk4.0/APKBUILD
Owners: @Ikke

community/cloudi: Disable tests
  community/cloudi/APKBUILD
Owners: @Ikke

community/gnome-feeds: add missing deps: py3-gobject3 and py3-pygments
  community/gnome-feeds/APKBUILD
Owners: @Ikke

community/gnome-feeds: add missing deps: py3-gobject3 and py3-pygments
  community/gnome-feeds/APKBUILD
Owners: @Ikke

testing/py3-liblarch: upgrade to 3.0.1
  testing/py3-liblarch/APKBUILD
Owners: @Ikke

testing/prometheus-node-exporter: disable on mips64 due to missing go
  testing/prometheus-node-exporter/APKBUILD
Owners: @Ikke

community/librsvg: upgrade to 2.48.7
  community/librsvg/APKBUILD
Owners: @Ikke

community/rust: upgrade to 1.44.0
  community/rust/497f879b1e24c369362bcd821959ffabc50a8a31.patch
  community/rust/APKBUILD
  community/rust/a94fa896cc92d5e0678376cf5aa8b64af0899732.patch
  community/rust/alpine-move-py-scripts-to-share.patch
  community/rust/musl-fix-static-linking.patch
  community/rust/need-rpath.patch
  community/rust/python3.patch
  community/rust/static-pie.patch
Owners: @Ikke

community/herbstluftwm: upgrade to 0.8.3
  community/herbstluftwm/APKBUILD
Owners: @Ikke

testing/mir-core: upgrade to 1.1.7
  testing/mir-core/APKBUILD
Owners: @Ikke

main/py3-gobject3: fix tests
  main/py3-gobject3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/victoria-metrics: upgrade to 1.37.0
  testing/victoria-metrics/APKBUILD
Owners: @Ikke

testing/lite-editor: upgrade to 1.06
  testing/lite-editor/APKBUILD
  testing/lite-editor/dont-assume-local-project.patch
Owners: @Ikke

testing/py3-flask-httpauth: upgrade to 4.1.0
  testing/py3-flask-httpauth/APKBUILD
Owners: @Ikke

testing/py3-flask-flatpages: upgrade to 0.7.2
  testing/py3-flask-flatpages/APKBUILD
Owners: @Ikke

testing/py3-columnize: upgrade to 0.3.10
  testing/py3-columnize/APKBUILD
Owners: @Ikke

testing/py3-discogs-client: upgrade to 2.3.0
  testing/py3-discogs-client/APKBUILD
Owners: @Ikke

testing/py3-codecov: upgrade to 2.1.4
  testing/py3-codecov/APKBUILD
Owners: @Ikke

main/perl-dbd-pg: upgrade to 3.12.3
  main/perl-dbd-pg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ncurses: upgrade to 6.2_p20200606
  main/ncurses/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-django-taggit: upgrade to 1.3.0
  testing/py3-django-taggit/APKBUILD
Owners: @Ikke

main/py3-certifi: upgrade to 2020.4.5.2
  main/py3-certifi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/linux-edge: upgrade to 5.6.17
  testing/linux-edge/APKBUILD
  testing/linux-edge/config-edge.aarch64
  testing/linux-edge/config-edge.armv7
  testing/linux-edge/config-edge.x86_64
Owners: @Ikke

testing/paperkey: new aport
  testing/paperkey/APKBUILD
Owners: @Ikke

testing/mautrix-whatsapp: upgrade to 0.1.1
  testing/mautrix-whatsapp/APKBUILD
Owners: @Ikke

community/gkraken: upgrade to 0.14.3
  community/gkraken/APKBUILD
Owners: @Ikke

main/haproxy: upgrade to 2.1.6
  main/haproxy/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/wlrobs: new aport
  testing/wlrobs/APKBUILD
Owners: @Ikke

community/py3-asn1-modules: upgrade to 0.2.8
  community/py3-asn1-modules/APKBUILD
  main/py3-asn1/APKBUILD
Owners: @Ikke, @andypost, @nmeum, @ncopa

main/py3-asn1: upgrade to 0.4.8
  main/py3-asn1/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/chromium: upgrade to 83.0.4103.97
  community/chromium/APKBUILD
Owners: @Ikke

testing/py3-astroid: upgrade to 2.4.2
  testing/py3-astroid/APKBUILD
Owners: @Ikke
