Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/nwg-launchers: upgrade to 0.3.0
  testing/nwg-launchers/APKBUILD
Owners: @Ikke

community/php7: upgrade to 7.3.21
  community/php7/APKBUILD
Owners: @Ikke

community/php7: upgrade to 7.4.9
  community/php7/78008-dns_check_record-74.patch
  community/php7/APKBUILD
Owners: @Ikke

community/py3-validators: upgrade to 0.17.1
  community/py3-validators/APKBUILD
Owners: @Ikke

community/tumbler: upgrade to 0.2.9
  community/tumbler/APKBUILD
Owners: @Ikke

main/perl-module-scandeps: upgrade to 1.28
  main/perl-module-scandeps/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/busybox: add missing secfixes info
  main/busybox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/containerd: add default config file
  community/containerd/APKBUILD
Owners: @Ikke

community/isync: upgrade to 1.3.3
  community/isync/APKBUILD
Owners: @Ikke

community/perl-data-dumper: fix conflict with perl-doc
  community/perl-data-dumper/APKBUILD
Owners: @Ikke

testing/mongo-php7-library: upgrade to 1.7.0
  testing/mongo-php7-library/APKBUILD
Owners: @Ikke

testing/musescore: upgrade to 3.5
  testing/musescore/APKBUILD
Owners: @Ikke

community/babl: upgrade to 0.1.80
  community/babl/APKBUILD
Owners: @Ikke

community/stellarium: upgrade to 0.20.2
  community/stellarium/APKBUILD
Owners: @Ikke

testing/musescore: disable on s390x due to texlive
  testing/musescore/APKBUILD
Owners: @Ikke

testing/postfwd: upgrade to 2.03
  testing/postfwd/APKBUILD
Owners: @Ikke

community/py3-boto3: upgrade to 1.14.34
  community/py3-boto3/APKBUILD
Owners: @Ikke

community/py3-botocore: upgrade to 1.17.34
  community/py3-botocore/APKBUILD
Owners: @Ikke

community/py3-hyperlink: upgrade to 20.0.1
  community/py3-hyperlink/APKBUILD
Owners: @Ikke

main/libx11: upgrade to 1.6.11
  main/libx11/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/howard-bc: upgrade to 3.1.5
  testing/howard-bc/APKBUILD
Owners: @Ikke

community/gegl: upgrade to 0.4.26
  community/gegl/APKBUILD
Owners: @Ikke

main/mesa: upgrade to 20.1.5
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libx11: upgrade to 1.6.11
  main/libx11/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/bash-completion: upgrade to 2.11
  main/bash-completion/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/range-v3: upgrade to 0.11.0
  community/range-v3/APKBUILD
Owners: @Ikke

community/*: rebuild against libgps.so.27
  community/ntpsec/APKBUILD
  community/opencpn/APKBUILD
  community/stellarium/APKBUILD
Owners: @tcely, @Ikke

main/gpsd: upgrade to 3.21
  main/gpsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/marble: rebuild against libgps.so.27
  community/marble/APKBUILD
  community/marble/fix-gpsd-3.21.patch
Owners: @Ikke

community/plasma-workspace: rebuild against libgps.so.27
  community/plasma-workspace/APKBUILD
  community/plasma-workspace/fix-with-gpsd-3.21.patch
Owners: @Ikke

unmaintained/foxtrotgps: move from testing
  unmaintained/foxtrotgps/APKBUILD
  unmaintained/foxtrotgps/fix-timespec.patch
Owners: none

community/py3-boto3: add missing checksum
  community/py3-boto3/APKBUILD
Owners: @Ikke

main/strace: upgrade to 5.8
  main/strace/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/grafana: upgrade to 7.1.3
  testing/grafana/APKBUILD
Owners: @Ikke

community/containerd: upgrade to 1.3.7
  community/containerd/APKBUILD
Owners: @Ikke

community/runc: upgrade to 1.0.0_rc92
  community/runc/APKBUILD
Owners: @Ikke

testing/gcc-cross-embedded: upgrade to 9.3.0
  testing/gcc-cross-embedded/APKBUILD
Owners: @Ikke

community/perl-html-mason-psgihandler: move from main
  community/perl-html-mason-psgihandler/APKBUILD
Owners: @Ikke

community/perl-plack: move from main
  community/perl-plack/APKBUILD
Owners: @Ikke

community/perl-html-mason-psgihandler: modernize
  community/perl-html-mason-psgihandler/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
