Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/fennel: upgrade to 1.6.1
  community/fennel/APKBUILD
Owners: @Ikke

community/py3-pygit2: upgrade to 1.19.1
  community/py3-pygit2/APKBUILD
Owners: @Ikke

community/conduit: upgrade to 0.10.11
  community/conduit/APKBUILD
Owners: @Ikke

testing/tuwunel: upgrade to 1.4.9
  testing/tuwunel/APKBUILD
Owners: @Ikke

testing/pwndbg: new aport
  testing/pwndbg/APKBUILD
Owners: @Ikke

testing/ropgadget: new aport
  testing/ropgadget/APKBUILD
Owners: @Ikke

testing/pwntools: new aport
  testing/pwntools/APKBUILD
Owners: @Ikke

testing/mangowc: upgrade to 0.10.9
  testing/mangowc/APKBUILD
Owners: @Ikke

community/yazi: upgrade to 25.12.29
  community/yazi/APKBUILD
  community/yazi/system-lua.patch
Owners: @Ikke

CODINGSTYLE.md: remove extra )
  CODINGSTYLE.md
Owners: none

testing/jreleaser: upgrade to 1.22.0
  testing/jreleaser/APKBUILD
Owners: @Ikke

main/mesa: enable vulkan-nouveau on aarch64
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mesa: enable vulkan-intel on aarch64
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/imake: upgrade to 1.0.11
  main/imake/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libtraceevent: upgrade to 1.8.7
  main/libtraceevent/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/openbgpd: upgrade to 9.0
  community/openbgpd/APKBUILD
Owners: @Ikke

testing/nfcd: upgrade to 1.2.4
  testing/nfcd/APKBUILD
Owners: @Ikke

testing/miracle-wm: upgrade to 0.8.3
  testing/miracle-wm/0002-task-remove-version-checks-in-order-to-assume-latest.patch
  testing/miracle-wm/APKBUILD
Owners: @Ikke

main/imake: update config.{guess,sub}
  main/imake/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/linux-asahi: upgrade to 6.17.12_p1
  testing/linux-asahi/APKBUILD
  testing/linux-asahi/config-asahi.aarch64
Owners: @Ikke

main/opensbi: upgrade to 1.8
  main/opensbi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/u-boot: rebuild against opensbi-1.8
  main/u-boot/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/u-boot-asahi: upgrade to 2025.10_p1
  community/u-boot-asahi/APKBUILD
Owners: @Ikke

ci: remove docker-alpine tag from build jobs
  .gitlab-ci.yml
Owners: none

ci: remove docker-alpine tag from build jobs
  .gitlab-ci.yml
Owners: none

ci: remove docker-alpine tag from build jobs
  .gitlab-ci.yml
Owners: none

ci: remove docker-alpine tag from build jobs
  .gitlab-ci.yml
Owners: none

ci: remove docker-alpine tag from build jobs
  .gitlab-ci.yml
Owners: none

community/vaultwarden: upgrade to 1.35.1
  community/vaultwarden/APKBUILD
Owners: @Ikke

community/zabbix: upgrade to 7.4.6
  community/zabbix/APKBUILD
Owners: @Ikke

testing/lgogdownloader: upgrade to 3.18
  testing/lgogdownloader/APKBUILD
Owners: @Ikke

community/typos: upgrade to 1.41.0
  community/typos/APKBUILD
Owners: @Ikke

community/bcachefs-tools: upgrade to 1.34.0
  community/bcachefs-tools/APKBUILD
Owners: @Ikke

testing/horizon: use cmake3.5 to fix build
  testing/horizon/APKBUILD
Owners: @Ikke

community/forgejo-runner: upgrade to 12.4.0
  community/forgejo-runner/APKBUILD
Owners: @Ikke

community/aws-cli: upgrade to 2.32.26
  community/aws-cli/APKBUILD
Owners: @Ikke

community/hkdm: upgrade to 0.3.1
  community/hkdm/APKBUILD
Owners: @Ikke

community/gnss-share: add -systemd subpackage
  community/gnss-share/APKBUILD
Owners: @Ikke

community/tvheadend: fix version number
  community/tvheadend/APKBUILD
Owners: @Ikke

community/tvheadend: fix iconv error on startup
  community/tvheadend/APKBUILD
Owners: @Ikke
