Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/py3-niapy: upgrade to 2.6.0
  community/py3-niapy/APKBUILD
Owners: @Ikke

community/docker: upgrade to 29.0.2
  community/docker/APKBUILD
Owners: @Ikke

testing/ruby-minitest-server: upgrade to 1.0.9
  testing/ruby-minitest-server/APKBUILD
Owners: @Ikke

main/bind: upgrade to 9.20.16
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: upgrade to 9.20.16
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

community/docker-cli-buildx: upgrade to 0.30.1
  community/docker-cli-buildx/APKBUILD
Owners: @Ikke

scripts/mkimg.base.sh: fix boot on old Macs
  scripts/mkimg.base.sh
Owners: none

scripts/mkimg.base.sh: add link about old bug on old macs
  scripts/mkimg.base.sh
Owners: none

testing/hyfetch: update to 2.0.5
  testing/hyfetch/APKBUILD
Owners: @Ikke

testing/charta: upgrade to 0.8.2
  testing/charta/APKBUILD
Owners: @Ikke

community/gitlab-runner: upgrade to 18.6.1
  community/gitlab-runner/APKBUILD
  community/gitlab-runner/syslog-log-format.patch
  community/gitlab-runner/update-go-mod.patch
  community/gitlab-runner/use-logrus-syslog-hook.patch
Owners: @Ikke

community/gitlab-runner: upgrade to 18.6.1
  community/gitlab-runner/APKBUILD
  community/gitlab-runner/syslog-log-format.patch
  community/gitlab-runner/update-go-mod.patch
  community/gitlab-runner/use-logrus-syslog-hook.patch
Owners: @Ikke

community/flatpak: subpackage -systemd
  community/flatpak/APKBUILD
Owners: @Ikke

community/gcompris-qt: fix build with qt6 6.10.0
  community/gcompris-qt/APKBUILD
  community/gcompris-qt/qt6-private-modules.patch
Owners: @Ikke

community/mold: exclude broken x86_64 tests
  community/mold/APKBUILD
Owners: @Ikke

community/lite-xl: patch CVE-2025-12121
  community/lite-xl/APKBUILD
  community/lite-xl/cve-2025-12121-remove-legacy-exec-function.patch
Owners: @Ikke

community/lite-xl: upgrade to 2.1.8
  community/lite-xl/APKBUILD
Owners: @Ikke

main/busybox: patch CVE-2025-46394
  main/busybox/0001-tar-fix-16018-masking-of-potentially-malicious-tar-cpio-content.patch
  main/busybox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/busybox: patch CVE-2024-58251
  main/busybox/0001-netstat-sanitize-process-names.patch
  main/busybox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libxcb: enable -dbg subpackage
  main/libxcb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/salt-lts: upgrade to 3006.17
  community/salt-lts/APKBUILD
  community/salt-lts/match_hostname.patch
Owners: @Ikke

community/aws-session-manager-plugin: upgrade to 1.2.764.0
  community/aws-session-manager-plugin/003_version.patch
  community/aws-session-manager-plugin/APKBUILD
Owners: @Ikke

community/salt: upgrade to 3007.9
  community/salt/APKBUILD
Owners: @Ikke

community/perl-ppi: upgrade to 1.284
  community/perl-ppi/APKBUILD
Owners: @Ikke

community/qbittorrent: upgrade to 5.1.4
  community/qbittorrent/APKBUILD
Owners: @Ikke

main/mariadb: upgrade to 11.4.9
  main/mariadb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/vim: upgrade to 9.1.1924
  main/vim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/trealla: upgrade to 2.85.9
  community/trealla/APKBUILD
Owners: @Ikke

community/glab: upgrade to 1.78.2
  community/glab/APKBUILD
  community/glab/unbump_go.patch
Owners: @Ikke

community/yq-go: upgrade to 4.49.1
  community/yq-go/APKBUILD
Owners: @Ikke

community/telegram-desktop: upgrade to 6.3.3
  community/telegram-desktop/APKBUILD
Owners: @Ikke

main/busybox: increase LAST_ID to 2^31-1
  main/busybox/APKBUILD
  main/busybox/busyboxconfig
Owners: @andypost, @nmeum, @ncopa

testing/neocmakelsp: upgrade to 0.9.0
  testing/neocmakelsp/APKBUILD
  testing/neocmakelsp/loongarch64-downgrade-libc.patch
Owners: @Ikke

community/sxmo-utils: upgrade to 1.18.1
  community/sxmo-utils/APKBUILD
Owners: @Ikke

testing/opentelemetry-cpp: upgrade to 1.24.0
  testing/opentelemetry-cpp/APKBUILD
  testing/opentelemetry-cpp/gcc15.patch
  testing/opentelemetry-cpp/s390x-endianness.patch
Owners: @Ikke

testing/py3-beartype: upgrade to 0.22.6
  testing/py3-beartype/APKBUILD
Owners: @Ikke

community/tailscale: upgrade to 1.90.8
  community/tailscale/APKBUILD
Owners: @Ikke

community/py3-cfgv: upgrade to 3.5.0
  community/py3-cfgv/APKBUILD
Owners: @Ikke

community/actionlint: upgrade to 1.7.9
  community/actionlint/APKBUILD
Owners: @Ikke

community/pass-git-helper: upgrade to 4.1.0
  community/pass-git-helper/APKBUILD
Owners: @Ikke
