Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/galera: rebuild against boost 1.77
  testing/galera/APKBUILD
Owners: @Ikke

testing/gearmand: rebuild against boost 1.77
  testing/gearmand/APKBUILD
Owners: @Ikke

testing/wesnoth: rebuild against boost 1.77
  testing/wesnoth/APKBUILD
Owners: @Ikke

testing/snapper: rebuild against boost 1.77
  testing/snapper/APKBUILD
Owners: @Ikke

testing/doas-sudo-shim: new aport
  testing/doas-sudo-shim/APKBUILD
  testing/doas-sudo-shim/help-alpine.patch
Owners: @Ikke

testing/liferea: upgrade to 1.13.7
  testing/liferea/APKBUILD
Owners: @Ikke

community/yt-dlp: upgrade to 2021.12.27
  community/yt-dlp/APKBUILD
Owners: @Ikke

community/py3-platformdirs: upgrade to 2.4.1
  community/py3-platformdirs/APKBUILD
Owners: @Ikke

testing/libjwt: new aport
  testing/libjwt/APKBUILD
Owners: @Ikke

testing/zam-plugins: new aport
  testing/zam-plugins/APKBUILD
Owners: @Ikke

testing/mda-lv2: new aport
  testing/mda-lv2/APKBUILD
Owners: @Ikke

testing/easyeffects: new aport
  testing/easyeffects/APKBUILD
Owners: @Ikke

testing/libbs2b: new aport
  testing/libbs2b/APKBUILD
Owners: @Ikke

testing/zita-convolver: fix library so version
  testing/zita-convolver/20-install-major-lib-version.patch
  testing/zita-convolver/APKBUILD
Owners: @Ikke

testing/libebur128: new aport
  testing/libebur128/APKBUILD
Owners: @Ikke

testing/calf: rebuild against libfluidsynth
  testing/calf/APKBUILD
Owners: @Ikke

testing/lsp-plugins: new aport
  testing/lsp-plugins/APKBUILD
  testing/lsp-plugins/fix-arm-build.patch
  testing/lsp-plugins/fix-include.patch
Owners: @Ikke

main/busybox: prevent warnings appearing during package upgrade
  main/busybox/APKBUILD
  main/busybox/busybox.post-upgrade
Owners: @andypost, @nmeum, @ncopa

community/eog: upgrade to 41.1
  community/eog/0001-Update-libportal-usage.patch
  community/eog/APKBUILD
Owners: @Ikke

testing/lsp-plugins: upgrade to 1.1.31
  testing/lsp-plugins/APKBUILD
  testing/lsp-plugins/fix-arm-build.patch
  testing/lsp-plugins/fix-include.patch
Owners: @Ikke

community/libportal: disable on riscv64
  community/libportal/APKBUILD
Owners: @Ikke

community/py3-tinycss2: upgrade to 1.1.1
  community/py3-tinycss2/APKBUILD
Owners: @Ikke

testing/apmpkg: disable on riscv64
  testing/apmpkg/APKBUILD
Owners: @Ikke

community/lttng-tools: upgrade to 2.13.0
  community/lttng-tools/APKBUILD
  community/lttng-tools/s390x-tests.patch.noauto
  community/lttng-tools/test.patch
  community/lttng-tools/unistd.patch
Owners: @Ikke

main/lttng-ust: upgrade to 2.13.0
  main/lttng-ust/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/savvycan: move from testing
  community/savvycan/10-qmake-prefix.patch
  community/savvycan/APKBUILD
Owners: @Ikke

community/py3-pylspci: move from testing
  community/py3-pylspci/APKBUILD
Owners: @Ikke

community/gnome-mines: move from testing
  community/gnome-mines/APKBUILD
Owners: @Ikke

testing/easyeffects: disable on riscv64
  testing/easyeffects/APKBUILD
Owners: @Ikke

ci: allow redundant jobs to be interrupted
  .gitlab-ci.yml
Owners: none

community/qqwing: move from testing
  community/qqwing/APKBUILD
Owners: @Ikke

testing/codeblocks: new aport
  testing/codeblocks/0001-v20.03-r12008.patch
  testing/codeblocks/0002-v20.03-r12012.patch
  testing/codeblocks/0003-fix-missing-sentinel.patch
  testing/codeblocks/0004-delete-wxpropgrid.patch
  testing/codeblocks/0005-fix-pkgconfig-codeblocks-version.patch
  testing/codeblocks/0006-fix-openfileslistplugin-gcc11.patch
  testing/codeblocks/APKBUILD
Owners: @Ikke

testing/doas-sudo-shim: upgrade to 0.1.1
  testing/doas-sudo-shim/APKBUILD
  testing/doas-sudo-shim/help-alpine.patch
Owners: @Ikke

main/privoxy: security upgrade to 3.0.33
  main/privoxy/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gcc-cross-embedded: enable lto
  community/gcc-cross-embedded/APKBUILD
Owners: @Ikke

tox -e docs
  community/py3-pip/APKBUILD
Owners: @Ikke

community/py3-pip: upgrade to 21.3.1
  community/py3-pip/APKBUILD
Owners: @Ikke

indent with spaces
  community/py3-pip/APKBUILD
Owners: @Ikke

make up your mind
  community/py3-pip/APKBUILD
Owners: @Ikke

community/doas-sudo-shim: move from testing
  community/doas-sudo-shim/APKBUILD
  community/doas-sudo-shim/help-alpine.patch
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
