Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/lua-turbo: rebuild with openssl 1.1
  community/lua-turbo/APKBUILD
  community/lua-turbo/default-luasocket.patch
  community/lua-turbo/openssl-1.1.patch
Owners: @Ikke

main/u-boot: upgrade to 2020.01
  main/u-boot/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/lua-mosquitto: fix typo in pkgdesc
  main/lua-mosquitto/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-wheel: move from testing
  main/py3-wheel/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-(lts|rpi): upgrade to 0.0.20200105
  community/wireguard-lts/APKBUILD
  community/wireguard-rpi/APKBUILD
Owners: @Ikke

main/linux-lts: enable cannonlake pinctrl for x86_64
  main/linux-lts/APKBUILD
  main/linux-lts/config-lts.x86_64
Owners: @andypost, @nmeum, @ncopa

main/linux-rpi: upgrade to 5.4.10
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-rpi: rebuild against kernel 5.4.10-r0
  community/wireguard-rpi/APKBUILD
Owners: @Ikke

community/jool-modules-rpi: rebuild against kernel 5.4.10-r0
  community/jool-modules-rpi/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.4.10
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.4.10-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/virtualbox-guest-modules-lts: rebuild against kernel 5.4.10-r0
  community/virtualbox-guest-modules-lts/APKBUILD
Owners: @Ikke

community/wireguard-lts: rebuild against kernel 5.4.10-r0
  community/wireguard-lts/APKBUILD
Owners: @Ikke

main/drbd-lts: rebuild against kernel 5.4.10-r0
  main/drbd-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.4.10-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.4.10-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/firefox-esr: security upgrade to 68.4.1
  community/firefox-esr/APKBUILD
  community/firefox-esr/fix-build-with-rust-1.39.patch
Owners: @Ikke

testing/rabbitmq-server: homedir should not be in /usr
  testing/rabbitmq-server/APKBUILD
  testing/rabbitmq-server/rabbitmq-server.pre-install
Owners: @Ikke

testing/prometheus-snmp-exporter: new aport
  testing/prometheus-snmp-exporter/APKBUILD
  testing/prometheus-snmp-exporter/disable-go-race-detector.patch
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.confd
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.initd
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.post-install
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.pre-install
Owners: @Ikke

testing/prometheus-snmp-exporter: patch not needed
  testing/prometheus-snmp-exporter/APKBUILD
  testing/prometheus-snmp-exporter/disable-go-race-detector.patch
Owners: @Ikke

testing/prometheus-snmp-exporter: fix lint warnings
  testing/prometheus-snmp-exporter/APKBUILD
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.post-install
  testing/prometheus-snmp-exporter/prometheus-snmp-exporter.pre-install
Owners: @Ikke

unmaintained/gajim: Move from testing
  unmaintained/gajim/APKBUILD
Owners: none

testing/phosh: upgrade to 0.1.7
  testing/phosh/APKBUILD
Owners: @Ikke

testing/profanity: Use python3 instead python2
  testing/profanity/APKBUILD
Owners: @Ikke

unmaintained/gajim-plugin-omemo: move from testing
  unmaintained/gajim-plugin-omemo/APKBUILD
Owners: none

unmaintained/py3-nbxmpp: move from testing
  unmaintained/py3-nbxmpp/APKBUILD
Owners: none

testing/prometheus-snmp-exporter: fix lint errors
  testing/prometheus-snmp-exporter/APKBUILD
Owners: @Ikke

community/py3-natsort: upgrade to 7.0.0
  community/py3-natsort/APKBUILD
Owners: @Ikke

testing/firefox: security upgrade to 72.0.1
  testing/firefox/8e71fa07fe00.patch
  testing/firefox/APKBUILD
  testing/firefox/firefox-71.0-bug1602358-fix-older-builds-with-newer-cbindgen.patch
  testing/firefox/fix-sandbox-membarrier.patch
Owners: @Ikke

testing/py3-thinc: enable x86 as dependency py3-blis now supports it
  testing/py3-thinc/APKBUILD
Owners: @Ikke

community/kscreen: disable on armhf
  community/kscreen/APKBUILD
Owners: @Ikke

community/ksshaskpass: disable on armhf
  community/ksshaskpass/APKBUILD
Owners: @Ikke

community/remmina: upgrade to 1.3.10
  community/remmina/APKBUILD
Owners: @Ikke

community/perl-image-exiftool: upgrade to 11.83
  community/perl-image-exiftool/APKBUILD
Owners: @Ikke

community/glow: upgrade to 0.2.0
  community/glow/APKBUILD
Owners: @Ikke

main/btrfs-progs: upgrade to 5.4.1
  main/btrfs-progs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/terraform: upgrade to 0.12.19
  community/terraform/APKBUILD
Owners: @Ikke

main/mesa: upgrade to 19.3.2
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/alacritty: upgrade to 0.4.1
  community/alacritty/APKBUILD
Owners: @Ikke

community/prometheus: upgrade to 2.15.2
  community/prometheus/APKBUILD
Owners: @Ikke
