Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/librsvg: upgrade to 2.48.1
  community/librsvg/APKBUILD
Owners: @Ikke

community/gjs: upgrade to 1.64.1
  community/gjs/APKBUILD
Owners: @Ikke

community/iwd: upgrade to 1.6
  community/iwd/APKBUILD
Owners: @Ikke

main/py3-wcwidth: upgrade to 0.1.9
  main/py3-wcwidth/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xf86-video-qxl: use python3 with xspice
  main/xf86-video-qxl/APKBUILD
  main/xf86-video-qxl/convert-xspice-python3.patch
Owners: @andypost, @nmeum, @ncopa

main/samurai: add upstream patch to fix building D projects w/ meson
  main/samurai/0005-deps-treat-missing-depfile-as-empty-for-deps-log.patch
  main/samurai/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/rdiff-backup: upgrade to 2.0.0
  main/rdiff-backup/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/wofi: upgrade to 1.1.2
  testing/wofi/APKBUILD
Owners: @Ikke

community/vte3: rebuild against icu 66.1
  community/vte3/APKBUILD
Owners: @Ikke

main/icu: upgrade to 66.1
  main/icu/APKBUILD
  main/icu/CVE-2020-10531.patch
Owners: @andypost, @nmeum, @ncopa

community/qt5-qtwebkit: upgrade to 5.212.0-alpha4
  community/qt5-qtwebkit/0001-Add-ARM-64-support.patch
  community/qt5-qtwebkit/APKBUILD
  community/qt5-qtwebkit/fix-execinfo.patch
  community/qt5-qtwebkit/fix-rpath.patch
  community/qt5-qtwebkit/icu.patch
  community/qt5-qtwebkit/musl-mcontext.patch
  community/qt5-qtwebkit/qt5.12.patch
Owners: @Ikke

community/qt5-qtwebengine: build with system ffmpeg, opus and webp
  community/qt5-qtwebengine/APKBUILD
Owners: @Ikke

community/telegram-desktop: upgrade to 1.9.22
  community/telegram-desktop/APKBUILD
Owners: @Ikke

main/ell: upgrade to 0.30
  main/ell/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ell: upgrade to 0.29
  main/ell/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/bluez: rebuild with ell-0.30
  main/bluez/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/webkit2gtk: rebuild against icu 66.1
  community/webkit2gtk/APKBUILD
Owners: @Ikke

community/qt5-qtbase: rebuild against icu 66.1
  community/qt5-qtbase/APKBUILD
Owners: @Ikke

community/enchant2: rebuild against icu 66.1
  community/enchant2/APKBUILD
Owners: @Ikke

testing/broot: upgrade to 0.13.5
  testing/broot/APKBUILD
Owners: @Ikke

community/isochronous: new aport
  community/isochronous/APKBUILD
  community/isochronous/make-install.patch
Owners: @Ikke

testing/isoping: delete
  testing/isoping/0001-isoping-support-openssl-1.1.patch
  testing/isoping/APKBUILD
Owners: @Ikke

community/isochronous: modernize
  community/isochronous/APKBUILD
Owners: @Ikke

community/gucharmap: upgrade to 13.0.1
  community/gucharmap/APKBUILD
Owners: @Ikke

community/pipewire: upgrade to 0.3.2
  community/pipewire/APKBUILD
  community/pipewire/set-rpath.patch
Owners: @Ikke

community/py3-botocore: upgrade to 1.15.30
  community/py3-botocore/APKBUILD
Owners: @Ikke

community/py3-boto3: upgrade to 1.12.30
  community/py3-boto3/APKBUILD
Owners: @Ikke

community/py3-impacket: upgrade to 0.9.21
  community/py3-impacket/APKBUILD
Owners: @Ikke

community/py3-kiwisolver: upgrade to 1.2.0
  community/py3-kiwisolver/APKBUILD
Owners: @Ikke

community/py3-peewee: upgrade to 3.13.2
  community/py3-peewee/APKBUILD
Owners: @Ikke

community/libwacom: upgrade to 1.3
  community/libwacom/APKBUILD
Owners: @Ikke

testing/py3-pyro4: upgrade to 4.79
  testing/py3-pyro4/APKBUILD
Owners: @Ikke

community/py3-distutils-extra: upgrade to 2.44
  community/py3-distutils-extra/APKBUILD
Owners: @Ikke

main/postfix: upgrade to 3.5.0
  main/postfix/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gnome-terminal: upgrade to 3.36.1.1
  community/gnome-terminal/APKBUILD
Owners: @Ikke

testing/polkitd: new aport
  testing/polkitd/APKBUILD
Owners: @Ikke

community/evolution-data-server: rebuild against icu 66.1
  community/evolution-data-server/APKBUILD
Owners: @Ikke

community/dnsdist: Enable DoH support
  community/dnsdist/APKBUILD
Owners: @tcely

main/gtk+3.0: upgrade to 3.24.16
  main/gtk+3.0/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-zope-configuration: upgrade to 4.4.0
  testing/py3-zope-configuration/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
