Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/jool-modules-lts: rebuild against kernel 6.18.36-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 6.18.36-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.18.36-r0
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/vmm_clock-lts: rebuild against kernel 6.18.36-r0
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 6.18.36-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 6.18.36-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/shelli: upgrade to 0.9
  community/shelli/APKBUILD
Owners: @Ikke

community/aaaaxy: upgrade to 1.7.89
  community/aaaaxy/APKBUILD
Owners: @Ikke

main/nginx: upgrade to 1.30.3
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: upgrade some third-party modules
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: upgrade to 1.30.3
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: upgrade some third-party modules
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/zelbar: rebuild with zig 0.16
  testing/zelbar/APKBUILD
  testing/zelbar/zig-0.16.patch
Owners: @Ikke

main/nginx: backport fixes for CVE-2026-42055, CVE-2026-48142
  main/nginx/APKBUILD
  main/nginx/CVE-2026-42055.patch
  main/nginx/CVE-2026-48142.patch
Owners: @andypost, @nmeum, @ncopa

main/nginx: backport fixes for CVE-2026-42055, CVE-2026-48142
  main/nginx/APKBUILD
  main/nginx/CVE-2026-42055.patch
  main/nginx/CVE-2026-48142.patch
Owners: @andypost, @nmeum, @ncopa

community/py3-nitrokey: backport function for community/nitrokey-app2
  community/py3-nitrokey/0001-py3-nitrokey-Add-should_default_ccid-helper.patch
  community/py3-nitrokey/APKBUILD
Owners: @Ikke

community/py3-nitrokey: backport function for community/nitrokey-app2
  community/py3-nitrokey/0001-py3-nitrokey-Add-should_default_ccid-helper.patch
  community/py3-nitrokey/APKBUILD
Owners: @Ikke

community/nginx-mod-http-acme: rebuild against nginx 1.30.3
  community/nginx-mod-http-acme/APKBUILD
Owners: @Ikke

testing/nginx-mod-http-otel: rebuild against nginx 1.30.3
  testing/nginx-mod-http-otel/APKBUILD
Owners: @Ikke

community/niri: add wayland-libs-server to depends
  community/niri/APKBUILD
Owners: @Ikke

community/nginx-mod-http-acme: rebuild against nginx 1.30.3
  community/nginx-mod-http-acme/APKBUILD
Owners: @Ikke

main/libssh2: patch CVE-2026-55200 and CVE-2026-55199
  main/libssh2/APKBUILD
  main/libssh2/CVE-2026-55199.patch
  main/libssh2/CVE-2026-55200.patch
Owners: @andypost, @nmeum, @ncopa

community/ruff: upgrade to 0.15.18
  community/ruff/APKBUILD
Owners: @Ikke

community/qbe: update description, add documentation, add license
  community/qbe/APKBUILD
Owners: @Ikke

community/highway: orphan
  community/highway/APKBUILD
Owners: @Ikke

main/7zip, community/{libjxl,highway}: take over maintianership
  community/highway/APKBUILD
  community/libjxl/APKBUILD
  main/7zip/APKBUILD
Owners: @Ikke, @andypost, @nmeum, @ncopa

community/libjxl: orphan
  community/libjxl/APKBUILD
Owners: @Ikke

main/jq: upgrade to 1.8.2
  main/jq/APKBUILD
  main/jq/test-portable.patch
Owners: @andypost, @nmeum, @ncopa

community/mumble: upgrade to 1.5.901
  community/mumble/APKBUILD
Owners: @Ikke

community/nodejs-current: security upgrade to 26.3.1
  community/nodejs-current/APKBUILD
Owners: @Ikke

community/py3-pytest-django: upgrade to 4.12.0
  community/py3-pytest-django/APKBUILD
Owners: @Ikke

testing/sqlmap: upgrade to 1.10.6
  testing/sqlmap/APKBUILD
Owners: @Ikke

testing/yoshimi: upgrade to 2.3.6.1
  testing/yoshimi/APKBUILD
Owners: @Ikke

main/nodejs: security upgrade to 24.17.0
  main/nodejs/APKBUILD
  main/nodejs/ncrypto-include-openssl-rand.h.patch
  main/nodejs/v8-no-static-zlib.patch
Owners: @andypost, @nmeum, @ncopa

community/althttpd: upgrade to 202606031222, take over maintainership
  community/althttpd/APKBUILD
Owners: @Ikke

main/haproxy: upgrade to 2.8.22
  main/haproxy/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/frp: upgrade to 0.69.1
  community/frp/APKBUILD
  community/frp/enable-cgo.patch
Owners: @Ikke

community/py3-django-debug-toolbar: upgrade to 7.0.0
  community/py3-django-debug-toolbar/APKBUILD
Owners: @Ikke

community/raspberrypi-utils: upgrade to 0.20260617
  community/raspberrypi-utils/APKBUILD
Owners: @Ikke

testing/granian: upgrade to 2.7.6
  testing/granian/APKBUILD
Owners: @Ikke
