Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/cups-filters: upgrade to 1.27.1
  community/cups-filters/APKBUILD
Owners: @Ikke

testing/qownnotes: upgrade to 20.2.5
  testing/qownnotes/APKBUILD
Owners: @Ikke

main/py3-tox: upgrade to 3.14.5
  main/py3-tox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/par2cmdline: new aport
  testing/par2cmdline/APKBUILD
Owners: @Ikke

non-free/adobe-flashplayer: upgrade to 32.0.0.330
  non-free/adobe-flashplayer/APKBUILD
Owners: none

community/alpine-desktop: load modules from /lib/modules-load.d
  community/alpine-desktop/APKBUILD
  community/alpine-desktop/alpine-desktop.post-install
  community/alpine-desktop/mousepad.conf
Owners: @Ikke

main/linux-*: remove redundant override of HOSTCC
  main/linux-lts/APKBUILD
  main/linux-octeon/APKBUILD
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gsoap: upgrade to 2.8.98
  community/gsoap/APKBUILD
Owners: @Ikke

testing/py3-bson: upgrade to 0.5.9
  testing/py3-bson/APKBUILD
Owners: @Ikke

testing/py3-gitdb2: upgrade to 3.0.0
  testing/py3-gitdb2/APKBUILD
Owners: @Ikke

main/freeradius: improve setup-freeradius enable-mod
  main/freeradius/APKBUILD
  main/freeradius/setup-freeradius.in
Owners: @andypost, @nmeum, @ncopa

main/freeradius: change default cui sqlite location to $db_dir/
  main/freeradius/APKBUILD
  main/freeradius/default-config.patch
  main/freeradius/freeradius.post-upgrade
Owners: @andypost, @nmeum, @ncopa

main/freeradius: change default cache paths to /var/cache/radiusd
  main/freeradius/APKBUILD
  main/freeradius/default-config.patch
Owners: @andypost, @nmeum, @ncopa

testing/mlt: upgrade to 6.20.0
  testing/mlt/APKBUILD
Owners: @Ikke

community/py3-pyftpdlib: upgrade to 1.5.6
  community/py3-pyftpdlib/APKBUILD
Owners: @Ikke

community/appstream-glib: fix buildtype, add -dbg subpkg
  community/appstream-glib/APKBUILD
Owners: @Ikke

main/libgudev: add -dbg subpkg and cleanup
  main/libgudev/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/json-glib: fix buildtype, add -dbg subpkg
  main/json-glib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/ostree: add -dbg subpkg
  community/ostree/APKBUILD
Owners: @Ikke

community/libxmlb: fix buildtype, add -dbg subpkg
  community/libxmlb/APKBUILD
Owners: @Ikke

community/librsvg: add -dbg and -lang subpkg
  community/librsvg/APKBUILD
Owners: @Ikke

community/libsoup: fix buildtype, add -dbg subpkg
  community/libsoup/APKBUILD
Owners: @Ikke

community/flatpak: add -dbg subpkg
  community/flatpak/APKBUILD
Owners: @Ikke

community/gnome-online-accounts: add -dbg subpkg
  community/gnome-online-accounts/APKBUILD
Owners: @Ikke

main/gdk-pixbuf: fix buildtype, cleanup
  main/gdk-pixbuf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gspell: add -dbg subpkg
  community/gspell/APKBUILD
Owners: @Ikke

testing/dar: new aport
  testing/dar/APKBUILD
  testing/dar/configure-sys-xattr.patch
  testing/dar/fix-autoreconf.patch
Owners: @Ikke

community/nextcloud-client: upgrade to 2.6.3
  community/nextcloud-client/APKBUILD
Owners: @Ikke

main/freeradius: return abfab*
  main/freeradius/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/freeradius: fix problem with globbing
  main/freeradius/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/freeradius: move radclient to subpkg -utils
  main/freeradius/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/freeradius: remove testing tools (radattr, map_unit) from package
  main/freeradius/APKBUILD
  main/freeradius/dont-install-test-tools.patch
Owners: @andypost, @nmeum, @ncopa

main/dmvpn: upgrade to 1.3.0
  main/dmvpn/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dmvpn: various fixes
  main/dmvpn/0001-use-static-config-file-for-charon.patch
  main/dmvpn/0003-close-IKE-SA-on-inactivity.patch
  main/dmvpn/0004-define-cipher-proposals.patch
  main/dmvpn/0005-nhrp-events-wait-for-socket-creation-on-startup.patch
  main/dmvpn/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/i3wm: upgrade to 4.18
  community/i3wm/APKBUILD
Owners: @Ikke

community/synapse: upgrade to 1.10.1
  community/synapse/APKBUILD
Owners: @Ikke

main/py3-idna: upgrade to 2.9
  main/py3-idna/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gcc: disable D support on mips for now
  main/gcc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-octeon: upgrade to 5.4.20
  main/linux-octeon/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/caddy: set CADDYPATH to /etc/caddy and use supervisor-daemon
  community/caddy/APKBUILD
  community/caddy/caddy.confd
  community/caddy/caddy.initd
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
