Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/php8: improve, build php only twice: apache2+cgi and the rest
  community/php8/APKBUILD
Owners: @Ikke

community/php8: security upgrade to 8.0.10
  community/php8/APKBUILD
Owners: @Ikke

community/openrct2: upgrade to 0.3.4
  community/openrct2/APKBUILD
Owners: @Ikke

community/oq: upgrade to 1.3.0
  community/oq/APKBUILD
Owners: @Ikke

community/oguri: move from testing
  community/oguri/APKBUILD
Owners: @Ikke

main/nodejs: security upgrade to 14.17.5
  main/nodejs/APKBUILD
  main/nodejs/fix-build-with-system-c-ares.patch
Owners: @andypost, @nmeum, @ncopa

community/devhelp: upgrade to 40.1
  community/devhelp/APKBUILD
Owners: @Ikke

testing/drone-cli: upgrade to 1.3.2
  testing/drone-cli/APKBUILD
Owners: @Ikke

main/linux-rpi: upgrade to 5.10.61
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-rpi: rebuild against kernel 5.10.61-r0
  community/jool-modules-rpi/APKBUILD
Owners: @Ikke

main/zfs-rpi: rebuild against kernel 5.10.61-r0
  main/zfs-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nodejs: security upgrade to 14.17.5
  main/nodejs/APKBUILD
  main/nodejs/fix-build-with-system-c-ares.patch
Owners: @andypost, @nmeum, @ncopa

main/nodejs: security upgrade to 14.17.5
  main/nodejs/APKBUILD
  main/nodejs/fix-build-with-system-c-ares.patch
Owners: @andypost, @nmeum, @ncopa

community/php7: security upgrade to 7.4.23
  community/php7/APKBUILD
Owners: @Ikke

community/php7: improve build
  community/php7/APKBUILD
Owners: @Ikke

community/geth: upgrade to 1.10.8
  community/geth/APKBUILD
Owners: @Ikke

main/nodejs: security upgrade to 12.22.5
  main/nodejs/APKBUILD
  main/nodejs/fix-build-with-system-c-ares.patch
Owners: @andypost, @nmeum, @ncopa

main/nodejs: security upgrade to 12.22.5
  main/nodejs/APKBUILD
  main/nodejs/fix-build-with-system-c-ares.patch
Owners: @andypost, @nmeum, @ncopa

testing/handlr: backport fix for crash on readonly mimeapps.list
  testing/handlr/APKBUILD
Owners: @Ikke

community/libssh: security upgrade to 0.9.6 (CVE-2021-3634)
  community/libssh/APKBUILD
Owners: @Ikke

community/aisleriot: update to 3.22.17
  community/aisleriot/APKBUILD
  community/aisleriot/fix-bash-shebang.patch
Owners: @Ikke

community/gmnitohtml: upgrade to 0.1.1
  community/gmnitohtml/APKBUILD
Owners: @Ikke

community/gopass: upgrade to 1.12.7
  community/gopass/APKBUILD
Owners: @Ikke

community/py3-pydot: upgrade to 1.4.2
  community/py3-pydot/APKBUILD
Owners: @Ikke

community/py3-pandas: upgrade to 1.3.2
  community/py3-pandas/APKBUILD
Owners: @Ikke

community/php7: security upgrade to 7.3.30
  community/php7/APKBUILD
Owners: @Ikke

testing/php7-pecl-swoole: upgrade to 4.7.1
  testing/php7-pecl-swoole/APKBUILD
Owners: @Ikke

testing/php8-pecl-swoole: upgrade to 4.7.1
  testing/php8-pecl-swoole/APKBUILD
Owners: @Ikke

community/py3-parso: upgrade to 0.8.2
  community/py3-parso/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.10.61
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.10.61-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 5.10.61-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtl8821ce-lts: rebuild against kernel 5.10.61-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.10.61-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtpengine-lts: rebuild against kernel 5.10.61-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/dahdi-linux-lts: rebuild against kernel 5.10.61-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/mycroft-core: upgrade to 21.2.1
  community/mycroft-core/0001-Upgrade-websocket-client-to-1.2.1.patch
  community/mycroft-core/0002-xdg-settings-cache-and-runtime-data.patch
  community/mycroft-core/0003-system-wide-setups.patch
  community/mycroft-core/0004-skills-from-xdg.patch
  community/mycroft-core/APKBUILD
Owners: @Ikke

community/py3-mycroft-messagebus-client: upgrade to 0.9.3
  community/py3-mycroft-messagebus-client/APKBUILD
  community/py3-mycroft-messagebus-client/relax-dep-requirements.patch
Owners: @Ikke

testing/diffoscope: upgrade to 182
  testing/diffoscope/APKBUILD
Owners: @Ikke

scripts/mkimg.base.sh: include gnu wget
  scripts/mkimg.base.sh
Owners: none
