Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/gnome-software-plugin-apk: rebuild against gnome-software 3.36.1
  community/gnome-software-plugin-apk/APKBUILD
Owners: @Ikke

testing/coretoppings: disable on armhf due to missing qt5-qtlocation
  testing/coretoppings/APKBUILD
Owners: @Ikke

testing/nymphrpc: upgrade to 0_git20200416
  testing/nymphrpc/APKBUILD
Owners: @Ikke

testing/nymphcast: upgrade to 0.1_alpha3
  testing/nymphcast/APKBUILD
Owners: @Ikke

community/bmake: upgrade to 20200517
  community/bmake/APKBUILD
Owners: @Ikke

testing/mautrix-telegram: fix permission check in init script
  testing/mautrix-telegram/APKBUILD
  testing/mautrix-telegram/mautrix-telegram.initd
Owners: @Ikke

community/clazy: moved from testing
  community/clazy/APKBUILD
Owners: @Ikke

main/musl: don't use libc.threads_minus_1 to bypass locking in threaded mode
  main/musl/APKBUILD
  main/musl/dont-use-threads-minus-1-for-skipping-locks.patch
Owners: @andypost, @nmeum, @ncopa

community/tpm: upgrade to 1.3.3
  community/tpm/APKBUILD
Owners: @Ikke

community/riot-web: upgrade to 1.6.2
  community/riot-web/APKBUILD
Owners: @Ikke

testing/py3-mautrix: upgrade to 0.5.0-rc1
  testing/py3-mautrix/APKBUILD
Owners: @Ikke

testing/py3-telethon: upgrade to 1.13.0
  testing/py3-telethon/APKBUILD
Owners: @Ikke

testing/mautrix-telegram: upgrade to 0.8.0-rc3
  testing/mautrix-telegram/APKBUILD
  testing/mautrix-telegram/default-log-dir.patch
Owners: @Ikke

community/pdns: upgrade to 4.2.2
  community/pdns/APKBUILD
Owners: @tcely

main/kamailio: upgrade to 5.3.4
  main/kamailio/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/ruby-mathematical: upgrade to 1.6.13
  community/ruby-mathematical/APKBUILD
Owners: @Ikke

testing/ma1sd: new aport
  testing/ma1sd/APKBUILD
  testing/ma1sd/ma1sd.confd
  testing/ma1sd/ma1sd.initd
  testing/ma1sd/ma1sd.pre-install
Owners: @Ikke

community/py3-mysqlclient: upgrade to 1.4.6
  community/py3-mysqlclient/APKBUILD
Owners: @Ikke

main/perl-mozilla-ca: upgrade to 20200520
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gnome-applets: upgrade to 3.36.4
  community/gnome-applets/APKBUILD
Owners: @Ikke

main/perl-mozilla-ca: upgrade to 20200520
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-mozilla-ca: upgrade to 20200520
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-mozilla-ca: modernize and upgrade to 20180117
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-mozilla-ca: upgrade to 20200520
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-mozilla-ca: modernize and upgrade to 20180117
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-mozilla-ca: upgrade to 20200520
  main/perl-mozilla-ca/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ma1sd: disable on mips(64)
  testing/ma1sd/APKBUILD
Owners: @Ikke

main/perl-http-message: upgrade to 6.24
  main/perl-http-message/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/reprotest: upgrade to 0.7.14
  testing/reprotest/APKBUILD
Owners: @Ikke

testing/mautrix-telegram: upgrade to 0.8.0-rc4
  testing/mautrix-telegram/APKBUILD
Owners: @Ikke

testing/podman: upgrade to 1.9.3
  testing/podman/APKBUILD
Owners: @Ikke

main/fail2ban: fix permissions on .egg-info
  main/fail2ban/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/vlc: security upgrade to 3.0.9.2
  community/vlc/APKBUILD
Owners: @Ikke

testing/php7-pecl-grpc: upgrade to 1.29.1
  testing/php7-pecl-grpc/APKBUILD
Owners: @Ikke

main/fail2ban: fix permissions on .egg-info
  main/fail2ban/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/editorconfig: use CMAKE_BUILD_TYPE=None
  community/editorconfig/APKBUILD
Owners: @Ikke

testing/xmrig-proxy: use None instead of none
  testing/xmrig-proxy/APKBUILD
Owners: @Ikke

testing/odyssey: modernize
  testing/odyssey/APKBUILD
Owners: @Ikke

community/tpm2-tss: upgrade to 2.4.1
  community/tpm2-tss/APKBUILD
Owners: @Ikke

community/py3-boto3: upgrade to 1.13.15
  community/py3-boto3/APKBUILD
Owners: @Ikke
