Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/boost1.84: fix field name
  main/boost1.84/APKBUILD
  main/boost1.84/thread-future-fix.patch
Owners: @andypost, @nmeum, @ncopa

testing/supercollider: upgrade to 3.14.1
  main/boost1.84/APKBUILD
  main/boost1.84/thread-future-fix.patch
  testing/supercollider/10-boost_1.84.patch
  testing/supercollider/APKBUILD
Owners: @andypost, @nmeum, @ncopa, @Ikke

community/headscale: upgrade to 0.27.1
  community/headscale/APKBUILD
Owners: @Ikke

community/syncthing: upgrade to 2.0.13
  community/syncthing/APKBUILD
Owners: @Ikke

community/qt6-qtwebengine: chromium security upgrade
  community/qt6-qtwebengine/APKBUILD
Owners: @Ikke

community/tut: update go modules
  community/tut/APKBUILD
  community/tut/dependency-update-20260109.patch
Owners: @Ikke

community/vmm_clock-lts: rebuild against kernel 6.18.4-r0
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 6.18.4-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 6.18.4-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 6.18.4-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 6.18.4
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 6.18.4-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtio_vmmci-lts: rebuild against kernel 6.18.4-r0
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

main/linux-lts: backport DTS fixes for sophgo
  main/linux-lts/APKBUILD
  main/linux-lts/sophgo-fixes.patch
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: NETFILTER_XT_TARGET_CT=m on all arches
  main/linux-lts/APKBUILD
  main/linux-lts/lts.aarch64.config
  main/linux-lts/lts.armv7.config
  main/linux-lts/lts.ppc64le.config
  main/linux-lts/lts.s390x.config
  main/linux-lts/virt.aarch64.config
  main/linux-lts/virt.armv7.config
  main/linux-lts/virt.ppc64le.config
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: NETFILTER_XT_TARGET_REDIRECT=m on all arches
  main/linux-lts/APKBUILD
  main/linux-lts/lts.aarch64.config
  main/linux-lts/lts.armv7.config
  main/linux-lts/lts.loongarch64.config
  main/linux-lts/lts.ppc64le.config
  main/linux-lts/lts.s390x.config
  main/linux-lts/virt.aarch64.config
  main/linux-lts/virt.armv7.config
  main/linux-lts/virt.ppc64le.config
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: enable OCP Time Card module
  main/linux-lts/lts.aarch64.config
  main/linux-lts/lts.x86_64.config
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: enable driver for Mediatec WLAN for aarch64
  main/linux-lts/APKBUILD
  main/linux-lts/lts.aarch64.config
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: enable drivers for x1e80100
  main/linux-lts/APKBUILD
  main/linux-lts/lts.aarch64.config
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 6.18.3
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 6.18.4
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/imagemagick: security upgrade to 7.1.2.12
  community/imagemagick/APKBUILD
Owners: @Ikke

main/libtasn1: security upgrade to 4.21.0
  main/libtasn1/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 6.18.4-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 6.18.4-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.18.4-r0
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/vmm_clock-lts: rebuild against kernel 6.18.4-r0
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 6.18.4-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 6.18.4-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 6.12.64
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 6.12.64-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/py3-werkzeug: upgrade to 3.1.5
  main/py3-werkzeug/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtpengine-lts: rebuild against kernel 6.12.64-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.12.64-r0
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/vmm_clock-lts: rebuild against kernel 6.12.64-r0
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 6.12.64-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 6.12.64-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/forgejo-runner: upgrade to 12.5.0
  community/forgejo-runner/APKBUILD
Owners: @Ikke

main/py3-build: upgrade to 1.4.0
  main/py3-build/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 6.12.64
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
