Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/uv: upgrade to 0.5.26
  community/uv/APKBUILD
Owners: @Ikke

community/snac: upgrade to 2.70
  community/snac/APKBUILD
Owners: @Ikke

CODINGSTYLE.md: revert update for maintainer= variable
  CODINGSTYLE.md
Owners: none

community/pike: upgrade to 8.0.1952
  community/pike/APKBUILD
Owners: @Ikke

community/flarectl: upgrade to 0.115.0
  community/flarectl/APKBUILD
Owners: @Ikke

community/govc: upgrade to 0.48.0
  community/govc/APKBUILD
Owners: @Ikke

community/telegram-desktop: upgrade to 5.10.7
  community/telegram-desktop/APKBUILD
Owners: @Ikke

main/wayland-protocols: upgrade to 1.40
  main/wayland-protocols/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/autobrr: upgrade to 1.58.0
  community/autobrr/APKBUILD
Owners: @Ikke

community/autobrr: upgrade to 1.58.0
  community/autobrr/APKBUILD
Owners: @Ikke

community/bubblejail: upgrade to 0.9.4.1
  community/bubblejail/APKBUILD
Owners: @Ikke

community/bmake: upgrade to 20250125
  community/bmake/APKBUILD
Owners: @Ikke

community/pdfjs: upgrade to 4.10.38
  community/pdfjs/APKBUILD
Owners: @Ikke

testing/vcmi: upgrade to 1.6.4
  testing/fuzzylite/APKBUILD
  testing/vcmi/APKBUILD
Owners: @Ikke

community/baloo: enable -doc subpackage
  community/baloo/APKBUILD
Owners: @Ikke

community/baloo: run tests
  community/baloo/APKBUILD
Owners: @Ikke

community/pgbackrest: rebuild with libssh2
  community/pgbackrest/APKBUILD
Owners: @Ikke

community/pgbackrest: upgrade to 2.54.2
  community/pgbackrest/APKBUILD
Owners: @Ikke

community/gocryptfs: upgrade to 2.5.1
  community/gocryptfs/APKBUILD
Owners: @Ikke

community/m1n1: upgrade to 1.4.21
  community/m1n1/APKBUILD
Owners: @Ikke

main/screen: update configure arguments
  main/screen/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/picat: upgrade to 3.8
  community/picat/APKBUILD
Owners: @Ikke

community/xplr: upgrade to 0.21.10
  community/xplr/APKBUILD
  community/xplr/mlua-lua54.patch
Owners: @Ikke

testing/rosenpass: add dependency on wireguard-tools-wg
  testing/rosenpass/APKBUILD
Owners: @Ikke

community/linux-edge: upgrade to 6.13.1
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.aarch64
  community/linux-edge/config-edge.armv7
  community/linux-edge/config-edge.loongarch64
  community/linux-edge/config-edge.riscv64
  community/linux-edge/config-edge.x86_64
Owners: @Ikke

community/linux-edge: upgrade to 6.13.1
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.aarch64
  community/linux-edge/config-edge.armv7
  community/linux-edge/config-edge.loongarch64
  community/linux-edge/config-edge.riscv64
  community/linux-edge/config-edge.x86_64
Owners: @Ikke

community/hyprland-protocols: upgrade to 0.6.1
  community/hyprland-protocols/APKBUILD
Owners: @Ikke

community/hyprlang: rebuild against hyprutils-0.5.0 and add -dev subpackage
  community/hyprlang/APKBUILD
Owners: @Ikke

community/hyprgraphics: enable on s390x
  community/hyprgraphics/APKBUILD
  community/hyprgraphics/big-endian-jpeg.patch
  community/hyprgraphics/make-jxl-optional.patch
Owners: @Ikke

community/hyprcursor: depend on hyprlang-dev
  community/hyprcursor/APKBUILD
Owners: @Ikke

community/hyprutils: upgrade to 0.5.0
  community/hyprutils/APKBUILD
Owners: @Ikke

community/aquamarine: rebuild against hyprutils-0.5.0
  community/aquamarine/APKBUILD
Owners: @Ikke

community/hyprland: upgrade to 0.47.0
  community/hyprland/APKBUILD
Owners: @Ikke

community/py3-w3lib: upgrade to 2.3.1
  community/py3-w3lib/APKBUILD
Owners: @Ikke

testing/signal-desktop: upgrade to 7.40.0
  testing/signal-desktop/APKBUILD
  testing/signal-desktop/webrtc-gcc13.patch
  testing/signal-desktop/webrtc-rollback-3rdparty-build-gn.patch
  testing/signal-desktop/webrtc-rollback-red.patch
Owners: @Ikke

community/gum: upgrade to 0.15.2
  community/gum/APKBUILD
Owners: @Ikke

community/py3-awscrt: upgrade to 0.23.8
  community/py3-awscrt/APKBUILD
Owners: @Ikke

community/aws-crt-cpp: upgrade to 0.29.10
  community/aws-crt-cpp/APKBUILD
  community/aws-crt-cpp/aws-c-mqtt-0.12.1.patch
  community/aws-crt-cpp/cmake.patch
Owners: @Ikke

community/aws-c-event-stream: upgrade to 0.5.1
  community/aws-c-event-stream/APKBUILD
Owners: @Ikke

community/aws-checksums: upgrade to 0.2.3
  community/aws-checksums/APKBUILD
Owners: @Ikke
