Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/wezterm: build with system xcb-imdkit
  community/wezterm/APKBUILD
  community/wezterm/link-against-system-libs.patch
Owners: @Ikke

community/wezterm: build with system libgit2 and libssh2
  community/wezterm/APKBUILD
  community/wezterm/link-against-system-libs.patch
Owners: @Ikke

community/libadwaita: enable on riscv64 and s390x
  community/libadwaita/APKBUILD
Owners: @Ikke

community/lzop: take over maintainership
  community/lzop/APKBUILD
Owners: @Ikke

community/lzop: move from testing
  community/lzop/APKBUILD
Owners: @Ikke

main/docs: depend on mandoc again
  main/docs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/docs: fix typo
  main/docs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/docs: depend on virtual
  main/docs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mandoc: provide a virtual
  main/mandoc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/man-db: provide a virtual
  community/man-db/APKBUILD
Owners: @Ikke

testing/py3-unicorn-hat: rebuild for py3.10
  testing/py3-unicorn-hat/APKBUILD
Owners: @Ikke

testing/libcec-rpi: rebuild for py3.10
  testing/libcec-rpi/APKBUILD
Owners: @Ikke

main/*: rebuild for py3.10 on s390x
  main/brotli/APKBUILD
  main/dtc/APKBUILD
  main/newt/APKBUILD
  main/py3-appdirs/APKBUILD
  main/py3-dbus/APKBUILD
  main/py3-distlib/APKBUILD
  main/py3-lxc/APKBUILD
  main/py3-packaging/APKBUILD
  main/py3-parsing/APKBUILD
  main/py3-pexpect/APKBUILD
  main/py3-ply/APKBUILD
  main/py3-pretend/APKBUILD
  main/py3-ptyprocess/APKBUILD
  main/py3-six/APKBUILD
  main/py3-sphinxcontrib-applehelp/APKBUILD
  main/py3-sphinxcontrib-devhelp/APKBUILD
  main/py3-sphinxcontrib-htmlhelp/APKBUILD
  main/py3-sphinxcontrib-jsmath/APKBUILD
  main/py3-sphinxcontrib-qthelp/APKBUILD
  main/py3-sphinxcontrib-serializinghtml/APKBUILD
  main/py3-sphinxcontrib-websupport/APKBUILD
  main/py3-toml/APKBUILD
  main/speedtest-cli/APKBUILD
  main/tevent/APKBUILD
  main/vde2/APKBUILD
Owners: @andypost, @nmeum, @ncopa, @tcely

testing/libcec-rpi: fix NULL usage
  testing/libcec-rpi/APKBUILD
  testing/libcec-rpi/fix-null-return.patch
Owners: @Ikke

community/evolution-data-server: remove systemd unit file
  community/evolution-data-server/APKBUILD
Owners: @Ikke

community/xdg-desktop-portal-kde: remove systemd unit file
  community/xdg-desktop-portal-kde/APKBUILD
Owners: @Ikke

community/baculum: remove systemd unit file
  community/baculum/APKBUILD
Owners: @Ikke

community/blueman: remove systemd unit file
  community/blueman/APKBUILD
Owners: @Ikke

community/eg25-manager: remove systemd unit file
  community/eg25-manager/APKBUILD
Owners: @Ikke

community/biboumi: remove systemd unit file
  community/biboumi/APKBUILD
Owners: @Ikke

testing/mpdris2: remove systemd unit file
  testing/mpdris2/APKBUILD
Owners: @Ikke

community/libkscreen: remove systemd unit file
  community/libkscreen/APKBUILD
Owners: @Ikke

community/gnome-flashback: remove systemd unit file
  community/gnome-flashback/APKBUILD
Owners: @Ikke

community/gnome-terminal: remove systemd unit file
  community/gnome-terminal/APKBUILD
Owners: @Ikke

community/qt5-qtwebengine: chromium security upgrade
  community/qt5-qtwebengine/APKBUILD
Owners: @Ikke

community/xf86-video-nv: upgrade to 2.1.22
  community/xf86-video-nv/APKBUILD
Owners: @Ikke

community/stylua: upgrade to 0.14.2
  community/stylua/APKBUILD
Owners: @Ikke

main/flite: fix project url
  main/flite/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/lua-dns: fix project url
  main/lua-dns/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/knock: fix project url
  main/knock/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/rlog: fix project url
  main/rlog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/nushell: upgrade to 0.66.0
  testing/nushell/0001-Fix-ls-panics-when-a-file-or-directory-not-exists-61.patch
  testing/nushell/0001-Make-path-canonicalize-canonicalize_dot-test-case-mo.patch
  testing/nushell/APKBUILD
Owners: @Ikke

community/wait4x: upgrade to 2.5.0
  community/wait4x/APKBUILD
Owners: @Ikke

community/librsvg: enable on riscv64
  community/librsvg/APKBUILD
Owners: @Ikke

community/librsvg: ensmallen debug
  community/librsvg/APKBUILD
Owners: @Ikke

main/mesa: upgrade to 22.1.4
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/*: unblock librsvg
  community/dunst/APKBUILD
  community/gegl/APKBUILD
  community/gst-plugins-bad/APKBUILD
  community/imagemagick/APKBUILD
  community/vips/APKBUILD
Owners: @Ikke

community/qt5-qtwebengine: chromium security upgrade
  community/qt5-qtwebengine/APKBUILD
Owners: @Ikke

community/kvantum: add -lang subpackage
  community/kvantum/APKBUILD
Owners: @Ikke

community/kvantum: upgrade to 1.0.3
  community/kvantum/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
