Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/syft: upgrade to 0.73.0
  community/syft/APKBUILD
Owners: @Ikke

community/xbitmaps: upgrade to 1.1.3
  community/xbitmaps/APKBUILD
Owners: @Ikke

testing/ntfy: upgrade to 2.0.1
  testing/ntfy/APKBUILD
Owners: @Ikke

community/syft: upgrade to 0.73.0
  community/syft/APKBUILD
Owners: @Ikke

community/twine: upgrade to 4.0.2
  community/twine/APKBUILD
Owners: @Ikke

community/dua: upgrade to 2.19.2
  community/dua/APKBUILD
Owners: @Ikke

testing/moe: upgrade to 1.13
  testing/moe/APKBUILD
Owners: @Ikke

community/gnome-software: disable automatic updates by default
  community/gnome-software/APKBUILD
  community/gnome-software/org.gnome.software.gschema.override
Owners: @Ikke

testing/wabt: take over maintainership
  testing/wabt/APKBUILD
Owners: @Ikke

testing/wabt: upgrade to 1.0.32
  testing/wabt/APKBUILD
Owners: @Ikke

testing/wabt: disable on riscv64
  testing/wabt/APKBUILD
Owners: @Ikke

community/openmpi: upgrade to 4.1.5
  community/openmpi/APKBUILD
Owners: @Ikke

community/pipewire: no fail on addgroup
  community/pipewire/APKBUILD
  community/pipewire/pipewire.post-install
Owners: @Ikke

main/s6-linux-utils: upgrade to 2.6.1.2
  main/s6-linux-utils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/s6-portable-utils: upgrade to 2.3.0.1
  main/s6-portable-utils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/s6-rc: upgrade to 0.5.4.1
  main/s6-rc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/execline: upgrade to 2.9.2.1
  main/execline/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/s6-overlay: upgrade to 3.1.4.1
  community/s6-overlay/APKBUILD
Owners: @Ikke

testing/tabby: upgrade to 3.1
  testing/tabby/APKBUILD
  testing/tabby/usr-bin.patch
Owners: @Ikke

testing/nkk: upgrade to 0_git20221010
  testing/nkk/APKBUILD
  testing/nkk/pc-opengl.patch
Owners: @Ikke

testing/hikari: try fix starting outside x86
  testing/hikari/APKBUILD
  testing/hikari/flag-arg.patch
Owners: @Ikke

community/fwupd: upgrade to 1.8.11
  community/fwupd/APKBUILD
Owners: @Ikke

community/fwupd: disable efi capsule on armv7
  community/fwupd/APKBUILD
Owners: @Ikke

community/fwupd: .. and correctly move the makedep
  community/fwupd/APKBUILD
Owners: @Ikke

ci: remove .drone.yml
  .drone.yml
Owners: none

community/py3-polib: upgrade to 1.2.0
  community/py3-polib/APKBUILD
Owners: @Ikke

community/avfs: upgrade to 1.1.5
  community/avfs/APKBUILD
Owners: @Ikke

community/avfs: upgrade to 1.1.5
  community/avfs/APKBUILD
Owners: @Ikke

community/filezilla: upgrade to 3.63.2
  community/filezilla/APKBUILD
Owners: @Ikke

main/glib: upgrade to 2.74.6
  main/glib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gtk+3.0: O2
  main/gtk+3.0/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/glib: upgrade to 2.74.6
  main/glib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/skim: upgrade to 0.10.3
  community/skim/APKBUILD
Owners: @Ikke

community/headlines: upgrade to 0.7.2
  community/headlines/APKBUILD
Owners: @Ikke

community/py3-whatever: upgrade to 0.7
  community/py3-whatever/APKBUILD
Owners: @Ikke

community/kea: fix running with supervise-daemon
  main/kea/APKBUILD
  main/kea/kea.initd.in
Owners: @andypost, @nmeum, @ncopa

community/kea: fix running with supervise-daemon
  main/kea/APKBUILD
  main/kea/kea.initd.in
Owners: @andypost, @nmeum, @ncopa

testing/orage: upgrade to 4.18.0
  testing/orage/APKBUILD
Owners: @Ikke

community/podman: security upgrade to 4.4.2
  community/podman/APKBUILD
Owners: @Ikke

testing/thunar-media-tags-plugin: new aport
  testing/thunar-media-tags-plugin/APKBUILD
Owners: @Ikke
