Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/ptcpdump: upgrade to 0.35.0
  testing/ptcpdump/APKBUILD
Owners: @Ikke

community/icingaweb2: upgrade to 2.12.5
  community/icingaweb2/APKBUILD
Owners: @Ikke

community/php83-pecl-imagick: rebuild against imagick 7.1.2
  community/php83-pecl-imagick/APKBUILD
  community/php83-pecl-imagick/similarity-test-workaround.patch
Owners: @Ikke

community/py3-opengl: upgrade to 4.25.0
  community/py3-opengl/APKBUILD
Owners: @Ikke

community/hkdm: backport patch to fix deadloop
  community/hkdm/APKBUILD
  community/hkdm/stop-polling-removed-devices.patch
Owners: @Ikke

testing/volatility3: upgrade to 2.26.0
  testing/volatility3/APKBUILD
Owners: @Ikke

testing/py3-telegram-bot: upgrade to 22.3
  testing/py3-telegram-bot/APKBUILD
Owners: @Ikke

community/py3-xlsxwriter: upgrade to 3.2.5
  community/py3-xlsxwriter/APKBUILD
Owners: @Ikke

testing/py3-netmiko: upgrade to 4.6.0
  testing/py3-netmiko/APKBUILD
Owners: @Ikke

community/py3-pypdf: upgrade to 6.0.0
  community/py3-pypdf/APKBUILD
Owners: @Ikke

testing/py3-yara: upgrade to 4.5.4
  testing/py3-yara/APKBUILD
Owners: @Ikke

community/remind: upgrade to 05.05.00
  community/remind/APKBUILD
Owners: @Ikke

testing/icingaweb2-module-businessprocess: upgrade to 2.5.2
  testing/icingaweb2-module-businessprocess/APKBUILD
Owners: @Ikke

community/icingaweb2-module-director: upgrade to 1.11.5
  community/icingaweb2-module-director/APKBUILD
Owners: @Ikke

community/icinga-php-thirdparty: upgrade to 0.13.1
  community/icinga-php-thirdparty/APKBUILD
Owners: @Ikke

community/icinga-php-library: upgrade to 0.17.0
  community/icinga-php-library/APKBUILD
Owners: @Ikke

main/py3-pbr: upgrade to 6.1.1
  main/py3-pbr/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mesa: upgrade to 25.1.8
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mesa: upgrade to 25.1.8
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/dendrite: upgrade to 0.15.1
  community/dendrite/APKBUILD
Owners: @Ikke

community/dendrite: upgrade to 0.15.1
  community/dendrite/APKBUILD
Owners: @Ikke

community/dotnet8-runtime: upgrade to 8.0.19
  community/dotnet8-runtime/APKBUILD
Owners: @Ikke

community/dotnet8-sdk: upgrade to 8.0.119
  community/dotnet8-sdk/APKBUILD
Owners: @Ikke

community/dnsdist: create init script
  community/dnsdist/APKBUILD
  community/dnsdist/dnsdist.initd
Owners: @tcely

community/py3-jsonschema: upgrade to 4.25.0
  community/py3-jsonschema/APKBUILD
  community/py3-jsonschema/skip-license-test.patch
Owners: @Ikke

testing/py3-pyzor: upgrade to 1.1.2
  testing/py3-pyzor/APKBUILD
Owners: @Ikke

community/yadifa: upgrade to 3.0.2
  community/yadifa/APKBUILD
Owners: @Ikke

main/py3-snowballstemmer: upgrade to 3.0.1
  main/py3-snowballstemmer/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gvm-libs: upgrade to 22.24.0
  community/gvm-libs/APKBUILD
  community/gvm-libs/disable-asan.patch
Owners: @Ikke

testing/*: rebuild against libphonenumber 9.0.12
  testing/lomiri-history-service/APKBUILD
  testing/lomiri-telephony-service/APKBUILD
Owners: @Ikke

community/libphonenumber: upgrade to 9.0.12
  community/libphonenumber/APKBUILD
Owners: @Ikke

community/*: rebuild against libphonenumber 9.0.12
  community/chatty/APKBUILD
  community/evolution-data-server/APKBUILD
  community/kitinerary/APKBUILD
  community/lua-luaphonenumber/APKBUILD
  community/mmsd-tng/APKBUILD
  community/plasma-dialer/APKBUILD
  community/pn/APKBUILD
  community/pnc/APKBUILD
  community/spacebar/APKBUILD
  community/telepathy-ofono/APKBUILD
  community/vvmd/APKBUILD
Owners: @Ikke

community/fractal: enable on some arches
  community/fractal/APKBUILD
Owners: @Ikke

main/py3-fixtures: upgrade to 4.2.6
  main/py3-fixtures/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-colorful: upgrade to 0.5.7
  community/py3-colorful/APKBUILD
Owners: @Ikke

main/btrfs-progs: upgrade to 6.16
  main/btrfs-progs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-cx_freeze: upgrade to 8.4.0
  community/py3-cx_freeze/APKBUILD
Owners: @Ikke

testing/py3-apsw: upgrade to 3.50.4.0
  testing/py3-apsw/APKBUILD
Owners: @Ikke

community/opencpn: upgrade to 5.12.2
  community/opencpn/APKBUILD
  community/opencpn/mdns.patch
  community/opencpn/rapidjson.patch
Owners: @Ikke

community/libmsquic: enable on all arches
  community/libmsquic/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
