Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/notcurses: upgrade to 1.6.3
  testing/notcurses/APKBUILD
Owners: @Ikke

main/po4a: upgrade to 0.60
  main/po4a/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-setuptools: upgrade to 49.2.0
  main/py3-setuptools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-hypothesis: upgrade to 5.20.0
  community/py3-hypothesis/APKBUILD
Owners: @Ikke

community/py3-pikepdf: upgrade to 1.17.2
  community/py3-pikepdf/APKBUILD
Owners: @Ikke

community/mkmr: upgrade to 0.0.22
  community/mkmr/APKBUILD
Owners: @Ikke

community/py3-botocore: upgrade to 1.17.20
  community/py3-botocore/APKBUILD
Owners: @Ikke

community/py3-boto3: upgrade to 1.14.20
  community/py3-boto3/APKBUILD
Owners: @Ikke

community/py3-matplotlib: upgrade to 3.3.0
  community/py3-matplotlib/APKBUILD
Owners: @Ikke

main/py3-phonenumbers: upgrade to 8.12.6
  main/py3-phonenumbers/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-pytest-xdist: upgrade to 1.33.0
  community/py3-pytest-xdist/APKBUILD
Owners: @Ikke

testing/openttd: upgrade to 1.10.2
  testing/openttd/APKBUILD
Owners: @Ikke

testing/py3-cloudpickle: upgrade to 1.5.0
  testing/py3-cloudpickle/APKBUILD
Owners: @Ikke

community/riot-web: upgrade to 1.7.1
  community/riot-web/APKBUILD
Owners: @Ikke

testing/ostinato: upgrade to 1.1
  testing/ostinato/APKBUILD
  testing/ostinato/bug-265.patch
Owners: @Ikke

community/py3-django*: moved from main
  community/py3-django-contact-form/APKBUILD
  community/py3-django-djblets/APKBUILD
  community/py3-django-extra-views/APKBUILD
  community/py3-django-haystack/APKBUILD
  community/py3-django-phonenumber-field/APKBUILD
  community/py3-django-pipeline/APKBUILD
  community/py3-django-registration/APKBUILD
  community/py3-django-sorl-thumbnail/APKBUILD
  community/py3-django-tables2/APKBUILD
  community/py3-django-treebeard/APKBUILD
  community/py3-django-widget-tweaks/APKBUILD
  community/py3-django/APKBUILD
Owners: @Ikke

community/py3-django-sorl-thumbnail: upgrade to 12.6.3
  community/py3-django-sorl-thumbnail/APKBUILD
Owners: @Ikke

community/py3-django-tables2: upgrade to 2.2.1
  community/py3-django-tables2/APKBUILD
Owners: @Ikke

community/py3-django: upgrade to 3.0.8
  community/py3-django/APKBUILD
Owners: @Ikke

community/py3-django-haystack: upgrade to 3.0b2
  community/py3-django-haystack/APKBUILD
  community/py3-django-oscar/APKBUILD
Owners: @Ikke

community/py3-django-oscar: upgrade to 2.1
  community/py3-django-oscar/APKBUILD
Owners: @Ikke

community/py3-asgiref: new package
  community/py3-asgiref/APKBUILD
Owners: @Ikke

unmaintained/py3-django-overextends: moved from community
  unmaintained/py3-django-overextends/APKBUILD
Owners: none

community/phoc: rebuild against libwlroots.so.6
  community/phoc/APKBUILD
  community/phoc/wlroots.patch
Owners: @Ikke

testing/grafana: upgrade to 7.1.0
  testing/grafana/APKBUILD
Owners: @Ikke

community/py3-django-treebeard: compatibility with Django 3
  community/py3-django-treebeard/0001-Signature-of-ChangeList-changed-in-Django-2.1.patch
  community/py3-django-treebeard/0002-add-user-to-rrequest-object.patch
  community/py3-django-treebeard/0003-refactor-all-occurences-of-ChangeList.patch
  community/py3-django-treebeard/0004-Update-README.rst.patch
  community/py3-django-treebeard/0005-Update-README.rst.patch
  community/py3-django-treebeard/0006-docs-Fix-simple-typo-proprt-property.patch
  community/py3-django-treebeard/0007-Fix-pytest-installation-instructions.patch
  community/py3-django-treebeard/0008-Travis-CI-Get-PostgreSQL-server-back-on-default-port.patch
  community/py3-django-treebeard/0009-AppVeyor-Get-list-of-tox-environments-back-in-sync-w.patch
  community/py3-django-treebeard/0010-tox.ini-Document-state-of-environment-dj22-mssql.patch
  community/py3-django-treebeard/0011-Declare-support-for-Django-3-and-drop-support-for-EO.patch
  community/py3-django-treebeard/APKBUILD
Owners: @Ikke

testing/wayfire: rebuild against libwlroots.so.6
  testing/wayfire/APKBUILD
  testing/wayfire/wlroots_0.11.0.patch
Owners: @Ikke

community/tor: disable zstd on armhf
  community/tor/APKBUILD
Owners: @Ikke

testing/mautrix-whatsapp: upgrade to 0.1.3
  testing/mautrix-whatsapp/APKBUILD
Owners: @Ikke

testing/xmrig: upgrade to 6.3.0
  testing/xmrig/APKBUILD
Owners: @Ikke

testing/xmrig-proxy: upgrade to 6.3.0
  testing/xmrig-proxy/APKBUILD
Owners: @Ikke

community/gitlab-runner: upgrade to 13.0.0
  community/gitlab-runner/APKBUILD
Owners: @Ikke

community/sddm: provide display-manager service
  community/sddm/APKBUILD
  community/sddm/sddm.initd
Owners: @Ikke

community/elogind: start before display-manager virtual service
  community/elogind/APKBUILD
  community/elogind/elogind.initd
Owners: @Ikke

community/lxdm: modernize
  community/lxdm/APKBUILD
  community/lxdm/lxdm.initd
Owners: @Ikke

community/lightdm: provide display-manager service
  community/lightdm/APKBUILD
  community/lightdm/lightdm.initd
Owners: @Ikke

community/xdm: provide display-manager service
  community/xdm/APKBUILD
  community/xdm/xdm.initd
Owners: @Ikke

community/gdm: provide display-manager service
  community/gdm/APKBUILD
  community/gdm/gdm.initd
Owners: @Ikke

testing/one-dnn: upgrade to 1.5.1
  testing/one-dnn/APKBUILD
Owners: @Ikke

testing/nwg-launchers: use abuild-meson, correct makedepends
  testing/nwg-launchers/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
