Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/traefik: package log dir
  community/traefik/APKBUILD
  community/traefik/traefik.pre-install
Owners: @Ikke

main/fontconfig: upgrade to 2.15.0
  main/fontconfig/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/drbd-utils: upgrade to 9.27.0
  main/drbd-utils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/deja-dup: upgrade to 45.2
  community/deja-dup/APKBUILD
Owners: @Ikke

main/bluez{,-headers}, community/obexd-enhanced: upgrade to 5.71
  community/obexd-enhanced/APKBUILD
  community/obexd-enhanced/test-mesh-crypto.patch
  main/bluez-headers/APKBUILD
  main/bluez/APKBUILD
  main/bluez/test-mesh-crypto.patch
Owners: @Ikke, @andypost, @nmeum, @ncopa

main/iw: upgrade to 6.7
  main/iw/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/qemu: fix virtio-gpu redraw issue
  community/qemu/APKBUILD
  community/qemu/fix-virtio-gpu-redraw.patch
Owners: @Ikke

community/libmpdclient: upgrade to 2.22
  community/libmpdclient/APKBUILD
Owners: @Ikke

community/gsoap: upgrade to 2.8.132
  community/gsoap/APKBUILD
  community/gsoap/musl-fixes.patch
Owners: @Ikke

main/parallel: upgrade to 20231222
  main/parallel/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/poedit: upgrade to 3.4.2
  community/poedit/APKBUILD
  community/poedit/include-ctime.patch
Owners: @Ikke

community/py3-regex: upgrade to 2023.12.26
  community/py3-regex/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 5.15.145-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.15.145
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.15.145-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.15.145-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.15.145-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 5.15.145-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-lts: rebuild against kernel 5.15.145-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/qpdf: upgrade to 11.7.0
  community/qpdf/APKBUILD
Owners: @Ikke

community/exempi: upgrade to 2.6.5
  community/exempi/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.15.145-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/rtl8821ce-lts: rebuild against kernel 5.15.144-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/jool-modules-lts: rebuild against kernel 5.15.145-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.15.145-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-lts: rebuild against kernel 5.15.144-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-lts: upgrade to 5.15.144
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtpengine-lts: rebuild against kernel 5.15.145-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/dahdi-linux-lts: rebuild against kernel 5.15.145-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.15.144-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 5.15.144-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.15.145
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.15.144-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.15.144-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.15.145-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/element-web: upgrade to 1.11.52
  community/element-web/APKBUILD
Owners: @Ikke

testing/element-desktop: upgrade to 1.11.52
  testing/element-desktop/APKBUILD
Owners: @Ikke

main/alpine-conf: upgrade to 3.17.1
  main/alpine-conf/0001-update-kernel-support-more-System.map-and-config-fil.patch
  main/alpine-conf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/fiery: take over maintainership and set original contributor
  testing/fiery/APKBUILD
Owners: @Ikke

testing/fiery: upgrade to 1.1.2
  testing/fiery/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
