Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/mellowplayer: upgrade to 3.6.3
  community/mellowplayer/APKBUILD
Owners: @Ikke

community/krita: rebuild against openexr 2.5.1
  community/krita/APKBUILD
Owners: @Ikke

community/darktable: rebuild against openexr 2.5.1
  community/darktable/APKBUILD
Owners: @Ikke

community/kimageformats: rebuild against openexr 2.5.1
  community/kimageformats/APKBUILD
Owners: @Ikke

community/openexr: upgrade to 2.5.1
  community/openexr/10-musl-_fpstate.patch
  community/openexr/APKBUILD
  community/openexr/fix-pkgconfig-prefix.patch
Owners: @Ikke

community/gst-plugins-bad: rebuild against openexr 2.5.1
  community/gst-plugins-bad/APKBUILD
Owners: @Ikke

testing/openimageio: rebuild against openexr 2.5.1
  testing/openimageio/APKBUILD
Owners: @Ikke

unmaintained/jemalloc: fix cross compiling
  unmaintained/jemalloc/APKBUILD
Owners: none

main/abuild: split apkbuild-pypi into its own subpackages
  main/abuild/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/telegram-desktop: upgrade to 2.1.11
  community/telegram-desktop/APKBUILD
Owners: @Ikke

main/perl-libwww: upgrade to 6.45
  main/perl-libwww/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-regex: upgrade to 2020.6.8
  community/py3-regex/APKBUILD
Owners: @Ikke

main/py3-wcwidth: upgrade to 0.2.4
  main/py3-wcwidth/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/i3status-rust: upgrade to 0.14.1
  testing/i3status-rust/APKBUILD
Owners: @Ikke

main/py3-yaml: add dependency on python3
  main/py3-yaml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/xmrig: upgrade to 5.11.3
  testing/xmrig/APKBUILD
Owners: @Ikke

testing/xmrig-proxy: upgrade to 5.11.0
  testing/xmrig-proxy/APKBUILD
Owners: @Ikke

testing/openimageio: disable on armhf due to failing build
  testing/openimageio/APKBUILD
Owners: @Ikke

community/openexr: disable on mips* due to missing py3-numpy
  community/openexr/APKBUILD
Owners: @Ikke

community/firefox: split gtk2
  community/firefox/APKBUILD
Owners: @Ikke

community/firefox-esr: split gtk2
  community/firefox-esr/APKBUILD
Owners: @Ikke

main/libuv: upgrade to 1.25.0
  main/libuv/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/k9s: disable on mips64 due to missing go
  testing/k9s/APKBUILD
Owners: @Ikke

main/nodejs: use bundled http-parser
  main/nodejs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gnutls: security upgrade to 3.6.14 (CVE-2020-13777)
  main/gnutls/APKBUILD
  main/gnutls/GNUTLS-SA-2020-03-31.patch
Owners: @andypost, @nmeum, @ncopa

main/gnutls: add CVE-2020-13777 to secfixes comment
  main/gnutls/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gnutls: security upgrade to 3.6.14 (CVE-2020-13777)
  main/gnutls/APKBUILD
  main/gnutls/GNUTLS-SA-2020-03-31.patch
Owners: @andypost, @nmeum, @ncopa

testing/wlrobs: upgrade to 0_hg20200608
  testing/wlrobs/APKBUILD
Owners: @Ikke

main/gnutls: security upgrade to 3.6.14 (CVE-2020-13777)
  main/gnutls/APKBUILD
  main/gnutls/GNUTLS-SA-2020-03-31.patch
  main/gnutls/tests-date-compat.patch
Owners: @andypost, @nmeum, @ncopa

community/shards: upgrade to 0.11.1
  community/shards/APKBUILD
Owners: @Ikke

main/gnutls: security upgrade to 3.6.14 (CVE-2020-13777)
  main/gnutls/APKBUILD
  main/gnutls/GNUTLS-SA-2020-03-31.patch
  main/gnutls/tests-date-compat.patch
Owners: @andypost, @nmeum, @ncopa

community/wireguard-rpi: rebuild against kernel 5.4.45-r0
  community/wireguard-rpi/APKBUILD
Owners: @Ikke

main/linux-rpi: upgrade to 5.4.45
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-rpi: rebuild against kernel 5.4.45-r0
  community/jool-modules-rpi/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.4.45
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/mautrix-whatsapp: disable on mips64 due to go
  testing/mautrix-whatsapp/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 5.4.45-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/drbd-lts: rebuild against kernel 5.4.45-r0
  main/drbd-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-lts: rebuild against kernel 5.4.45-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-lts: rebuild against kernel 5.4.45-r0
  community/wireguard-lts/APKBUILD
Owners: @Ikke
