Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/py3-dateparser: re-add aport
  testing/py3-dateparser/APKBUILD
Owners: @Ikke

community/gallery-dl: upgrade to 1.27.7
  community/gallery-dl/APKBUILD
Owners: @Ikke

testing/tree-sitter-ssh-client-config: upgrade to 2024.11.21
  testing/tree-sitter-ssh-client-config/APKBUILD
Owners: @Ikke

community/intel-media-driver: upgrade to 24.4.3
  community/intel-media-driver/APKBUILD
Owners: @Ikke

testing/py3-textual: upgrade to 0.86.3
  testing/py3-textual/APKBUILD
Owners: @Ikke

testing/dooit: upgrade to 3.0.4
  testing/dooit/APKBUILD
Owners: @Ikke

community/cue-cli: upgrade to 0.11.0
  community/cue-cli/0002-fix-tests-32bit.patch
  community/cue-cli/APKBUILD
Owners: @Ikke

community/apt: upgrade to 2.9.14
  community/apt/APKBUILD
Owners: @Ikke

community/ugrep: upgrade to 7.1.0
  community/ugrep/APKBUILD
Owners: @Ikke

main/parallel: upgrade to 20241122
  main/parallel/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/minio-client: upgrade to 0.20241117.193525
  community/minio-client/APKBUILD
Owners: @Ikke

main/mtools: upgrade to 4.0.46
  main/mtools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/tilix: fix build
  community/tilix/0001-meson.build-add-allinst-when-compiling-2210.patch
  community/tilix/APKBUILD
Owners: @Ikke

community/mbuffer: fix build on x86
  community/mbuffer/APKBUILD
  community/mbuffer/clamp-32-bit-parameters.patch
Owners: @Ikke

community/kodi: rebuild against libdisplay-info 0.2.0
  community/kodi/APKBUILD
Owners: @Ikke

testing/wlroots0.17: rebuild against libdisplay-info 0.2.0
  testing/wlroots0.17/APKBUILD
Owners: @Ikke

community/wlroots: rebuild against libdisplay-info 0.2.0
  community/wlroots/APKBUILD
Owners: @Ikke

testing/niri: rebuild against libdisplay-info 0.2.0
  testing/niri/APKBUILD
Owners: @Ikke

community/weston: rebuild against libdisplay-info 0.2.0
  community/weston/APKBUILD
Owners: @Ikke

community/aquamarine: rebuild against libdisplay-info 0.2.0
  community/aquamarine/APKBUILD
Owners: @Ikke

community/kwin: rebuild against libdisplay-info 0.2.0
  community/kwin/APKBUILD
Owners: @Ikke

testing/gamescope: upgrade to 3.15.14
  testing/gamescope/APKBUILD
  testing/gamescope/limits.patch
  testing/gamescope/rt.patch
  testing/gamescope/unistd.patch
  testing/gamescope/wlnull.patch
Owners: @Ikke

community/phoc: rebuild against libdisplay-info 0.2.0
  community/phoc/APKBUILD
Owners: @Ikke

community/mutter: rebuild against libdisplay-info 0.2.0
  community/mutter/APKBUILD
Owners: @Ikke

testing/gamescope: disable for now
  testing/gamescope/APKBUILD
Owners: @Ikke

community/tilix: re-enable on loongarch64
  community/tilix/APKBUILD
Owners: @Ikke

community/onedrive: upgrade to 2.5.3
  community/onedrive/APKBUILD
Owners: @Ikke

community/librttopo: fix checksum mismatch
  community/librttopo/APKBUILD
Owners: @Ikke

main/acf-snort: enable on loongarch64
  main/acf-snort/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/snort: enable on loongarch64
  main/snort/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/*: enable on loongarch64
  community/heplify/APKBUILD
  community/knot-resolver/APKBUILD
  community/love/APKBUILD
  community/lua-etlua/APKBUILD
  community/lua-turbo/APKBUILD
  community/luakit/APKBUILD
  community/obs-studio/APKBUILD
  community/openresty/APKBUILD
  community/postgresql-pllua/APKBUILD
  community/valhalla/APKBUILD
Owners: @Ikke, @tcely

community/intel-gmmlib: upgrade to 22.5.4
  community/intel-gmmlib/APKBUILD
Owners: @Ikke

community/flare: upgrade to 0.15.6
  community/flare/APKBUILD
Owners: @Ikke

testing/kakoune-lsp: upgrade to 18.0.3
  testing/kakoune-lsp/APKBUILD
Owners: @Ikke

community/kakoune-lsp: move from testing
  community/kakoune-lsp/APKBUILD
Owners: @Ikke

community/wayout: upgrade to 0.1.5
  community/wayout/APKBUILD
Owners: @Ikke

testing/nwg-panel: upgrade to 0.9.51
  testing/nwg-panel/APKBUILD
Owners: @Ikke

community/openvdb: fix missing template arg list error
  community/openvdb/0001-fix-missing-template-arg-list-error.patch
  community/openvdb/APKBUILD
Owners: @Ikke

community/highscore: fix checksum
  community/highscore/APKBUILD
Owners: @Ikke

community/gleam: upgrade to 1.6.2
  community/gleam/APKBUILD
Owners: @Ikke
