Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/qt5-qtremoteobjects: apply latest KDE patches
  community/qt5-qtremoteobjects/APKBUILD
Owners: @Ikke

community/qt5-qtscxml: apply latest KDE patches
  community/qt5-qtscxml/APKBUILD
Owners: @Ikke

community/qt5-qtlocation: apply latest KDE patches
  community/qt5-qtlocation/APKBUILD
Owners: @Ikke

community/qt5-qtnetworkauth: apply latest KDE patches
  community/qt5-qtnetworkauth/APKBUILD
Owners: @Ikke

community/assimp: move from testing
  community/assimp/01-rm-revision-test.patch
  community/assimp/02-fix-ssize-32bit.patch
  community/assimp/03-fix-aiGetLegalStringTest.patch
  community/assimp/04-fix-unittests.patch
  community/assimp/05-remove-failing-x86-test.patch
  community/assimp/APKBUILD
Owners: @Ikke

community/qt5-qtlottie: apply latest KDE patches
  community/qt5-qtlottie/APKBUILD
Owners: @Ikke

community/qt5-qtvirtualkeyboard: apply latest KDE patches
  community/qt5-qtvirtualkeyboard/APKBUILD
Owners: @Ikke

community/qt5-qtserialport: apply latest KDE patches
  community/qt5-qtserialport/APKBUILD
Owners: @Ikke

community/qt5-qtwebsockets: apply latest KDE patches
  community/qt5-qtwebsockets/APKBUILD
Owners: @Ikke

community/qt5-qtspeech: apply latest KDE patches
  community/qt5-qtspeech/APKBUILD
Owners: @Ikke

community/qt5-qtwebview: apply latest KDE patches
  community/qt5-qtwebview/APKBUILD
Owners: @Ikke

community/qt5-qtserialbus: apply latest KDE patches
  community/qt5-qtserialbus/APKBUILD
Owners: @Ikke

community/qt5-qtsensors: apply latest KDE patches
  community/qt5-qtsensors/APKBUILD
Owners: @Ikke

community/qt5-qtwebchannel: apply latest KDE patches
  community/qt5-qtwebchannel/APKBUILD
Owners: @Ikke

community/qt5-qtx11extras: apply latest KDE patches
  community/qt5-qtx11extras/APKBUILD
Owners: @Ikke

community/qt5-qtxmlpatterns: apply latest KDE patches
  community/qt5-qttranslations/APKBUILD
  community/qt5-qtxmlpatterns/APKBUILD
Owners: @Ikke

community/qt5-qtgrahpicaleffects: apply latest KDE patches
  community/qt5-qtgraphicaleffects/APKBUILD
Owners: @Ikke

community/qt5-qttranslations: apply latest KDE patches
  community/qt5-qttranslations/APKBUILD
Owners: @Ikke

community/qt5-qtwebglplugin: apply latest KDE patches
  community/qt5-qtwebglplugin/APKBUILD
Owners: @Ikke

community/qt5-qtquickcontrols: apply latest KDE patches
  community/qt5-qtquickcontrols/APKBUILD
Owners: @Ikke

community/qt5-qtimageformats: apply latest KDE patches
  community/qt5-qtimageformats/APKBUILD
Owners: @Ikke

community/qt5-qtquicktimeline: apply latest KDE patches
  community/qt5-qtquicktimeline/APKBUILD
Owners: @Ikke

community/maliit-keyboard: add missing runtime dep on dconf
  community/maliit-keyboard/APKBUILD
Owners: @Ikke

community/maliit-keyboard: add missing runtime dep on dconf
  community/maliit-keyboard/APKBUILD
Owners: @Ikke

community/qt5-qtquick3d: disable on mips64
  community/qt5-qtquick3d/APKBUILD
Owners: @Ikke

testing/py3-zulip: disable tests, unknown target 'test' for setup.py
  testing/py3-zulip/APKBUILD
Owners: @Ikke

testing/py3-zulip: use pytest directly
  testing/py3-zulip/APKBUILD
Owners: @Ikke

testing/py3-zulip: re-enable tests
  testing/py3-zulip/APKBUILD
Owners: @Ikke

community/firefox: build with clang, doesn't OOM on 32-bit
  community/firefox/APKBUILD
Owners: @Ikke

main/glib: upgrade to 2.68.1
  main/glib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/pidgin: upgrade to 2.14.3
  community/pidgin/APKBUILD
Owners: @Ikke

testing/zeitgeist: upgrade to 1.0.3
  testing/zeitgeist/0001-Use-GenericArray-API-only.patch
  testing/zeitgeist/APKBUILD
  testing/zeitgeist/gettext_0.20.patch
Owners: @Ikke

community/firefox: build with CLang, takes less RAM
  community/firefox/APKBUILD
Owners: @Ikke

main/libseccomp: rebuild against python 3.9
  main/libseccomp/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/vim: rebuild against python 3.9
  main/vim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/appstream: upgrade to 0.14.3
  community/appstream/APKBUILD
Owners: @Ikke

community/gir-to-d: upgrade to 0.22.0
  community/gir-to-d/APKBUILD
Owners: @Ikke

community/celluloid: upgrade to 0.21
  community/celluloid/APKBUILD
Owners: @Ikke

community/deja-dup: upgrade to 42.7
  community/deja-dup/APKBUILD
Owners: @Ikke

unmaintained/searx: move from community
  unmaintained/searx/APKBUILD
  unmaintained/searx/relax-dependencies.patch
Owners: none

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
