Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/php8-pecl-igbinary: upgrade to 3.2.4
  community/php8-pecl-igbinary/APKBUILD
Owners: @Ikke

community/moarvm: upgrade to 2021.07
  community/moarvm/APKBUILD
Owners: @Ikke

community/nqp: upgrade to 2021.07
  community/nqp/APKBUILD
Owners: @Ikke

community/rakudo: upgrade to 2021.07
  community/rakudo/APKBUILD
Owners: @Ikke

unmaintained/justc-envdir: move from community
  unmaintained/justc-envdir/APKBUILD
Owners: none

unmaintained/s6-overlay: move from community
  unmaintained/s6-overlay/APKBUILD
  unmaintained/s6-overlay/execline-compat-fix.patch
Owners: none

unmaintained/s6-overlay-preinit: move from community
  unmaintained/s6-overlay-preinit/APKBUILD
Owners: none

testing/xfce4-pulseaudio-plugin: add keybinder3-dev to makedepends
  testing/xfce4-pulseaudio-plugin/APKBUILD
Owners: @Ikke

community/suricata: upgrade to 6.0.3
  community/suricata/APKBUILD
Owners: @Ikke

community/libhtp: upgrade to 0.5.38
  community/libhtp/APKBUILD
Owners: @Ikke

main/nsd: upgrade to 4.3.7
  main/nsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/blueman: new aport
  testing/blueman/APKBUILD
  testing/blueman/blueman.post-deinstall
  testing/blueman/blueman.post-install
  testing/blueman/blueman.post-upgrade
Owners: @Ikke

main/squashfs-tools: upgrade to 4.5
  main/squashfs-tools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireshark: upgrade to 3.4.7
  community/wireshark/APKBUILD
Owners: @Ikke

main/curl: security upgrade to 7.78.0
  main/curl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/curl: security upgrade to 7.78.0
  main/curl/APKBUILD
  main/curl/conn_shutdown-if-closed-during-CONNECT-cleanup-properly.patch
Owners: @andypost, @nmeum, @ncopa

main/curl: security upgrade to 7.78.0
  main/curl/APKBUILD
  main/curl/conn_shutdown-if-closed-during-CONNECT-cleanup-properly.patch
Owners: @andypost, @nmeum, @ncopa

community/firefox: upgrade to 90.0.2
  community/firefox/APKBUILD
Owners: @Ikke

main/py3-sphinxcontrib-websupport: upgrade to 1.2.4
  main/py3-sphinxcontrib-websupport/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-sphinxcontrib-phpdomain: 0.7.3
  testing/py3-sphinxcontrib-phpdomain/APKBUILD
Owners: @Ikke

testing/py3-sphinxcontrib-programoutput: upgrade to 0.17
  testing/py3-sphinxcontrib-programoutput/APKBUILD
Owners: @Ikke

testing/py3-sphinxcontrib-restbuilder: upgrade to 0.3
  testing/py3-sphinxcontrib-restbuilder/APKBUILD
Owners: @Ikke

testing/py3-sphinxcontrib-spelling: upgrade to 7.2.1
  testing/py3-sphinxcontrib-spelling/APKBUILD
Owners: @Ikke

main/efitools: fix on riscv64
  main/efitools/005-riscv64.patch
  main/efitools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/redis: security upgrade to 6.2.5
  main/redis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/redis: security upgrade to 6.2.5
  main/redis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/redis: security upgrade to 6.0.15
  main/redis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/redis: security upgrade to 5.0.13
  main/redis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/redis: security upgrade to 5.0.13
  main/redis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/strace: upgrade to 5.13
  main/strace/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/oil: new aport
  testing/oil/APKBUILD
Owners: @Ikke

community/gnome-desktop: upgrade to 40.3
  community/gnome-desktop/APKBUILD
Owners: @Ikke

community/gnome-shell: upgrade to 40.3
  community/gnome-shell/APKBUILD
Owners: @Ikke

community/gnome-shell-extensions: upgrade to 40.3
  community/gnome-shell-extensions/APKBUILD
  community/gnome-shell/APKBUILD
  community/gnome-shell/windowManager-ignore-error-without-systemd.patch
Owners: @Ikke

community/mutter: upgrade to 40.3
  community/mutter/APKBUILD
Owners: @Ikke

testing/lxqt-policykit: disable on riscv64
  testing/lxqt-policykit/APKBUILD
Owners: @Ikke

testing/secureboot-hook: new aport
  testing/secureboot-hook/APKBUILD
  testing/secureboot-hook/secureboot-hook.post-install
  testing/secureboot-hook/secureboot.conf
  testing/secureboot-hook/secureboot.hook
Owners: @Ikke

main/efitools: disable on riscv64 due to build failure
  main/efitools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-colorlog: upgrade to 5.0.1
  testing/py3-colorlog/APKBUILD
Owners: @Ikke

testing/lximage-qt: upgrade to 0.17.0
  testing/lximage-qt/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
