Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/gnome-session: Enable aarch64 and armv7
  testing/gnome-session/APKBUILD
Owners: @Ikke

testing/gnome-session: Enable armv7
  testing/gnome-control-center/APKBUILD
Owners: @Ikke

main/nsd: upgrade to 4.2.1
  main/nsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nsd: upgrade to 4.2.0
  main/nsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nss: upgrade to 3.45
  main/nss/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/freetds: upgrade to 1.1.11
  main/freetds/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/python2: enable optimizations
  main/python2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/samurai: update to 0.7, move to community
  community/samurai/APKBUILD
Owners: @Ikke

community/font-noto-cjk: split into subpackages
  community/font-noto-cjk/APKBUILD
Owners: @Ikke

community/firefox-esr: security upgrade to 60.8.0
  community/firefox-esr/APKBUILD
Owners: @Ikke

main/mozjs60: upgrade to 60.8.0
  main/mozjs60/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/freetype: upgrade to 2.10.1
  main/freetype/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/gnome-session: Enable aarch64 and armv7
  testing/gnome-session/APKBUILD
Owners: @Ikke

testing/gnome-shell: Enable aarch64 and armv7
  testing/gnome-shell/APKBUILD
Owners: @Ikke

testing/gnome-session: Enable armv7
  testing/gnome-control-center/APKBUILD
Owners: @Ikke

community/perl-text-template: upgrade to 1.56
  community/perl-text-template/APKBUILD
Owners: @Ikke

main/nsd: upgrade to 4.2.0
  main/nsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nsd: upgrade to 4.2.1
  main/nsd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/scdoc: upgrade to 1.9.6
  community/scdoc/APKBUILD
  community/scdoc/scdoc-use-TZ-UTC-in-test-case.patch
Owners: @Ikke

Revert "testing/knot-resolver4: fix sigsegv in stats module init"
  testing/knot-resolver4/APKBUILD
  testing/knot-resolver4/stats-module-memset-upstreams.patch
Owners: @tcely

testing/libretro-desmume: limit on s390x and ppc64le
  testing/libretro-desmume/APKBUILD
Owners: @Ikke

community/openrct2: move from testing
  community/openrct2/APKBUILD
  community/openrct2/openrct2-cli.post-install
  community/openrct2/openrct2.post-install
Owners: @Ikke

community/openrct2: rebuild
  community/openrct2/APKBUILD
Owners: @Ikke

testing/knot-resolver4: security upgrade to 4.1.0
  testing/knot-resolver4/APKBUILD
  testing/knot-resolver4/meson-dnstap-generated-sources.patch
Owners: @tcely

community/elixir: fix breaking tests
  community/elixir/APKBUILD
  community/elixir/fix-flaky-mix-test-leak.patch
  community/elixir/fix-tests-with-unavailable-epmd.patch
Owners: @Ikke

testing/mingw-w64-headers: new aport
  testing/mingw-w64-headers/APKBUILD
Owners: @Ikke

testing/mingw-w64-binutils: new aport
  testing/mingw-w64-binutils/APKBUILD
Owners: @Ikke

testing/ctop: new aport
  testing/ctop/APKBUILD
Owners: @Ikke

community/ipython: upgrade to 7.6.1
  community/ipython/APKBUILD
Owners: @Ikke

testing/netdata: upgrade to 1.16.0
  testing/netdata/APKBUILD
Owners: @Ikke

community/spdx-licenses: upgrade to 3.6
  community/spdx-licenses/APKBUILD
Owners: @Ikke

testing/libyang: update to 1.0-r3
  testing/libyang/09e7159e4f91a39f3d19ba6590d558ab027a8a84.patch
  testing/libyang/5b3c324097fa3e122edb774213aeafd6eba137f9.patch
  testing/libyang/APKBUILD
Owners: @Ikke

testing/retroarch-joypad-autoconfig: new aport
  testing/retroarch-joypad-autoconfig/APKBUILD
Owners: @Ikke

community/nodejs-current: upgrade to 12.6.0
  community/nodejs-current/APKBUILD
Owners: @Ikke

testing/mingw-w64-gcc-base: new aport
  testing/mingw-w64-gcc-base/APKBUILD
Owners: @Ikke

testing/ctop: cleanup unneeded lines
  testing/ctop/APKBUILD
Owners: @Ikke

testing/mingw-w64-headers: new aport
  testing/mingw-w64-headers/APKBUILD
Owners: @Ikke

community/libreoffice: upgrade to 6.2.5.2
  community/libreoffice/APKBUILD
Owners: @Ikke

main/meson: upgrade to 0.51.1
  main/meson/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/mingw-w64-binutils: new aport
  testing/mingw-w64-binutils/APKBUILD
Owners: @Ikke
