Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/gost: upgrade to 3.2.4
  community/gost/APKBUILD
Owners: @Ikke

main/bind: upgrade to 9.20.12
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/nss: upgrade to 3.113.1
  main/nss/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/librewolf: upgrade to 141.0_p1
  community/librewolf/APKBUILD
  community/librewolf/bmo-1953266-sqlite-vec-uint.patch
Owners: @Ikke

community/linux-stable: enable EROFS
  community/linux-stable/APKBUILD
  community/linux-stable/stable.aarch64.config
  community/linux-stable/stable.armv7.config
  community/linux-stable/stable.loongarch64.config
  community/linux-stable/stable.ppc64le.config
  community/linux-stable/stable.riscv64.config
  community/linux-stable/stable.s390x.config
  community/linux-stable/stable.x86.config
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: enable MFD_AXP20X_I2C on aarch64
  community/linux-stable/APKBUILD
  community/linux-stable/stable.aarch64.config
Owners: @Ikke

community/zfs-stable: rebuild against linux-stable 6.15.11-r0
  community/zfs-stable/APKBUILD
Owners: @Ikke

community/linux-stable: upgrade to 6.15.11
  community/linux-stable/APKBUILD
Owners: @Ikke

main/linux-headers: upgrade to 6.15.11
  main/linux-headers/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/linux-tools: upgrade to 6.15.11
  community/linux-tools/APKBUILD
Owners: @Ikke

community/ossec-hids-{agent,server}: enable jit on all arches
  community/ossec-hids-agent/APKBUILD
  community/ossec-hids-server/APKBUILD
Owners: @Ikke

main/pcre2: upgrade to 10.45
  main/pcre2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/firefox: upgrade to 142.0
  community/firefox/APKBUILD
  community/firefox/loong-skia-lasx.patch
  community/firefox/loong0005-Fix-libyuv-build-with-LSX-LASX.patch
Owners: @Ikke

community/got: upgrade to 0.117
  community/got/APKBUILD
Owners: @Ikke

community/passt: upgrade to 2025.08.05
  community/passt/APKBUILD
Owners: @Ikke

community/docker-cli-buildx: upgrade to 0.27.0
  community/docker-cli-buildx/APKBUILD
Owners: @Ikke

community/libfaketime: upgrade to 0.9.12
  community/libfaketime/APKBUILD
  community/libfaketime/no-werror.patch
  community/libfaketime/time-t-32-bit.patch
Owners: @Ikke

community/libfaketime: take over maintainership
  community/libfaketime/APKBUILD
Owners: @Ikke

community/mimir: upgrade to 2.17.0
  community/mimir/APKBUILD
Owners: @Ikke

community/aaaaxy: upgrade to 1.6.283
  community/aaaaxy/APKBUILD
Owners: @Ikke

community/inko: move from testing
  community/inko/APKBUILD
  community/inko/cargo-auditable.patch
Owners: @Ikke

community/hexdiff: move from testing
  community/hexdiff/APKBUILD
Owners: @Ikke

community/moor: move from testing
  community/moor/APKBUILD
  community/moor/fix-test.patch
Owners: @Ikke

community/vbindiff: move from testing
  community/vbindiff/APKBUILD
Owners: @Ikke

community/reflex: move from testing
  community/reflex/APKBUILD
Owners: @Ikke

main/perl-sub-quote: upgrade to 2.006009
  main/perl-sub-quote/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/vim: upgrade to 9.1.1663
  main/vim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/debian-devscripts: upgrade to 2.25.18
  main/debian-devscripts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/meson: upgrade to 1.8.4
  main/meson/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/libspelling: upgrade to 0.4.9
  community/libspelling/APKBUILD
Owners: @Ikke

community/libspelling: upgrade to 0.4.9
  community/libspelling/APKBUILD
Owners: @Ikke

community/yt-dlp: upgrade to 2025.08.20
  community/yt-dlp/APKBUILD
Owners: @Ikke

community/yt-dlp: upgrade to 2025.08.20
  community/yt-dlp/APKBUILD
Owners: @Ikke

community/github-cli: upgrade to 2.76.2
  community/github-cli/APKBUILD
Owners: @Ikke

community/woodpecker: upgrade to 3.9.0
  community/woodpecker/APKBUILD
Owners: @Ikke

testing/wayqt: switch to qt6
  testing/wayqt/APKBUILD
Owners: @Ikke

testing/dfl-applications: upgrade to 0.3.0
  testing/dfl-applications/APKBUILD
  testing/dfl-applications/musl.patch
Owners: @Ikke

community/libdbusmenu-qt: drop
  community/libdbusmenu-qt/APKBUILD
Owners: @Ikke

testing/dfl-ipc: upgrade to 0.3.0
  testing/dfl-ipc/APKBUILD
Owners: @Ikke

testing/dfl-login1: upgrade to 0.3.0
  testing/dfl-login1/APKBUILD
Owners: @Ikke
