Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/speakersafetyd: move udev rules to usr-merge
  testing/speakersafetyd/APKBUILD
Owners: @Ikke

testing/rkdeveloptool: move udev rules to usr-merge
  testing/rkdeveloptool/APKBUILD
Owners: @Ikke

community/shadow: install libs to usr-merge
  community/shadow/APKBUILD
Owners: @Ikke

Revert "Reapply "main/fortify-headers: upgrade to 2.3.1""
  main/fortify-headers/0001-add-initial-clang-support.patch
  main/fortify-headers/0002-avoid-__extension__-with-clang.patch
  main/fortify-headers/0003-Disable-wrapping-of-ppoll.patch
  main/fortify-headers/APKBUILD
  main/fortify-headers/cflags-for-tests.patch
  main/fortify-headers/fd_isset.patch
  main/fortify-headers/no-strnlen.patch
Owners: @andypost, @nmeum, @ncopa

community/py3-aiofiles: upgrade to 24.1.0
  community/py3-aiofiles/APKBUILD
Owners: @Ikke

testing/mitra: upgrade to 3.6.0
  testing/mitra/APKBUILD
Owners: @Ikke

community/rspamd: upgrade to 3.10.0
  community/rspamd/APKBUILD
Owners: @Ikke

community/pdns-recursor: security upgrade to 5.1.2 (CVE-2024-25590)
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/ublock-origin: upgrade to 1.60.0
  community/ublock-origin/APKBUILD
Owners: @Ikke

community/folks: rebuild against tinysparql 3.8.0
  community/folks/APKBUILD
Owners: @Ikke

community/php83-pecl-opentelemetry: upgrade to 1.1.0
  community/php83-pecl-opentelemetry/APKBUILD
Owners: @Ikke

community/php82-pecl-opentelemetry: upgrade to 1.1.0
  community/php82-pecl-opentelemetry/APKBUILD
Owners: @Ikke

testing/php81-pecl-opentelemetry: upgrade to 1.1.0
  testing/php81-pecl-opentelemetry/APKBUILD
Owners: @Ikke

testing/php84-pecl-opentelemetry: upgrade to 1.1.0
  testing/php84-pecl-opentelemetry/APKBUILD
Owners: @Ikke

community/php83-pecl-opentelemetry: upgrade to 1.1.0
  community/php83-pecl-opentelemetry/APKBUILD
Owners: @Ikke

community/php82-pecl-opentelemetry: upgrade to 1.1.0
  community/php82-pecl-opentelemetry/APKBUILD
Owners: @Ikke

community/opentofu: upgrade to 1.8.3
  community/opentofu/APKBUILD
Owners: @Ikke

testing/adguardhome: upgrade to 0.107.53
  testing/adguardhome/APKBUILD
  testing/adguardhome/go_version.patch
Owners: @Ikke

community/libindi: upgrade to 2.1.0
  community/libindi/APKBUILD
Owners: @Ikke

testing/qsynth: upgrade to 1.0.2
  testing/qsynth/APKBUILD
Owners: @Ikke

community/dust: upgrade to 1.1.1
  community/dust/APKBUILD
  community/dust/update-rust-libc.patch
Owners: @Ikke

community/opencolorio: upgrade to 2.4.0
  community/opencolorio/0002-fix-strtol.patch
  community/opencolorio/APKBUILD
Owners: @Ikke

community/*: rebuild against libOpenColorIO.so.2.4
  community/blender/APKBUILD
  community/krita/APKBUILD
  community/openimageio/APKBUILD
Owners: @Ikke

main/syslog-ng: upgrade to 4.8.1
  main/syslog-ng/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-telegram-bot: upgrade to 21.6
  testing/py3-telegram-bot/APKBUILD
Owners: @Ikke

testing/hardened-malloc: fix build with gcc 14
  testing/hardened-malloc/APKBUILD
  testing/hardened-malloc/gcc14.patch
Owners: @Ikke

community/feedbackd: upgrade to 0.5.0
  community/feedbackd/APKBUILD
Owners: @Ikke

community/plantuml: upgrade to 1.2024.7
  community/plantuml/APKBUILD
Owners: @Ikke

testing/neovide: libwebp-dev for aarch64?
  testing/neovide/APKBUILD
Owners: @Ikke

testing/neovide: new aport
  testing/neovide/APKBUILD
Owners: @Ikke

main/ghostscript: security upgrade to 10.04.0
  main/ghostscript/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/stress-ng: upgrade to 0.18.05
  community/stress-ng/APKBUILD
Owners: @Ikke

testing/uucp: modernize & fix build with gcc 14
  testing/uucp/APKBUILD
  testing/uucp/gcc14-configure.patch
  testing/uucp/gcc14-socklen_t.patch
Owners: @Ikke

testing/fluent-bit: upgrade to 3.1.9
  testing/fluent-bit/APKBUILD
  testing/fluent-bit/exclude-luajit.patch
Owners: @Ikke

testing/fluent-bit: fix build with gcc 14, enable tests
  testing/fluent-bit/APKBUILD
  testing/fluent-bit/musl-strerror_r.patch
Owners: @Ikke

community/tailscale: enable on riscv64
  community/tailscale/APKBUILD
Owners: @Ikke

community/networkmanager: upgrade to 1.50.0
  community/networkmanager/APKBUILD
Owners: @Ikke

main/mesa: upgrade to 24.2.4
  main/mesa/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rest: temporarily disable check on loongarch64
  community/rest/APKBUILD
Owners: @Ikke

main/syslog-ng: take over maintainership
  main/syslog-ng/APKBUILD
Owners: @andypost, @nmeum, @ncopa
