Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/linux-vanilla: disable CONFIG_RT_GROUP_SCHED
  main/linux-vanilla/APKBUILD
  main/linux-vanilla/config-vanilla.aarch64
  main/linux-vanilla/config-vanilla.armhf
  main/linux-vanilla/config-vanilla.s390x
  main/linux-vanilla/config-vanilla.x86
  main/linux-vanilla/config-vanilla.x86_64
  main/linux-vanilla/config-virt.aarch64
  main/linux-vanilla/config-virt.x86
  main/linux-vanilla/config-virt.x86_64
Owners: @andypost, @nmeum, @ncopa

main/zfs: upgrade to 0.8.2
  main/zfs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons: upgrade to 3.5
  main/xtables-addons/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtualbox-guest-modules-vanilla: upgrade to 6.0.12
  community/virtualbox-guest-modules-vanilla/APKBUILD
Owners: @Ikke

main/zfs-vanilla: rebuild against kernel 4.19.75-r1
  main/zfs-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-vanilla: rebuild against kernel 4.19.75-r1
  community/wireguard-vanilla/APKBUILD
Owners: @Ikke

main/devicemaster-linux-vanilla: rebuild against kernel 4.19.75-r1
  main/devicemaster-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtualbox-guest-additions: update to 6.0.12
  community/virtualbox-guest-additions/APKBUILD
Owners: @Ikke

testing/sdfat: rebuild against kernel 4.19.75-r1
  testing/sdfat/APKBUILD
Owners: @Ikke

main/xtables-addons-vanilla: rebuild against kernel 4.19.75-r1
  main/xtables-addons-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ipt-netflow-vanilla: rebuild against kernel 4.19.75-r1
  testing/ipt-netflow-vanilla/APKBUILD
Owners: @Ikke

main/drbd-vanilla: rebuild against kernel 4.19.75-r1
  main/drbd-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-vanilla: rebuild against linux-vanilla-4.19.75-r1
  main/dahdi-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

Allow for git remote url to end in aports.git, (i.e., allow SSH git remotes)
  functions.sh.in
Owners: none

abuild: -static depends on -dev by default
  abuild.in
Owners: none

abuild: simplify depends_static
  abuild.in
Owners: none

feat: add support for ccache
  abuild.conf
  abuild.in
  functions.sh.in
Owners: none

main/paxmark: don't fail if kernel does not support xattr
  main/paxmark/APKBUILD
  main/paxmark/paxmark
Owners: @andypost, @nmeum, @ncopa

community/rust: add secfixes
  community/rust/APKBUILD
Owners: @Ikke

community/efivar: fix gcc9 werror address-of-packed-member
  community/efivar/APKBUILD
  community/efivar/efivar-fix-format_guid.patch
  community/efivar/efivar-fix-packed.patch
Owners: @Ikke

community/flatbuffers: on gcc9 fix nontrivial memset issues
  community/flatbuffers/APKBUILD
  community/flatbuffers/flatbuffers-fix-nontrivial-memset.patch
Owners: @Ikke

gitlab-ci: enable for 3.10-stable
  .gitlab-ci.yml
Owners: none

testing/libaccounts-qt: upgrade to 1.16
  testing/libaccounts-qt/APKBUILD
Owners: @Ikke

community/suricata: use py3-yaml
  community/suricata/APKBUILD
Owners: @Ikke

main/py3-yaml: rename from py-yaml
  main/py3-yaml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-yaml: drop py2
  main/py3-yaml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-atomicwrites: rename from py-atomicwrites
  main/py3-atomicwrites/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-atomicwrites: drop py2
  main/py3-atomicwrites/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-py: rename from py-py
  main/py3-py/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-py: drop py2
  main/py3-py/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-pathlib2: move from main
  community/py3-pathlib2/APKBUILD
Owners: @Ikke

main/py3-pathlib2: rename from py-pathlib2
  main/py3-pathlib2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-pathlib2: drop py2
  main/py3-pathlib2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libxdg-basedir: fix url enable tests
  main/libxdg-basedir/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-html-scrubber: upgrade to 0.19
  main/perl-html-scrubber/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libsecret: upgrade to 0.19.1
  main/libsecret/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/geany: update to 1.36
  community/geany/APKBUILD
Owners: @Ikke

non-free/adobe-flashplayer: update to 32.0.0.255
  non-free/adobe-flashplayer/APKBUILD
Owners: none

community/ntpsec: update to 1.1.7
  community/ntpsec/APKBUILD
  community/ntpsec/python-to-python3.patch
Owners: @tcely

community/openzwave: upgrade to 1.6.921
  community/openzwave/0001-fix-build-on-ppc64le.patch
  community/openzwave/016d6e5d6a2d61674032805886418923d20604b9.patch
  community/openzwave/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
