Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/clamav: fix python3 makedepends
  community/clamav/APKBUILD
Owners: @Ikke

py3-django-oscar: fix query parameter in pagination
  community/py3-django-oscar/0001-Fix-page-query-parameter-in-pagination-templates.patch
  community/py3-django-oscar/APKBUILD
Owners: @Ikke

community/alpine: upgrade to 2.25
  community/alpine/0001-ssl_unix-fix-server-name-validation.patch
  community/alpine/APKBUILD
Owners: @Ikke

community/just: upgrade to 0.10.3
  community/just/APKBUILD
Owners: @Ikke

community/just: fetch crates in prepare phase
  community/just/APKBUILD
Owners: @Ikke

main/busybox-initscripts: fix xvd* cdrom symlink
  main/busybox-initscripts/APKBUILD
  main/busybox-initscripts/persistent-storage
Owners: @andypost, @nmeum, @ncopa

main/alpine-conf: backport SSH_KEY support for setup-sshd
  main/alpine-conf/0001-setup-sshd-Ask-for-authorized-key-for-root.patch
  main/alpine-conf/0002-setup-sshd-use-SSH_KEY-instead-of-prompt-user.patch
  main/alpine-conf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: upgrade to 1.20.2 and update tests
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

mailmap: add myself
  .mailmap
Owners: none

main/alpine-conf: more robust update-kernel fix
  main/alpine-conf/0001-Revert-update-kernel-Make-path-for-tmpdir-changeable.patch
  main/alpine-conf/0002-update-kernel-rename-internal-TMPDIR-tmpdir.patch
  main/alpine-conf/0003-update-kernel-don-t-force-tmp.patch
  main/alpine-conf/0004-update-kernel-TMPDIR-in-help-text.patch
  main/alpine-conf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/zerotier-one: upgrade to 1.8.3
  community/zerotier-one/APKBUILD
Owners: @Ikke

community/k9s: upgrade to 0.25.2
  community/k9s/APKBUILD
Owners: @Ikke

community/grafana: security upgrade to 8.2.4
  community/grafana/APKBUILD
Owners: @Ikke

community/grafana-frontend: upgrade to 8.2.4
  community/grafana-frontend/APKBUILD
Owners: @Ikke

main/nginx: upgrade to 1.20.2 and update tests
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/subversion: backport fix for use-after-free
  main/subversion/APKBUILD
  main/subversion/fix-use-after-free.patch
Owners: @andypost, @nmeum, @ncopa

main/subversion: backport fix for use-after-free
  main/subversion/APKBUILD
  main/subversion/fix-use-after-free.patch
Owners: @andypost, @nmeum, @ncopa

main/dbus: fix and improve init script
  main/dbus/APKBUILD
  main/dbus/dbus.confd
  main/dbus/dbus.initd
Owners: @andypost, @nmeum, @ncopa

main/dbus: replace deprecated /var/run with /run
  main/dbus/APKBUILD
  main/dbus/dbus.initd
Owners: @andypost, @nmeum, @ncopa

main/dbus: modernize abuild, reorder vars, sort makedepends
  main/dbus/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/open-vm-tools: upgrade to 11.3.5
  community/open-vm-tools/0001-lib-misc-Recognize-Alpine-Linux.patch
  community/open-vm-tools/APKBUILD
  community/open-vm-tools/change-default-log-dir.patch
  community/open-vm-tools/compat-with-glib-and-gtk.patch
  community/open-vm-tools/fix-mount.vmhgfs-symlink.patch
  community/open-vm-tools/tools.conf.patch
Owners: @Ikke

community/nextcloud: pkg php-mcrypt does not exist anymore in php8
  community/nextcloud/APKBUILD
  community/nextcloud/nextcloud-app-encryption-info-add-mcrypt.patch
Owners: @Ikke

main/busybox: fix duplicate secfixes comment
  main/busybox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.15.2-r2
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.15.2-r2
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-lts: rebuild against kernel 5.15.2-r2
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-lts: rebuild against kernel 5.15.2-r2
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtl8821ce-lts: rebuild against kernel 5.15.2-r2
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 5.15.2-r2
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/linux-lts: enable e1000e driver for -virt
  main/linux-lts/APKBUILD
  main/linux-lts/config-virt.aarch64
  main/linux-lts/config-virt.armv7
  main/linux-lts/config-virt.x86
  main/linux-lts/config-virt.x86_64
Owners: @andypost, @nmeum, @ncopa

main/busybox: fix duplicate secfixes comment
  main/busybox/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-aiorpcx: downgrade to 0.18
  community/py3-aiorpcx/APKBUILD
Owners: @Ikke

community/fwupd: split plugins into subpackages
  community/fwupd/APKBUILD
Owners: @Ikke

community/gdal: another try on disabling java support on riscv64
  community/gdal/APKBUILD
Owners: @Ikke

testing/meek: upgrade to 0.37.0
  testing/meek/APKBUILD
Owners: @Ikke

testing/cargo-outdated: upgrade to 0.10.2
  testing/cargo-outdated/APKBUILD
Owners: @Ikke

tests/vera++: new aport
  testing/vera++/APKBUILD
  testing/vera++/drop-failing-ruledump-test.patch
  testing/vera++/fix-not-declared-in-this-scope.patch
Owners: @Ikke

community/k9s: upgrade to 0.25.3
  community/k9s/APKBUILD
Owners: @Ikke

community/fennel: fix build with abuild rootbld
  community/fennel/APKBUILD
Owners: @Ikke

community/hugo: upgrade to 0.89.4
  community/hugo/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
