Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/kealib: upgrade to 1.5.1
  community/kealib/APKBUILD
Owners: @Ikke

testing/ocaml5: upgrade to 5.1.0
  testing/ocaml5/APKBUILD
Owners: @Ikke

testing/recyclarr-cli: upgrade to 5.4.2
  testing/recyclarr-cli/APKBUILD
Owners: @Ikke

testing/normaliz: upgrade to 3.10.1
  testing/normaliz/APKBUILD
  testing/normaliz/fix-32bit-tests.patch
  testing/normaliz/fix-timeval.patch
Owners: @Ikke

community/py3-imucal: change test directive
  community/py3-imucal/APKBUILD
Owners: @Ikke

community/py3-habanero: switch to gpep517
  community/py3-habanero/APKBUILD
Owners: @Ikke

community/py3-inspyred: switch to gpep517
  community/py3-inspyred/APKBUILD
Owners: @Ikke

community/telegraf: disable sqlite tests
  community/gopass/APKBUILD
Owners: @Ikke

community/qt5-qtwebengine: chromium security upgrade
  community/qt5-qtwebengine/APKBUILD
Owners: @Ikke

testing/objfw: upgrade to 1.0.3
  testing/objfw/APKBUILD
Owners: @Ikke

testing/py3-findpython: upgrade to 0.4.0
  testing/py3-findpython/APKBUILD
Owners: @Ikke

community/py3-openssl: upgrade to 23.2.0
  community/py3-openssl/APKBUILD
Owners: @Ikke

community/go-task: upgrade to 3.30.1
  community/go-task/APKBUILD
Owners: @Ikke

community/firefox-esr: upgrade to 115.2.1
  community/firefox-esr/APKBUILD
Owners: @Ikke

main/cmake: upgrade to 3.27.5
  main/cmake/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/iperf3: upgrade to 3.15
  main/iperf3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/apptainer: upgrade to 1.2.3
  testing/apptainer/APKBUILD
Owners: @Ikke

main/ghostscript: rebuild against jbig2dec 0.20
  main/ghostscript/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/mupdf: rebuild against jbig2dec 0.20
  community/mupdf/APKBUILD
Owners: @Ikke

main/jbig2dec: upgrade to 0.20
  main/jbig2dec/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/postgresql-pllua: upgrade to 2.0.12
  community/postgresql-pllua/APKBUILD
Owners: @Ikke

community/vectorscan: fix version used in header
  community/vectorscan/APKBUILD
  community/vectorscan/version.patch
Owners: @Ikke

testing/vlang: new aport
  testing/vlang/APKBUILD
  testing/vlang/fix-tools.patch
Owners: @Ikke

testing/font-b612: new aport
  testing/font-b612/APKBUILD
Owners: @Ikke

testing/muse: upgrade to 4.2.0
  testing/muse/APKBUILD
Owners: @Ikke

community/pyroute2: upgrade to 0.7.9
  community/py3-pyroute2/APKBUILD
Owners: @Ikke

community/gjs: recompile against mozjs102-102.15.1
  community/gjs/APKBUILD
Owners: @Ikke

community/mozjs102: upgrade to 102.15.1
  community/mozjs102/APKBUILD
Owners: @Ikke

community/suricata: upgrade to 7.0.1
  community/suricata/APKBUILD
Owners: @Ikke

community/bird-lg-go: upgrade to 1.3.2.2
  community/bird-lg-go/APKBUILD
Owners: @Ikke

"community/gnome-software: enable webapp support"
  community/gnome-software/APKBUILD
Owners: @Ikke

community/py3-nats: upgrade to 2.4.0
  community/py3-nats/APKBUILD
Owners: @Ikke

community/py3-pkcs11: Fix typo in _pkcs11.pyx
  community/py3-pkcs11/0005-Fix-typo-in-_pkcs11.pyx.patch
  community/py3-pkcs11/APKBUILD
Owners: @Ikke

community/py3-pkcs11: build with gpep517
  community/py3-pkcs11/APKBUILD
Owners: @Ikke

community/gitlint: move from testing
  community/gitlint/APKBUILD
Owners: @Ikke

community/dnsdist: upgrade to 1.8.1
  community/dnsdist/APKBUILD
Owners: @tcely

community/qt5-qtwebengine: fix chromium build
  community/qt5-qtwebengine/0002-Revert-Disable-Windows-IME-for-GPU-thread.patch
  community/qt5-qtwebengine/APKBUILD
Owners: @Ikke

community/composer: upgrade to 2.6.3
  community/composer/APKBUILD
Owners: @Ikke

community/py3-landscapes: switch to gpep517
  community/py3-landscapes/APKBUILD
Owners: @Ikke

community/py3-liac-arff: switch to gpep517
  community/py3-liac-arff/APKBUILD
Owners: @Ikke
