Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/py3-libvirt: upgrade to 8.5.0
  community/py3-libvirt/APKBUILD
Owners: @Ikke

main/py3-fixtures: upgrade to 4.0.1
  main/py3-fixtures/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/perl-sys-virt: upgrade to 8.5.0
  testing/perl-sys-virt/APKBUILD
Owners: @Ikke

testing/terragrunt: new aport
  testing/terragrunt/APKBUILD
Owners: @Ikke

community/asciinema: upgrade to 2.2.0
  community/asciinema/APKBUILD
Owners: @Ikke

community/curlie: upgrade to 1.6.9
  community/curlie/APKBUILD
Owners: @Ikke

community/tio: upgrade to 1.41
  community/tio/APKBUILD
Owners: @Ikke

main/gd: enable AVIF format
  main/gd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libavif: move from community
  main/libavif/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/aom: move from community
  main/aom/APKBUILD
  main/aom/fix-stack-size-e53da0b.patch
Owners: @andypost, @nmeum, @ncopa

main/dav1d: move from community
  main/dav1d/APKBUILD
  main/dav1d/fix-asmcheck.patch
Owners: @andypost, @nmeum, @ncopa

testing/fabric: upgrade to 2.7.0
  testing/fabric/APKBUILD
Owners: @Ikke

community/perl-image-exiftool: upgrade to 12.42
  community/perl-image-exiftool/APKBUILD
Owners: @Ikke

community/ghex: upgrade to 42.3
  community/ghex/APKBUILD
Owners: @Ikke

community/gedit-plugins: upgrade to 42.1
  community/gedit-plugins/APKBUILD
Owners: @Ikke

community/gedit: upgrade to 42.1
  community/gedit/APKBUILD
Owners: @Ikke

community/git-metafile: upgrade to 0.2.3
  community/git-metafile/APKBUILD
Owners: @Ikke

testing/jql: new aport
  testing/jql/APKBUILD
Owners: @Ikke

main/bind: upgrade to 9.18.4
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

testing/csview: new aport
  testing/csview/APKBUILD
Owners: @Ikke

community/aml: upgrade to 0.2.2
  community/aml/APKBUILD
Owners: @Ikke

community/aml: add -dbg subpackage
  community/aml/APKBUILD
Owners: @Ikke

community/rust-analyzer: upgrade to 2022.07.04
  community/rust-analyzer/APKBUILD
Owners: @Ikke

community/csview: move from testing
  community/csview/APKBUILD
Owners: @Ikke

testing/xsv: improve aport, fetch crates in prepare, optimize size
  testing/xsv/APKBUILD
Owners: @Ikke

community/xsv: move from testing
  community/xsv/APKBUILD
Owners: @Ikke

community/tio: upgrade to 1.42
  community/tio/APKBUILD
Owners: @Ikke

testing/soundfont-timgm: new aport
  testing/soundfont-timgm/APKBUILD
Owners: @Ikke

community/zsh-syntax-highlighting: upgrade to 0.7.1_git20220514
  community/zsh-syntax-highlighting/APKBUILD
Owners: @Ikke

community/mprocs: upgrade to 0.6.0
  community/mprocs/APKBUILD
Owners: @Ikke

testing/lapce: upgrade to 0.1.2
  testing/lapce/APKBUILD
Owners: @Ikke

community/ncspot: upgrade to 0.10.0
  community/ncspot/APKBUILD
Owners: @Ikke

community/tree-sitter-python: upgrade to 0.20.0
  community/tree-sitter-python/APKBUILD
Owners: @Ikke

community/knot-resolver: upgrade to 5.5.1
  community/knot-resolver/APKBUILD
  community/knot-resolver/fix-error-on-cow-filesystem.patch
Owners: @tcely

testing/asfa: new aport
  testing/asfa/APKBUILD
  testing/asfa/strip-regex-features.patch
Owners: @Ikke

community/knot-resolver: upgrade to 5.5.1
  community/knot-resolver/APKBUILD
  community/knot-resolver/fix-error-on-cow-filesystem.patch
Owners: @tcely

testing/hwatch: new aport
  testing/hwatch/APKBUILD
Owners: @Ikke

testing/odio-edit: upgrade to 22.7.5, enable all arches, listify depends
  testing/odio-edit/APKBUILD
Owners: @Ikke

testing/got: upgrade to 0.73
  testing/got/APKBUILD
Owners: @Ikke

testing/libstrophe: upgrade to 0.12.1
  testing/libstrophe/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
