Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/xrdp: update secfixes data
  community/xrdp/APKBUILD
Owners: @Ikke

community/xrdp: update secfixes data
  community/xrdp/APKBUILD
Owners: @Ikke

main/xrdp: update secfixes data
  main/xrdp/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-setuptools: orphan
  main/py3-setuptools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-rich: upgrade to 10.5.0
  community/py3-rich/APKBUILD
Owners: @Ikke

community/py3-rich: upgrade to 10.5.0
  community/py3-rich/APKBUILD
Owners: @Ikke

community/py3-verboselogs: move from testing
  community/py3-verboselogs/APKBUILD
Owners: @Ikke

community/ocrmypdf: upgrade to 11.7.3
  community/ocrmypdf/APKBUILD
Owners: @Ikke

community/py3-humanfriendly: move from testing
  community/py3-humanfriendly/APKBUILD
Owners: @Ikke

community/py3-capturer: move from testing
  community/py3-capturer/APKBUILD
Owners: @Ikke

community/py3-coloredlogs: move from testing
  community/py3-coloredlogs/APKBUILD
Owners: @Ikke

community/ceph: upgrade to 14.2.22
  community/ceph/44-signal_handler.patch
  community/ceph/APKBUILD
Owners: @Ikke

community/ceph: upgrade to 14.2.22
  community/ceph/44-signal_handler.patch
  community/ceph/APKBUILD
Owners: @Ikke

main/py3-ordered-set: orphan
  main/py3-ordered-set/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/gmid: new aport
  testing/gmid/APKBUILD
  testing/gmid/gmid.conf
  testing/gmid/gmid.confd
  testing/gmid/gmid.initd
  testing/gmid/gmid.pre-install
  testing/gmid/ppc64le-seccomp-fix.patch
Owners: @Ikke

main/sqlite: upgrade to 3.36.0
  main/sqlite/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/sqlite-tcl: upgrade to 3.36.0
  main/sqlite-tcl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jenkins: upgrade to 2.300
  community/jenkins/APKBUILD
Owners: @Ikke

testing/perl-sys-virt: upgrade to 7.5.0
  testing/perl-sys-virt/APKBUILD
Owners: @Ikke

community/py3-xlsxwriter: upgrade to 1.4.4
  community/py3-xlsxwriter/APKBUILD
Owners: @Ikke

community/py3-libvirt: upgrade to 7.5.0
  community/py3-libvirt/APKBUILD
Owners: @Ikke

community/py3-scp: upgrade to 0.13.5
  community/py3-scp/APKBUILD
Owners: @Ikke

community/py3-django: security upgrade to 3.1.13
  community/py3-django/APKBUILD
Owners: @Ikke

community/py3-django: security upgrade to 3.1.13
  community/py3-django/APKBUILD
Owners: @Ikke

community/py3-django: security upgrade to 3.1.13
  community/py3-django/APKBUILD
Owners: @Ikke

testing/qownnotes: upgrade to 21.7.3
  testing/qownnotes/APKBUILD
Owners: @Ikke

community/consolekit2: upgrade to 1.2.4
  community/consolekit2/APKBUILD
Owners: @Ikke

community/numix-icon-theme-circle: upgrade to 21.07.01
  community/numix-icon-theme-circle/APKBUILD
Owners: @Ikke

community/kphotoalbum: upgrade to 5.8.1
  community/kphotoalbum/APKBUILD
Owners: @Ikke

community/kdsoap: upgrade to 2.0.0
  community/kdsoap/APKBUILD
Owners: @Ikke

cmmunity/kio-extras: rebuild against kdsoap 2.0.0
  community/kio-extras/APKBUILD
Owners: @Ikke

main/sngtc_client: upgrade to 1.3.11
  main/sngtc_client/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/bird: update source url
  community/bird/APKBUILD
Owners: @Ikke

community/qt6: upgrade to 6.1.2
  community/qt6-qt3d/APKBUILD
  community/qt6-qt5compat/APKBUILD
  community/qt6-qtbase/APKBUILD
  community/qt6-qtcharts/APKBUILD
  community/qt6-qtdatavis3d/APKBUILD
  community/qt6-qtdeclarative/APKBUILD
  community/qt6-qtimageformats/APKBUILD
  community/qt6-qtlottie/APKBUILD
  community/qt6-qtnetworkauth/APKBUILD
  community/qt6-qtquick3d/APKBUILD
  community/qt6-qtquickcontrols2/APKBUILD
  community/qt6-qtquicktimeline/APKBUILD
  community/qt6-qtscxml/APKBUILD
  community/qt6-qtshadertools/APKBUILD
  community/qt6-qtsvg/APKBUILD
  community/qt6-qttools/APKBUILD
  community/qt6-qttranslations/APKBUILD
  community/qt6-qtvirtualkeyboard/APKBUILD
  community/qt6-qtwayland/APKBUILD
Owners: @Ikke

community/breezy: upgrade to 3.2.0
  community/breezy/APKBUILD
Owners: @Ikke

testing/neard: fix build on riscv64
  testing/neard/APKBUILD
Owners: @Ikke

community/libvterm: add mitigation for CVE-2018-20786
  community/libvterm/APKBUILD
  community/libvterm/CVE-2018-20786.patch
Owners: @Ikke

community/libvterm: add secfixes data
  community/libvterm/APKBUILD
Owners: @Ikke

community/libvterm: add mitigation for CVE-2018-20786
  community/libvterm/APKBUILD
  community/libvterm/CVE-2018-20786.patch
Owners: @Ikke

community/pdns-recursor: upgrade to 4.5.4
  community/pdns-recursor/APKBUILD
Owners: @tcely
