Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/openrct2: upgrade to 0.3.1
  community/openrct2/APKBUILD
Owners: @Ikke

community/py3-sybil: deselect test that fails solely on mips64
  community/py3-sybil/APKBUILD
Owners: @Ikke

community/yarn: upgrade to 1.22.10
  community/yarn/APKBUILD
Owners: @Ikke

testing/lollypop: add missing dependency
  testing/lollypop/APKBUILD
Owners: @Ikke

main/ruby: security upgrade to 2.4.10
  main/ruby/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/apk-polkit-rs: upgrade to 0.92.1
  community/apk-polkit-rs/APKBUILD
Owners: @Ikke

community/mozjs78: upgrade to 78.3.1
  community/mozjs78/APKBUILD
Owners: @Ikke

community/nautilus: upgrade to 3.38.1
  community/nautilus/APKBUILD
Owners: @Ikke

community/librsvg: upgrade to 2.50.1
  community/librsvg/APKBUILD
Owners: @Ikke

community/gvfs: upgrade to 1.46.1
  community/gvfs/APKBUILD
Owners: @Ikke

community/gpaste: upgrade to 3.38.2
  community/gpaste/APKBUILD
Owners: @Ikke

main/gobject-introspection: upgrade to 1.66.1
  main/gobject-introspection/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gnome-maps: upgrade to 3.38.1
  community/gnome-maps/APKBUILD
Owners: @Ikke

community/gnome-initial-setup: upgrade to 3.38.1
  community/gnome-initial-setup/APKBUILD
Owners: @Ikke

community/gnome-calculator: upgrade to 3.38.1
  community/gnome-calculator/APKBUILD
Owners: @Ikke

testing/ffsend: upgrade to 0.2.67
  testing/ffsend/APKBUILD
Owners: @Ikke

community/gitlab-runner: upgrade to 13.4.1
  community/gitlab-runner/APKBUILD
Owners: @Ikke

community/py3-faker: upgrade to 4.3.0
  community/py3-faker/APKBUILD
Owners: @Ikke

community/py3-faker: upgrade to 4.4.0
  community/py3-faker/APKBUILD
Owners: @Ikke

testing/libpinyin: upgrade to 2.4.91
  testing/libpinyin/APKBUILD
Owners: @Ikke

community/whois: upgrade to 5.5.7
  community/whois/APKBUILD
Owners: @Ikke

main/pspg: upgrade to 3.1.4
  main/pspg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/knot-resolver: upgrade to 5.1.3
  community/knot-resolver/APKBUILD
Owners: @tcely

community/ruby-rspec-core: upgrade to 3.9.3
  community/ruby-rspec-core/APKBUILD
Owners: @Ikke

community/ruby-rspec-core: upgrade to 3.9.3
  community/ruby-rspec-core/APKBUILD
Owners: @Ikke

main/pspg: upgrade to 3.1.4
  main/pspg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/knot-resolver: upgrade to 5.1.3
  community/knot-resolver/APKBUILD
Owners: @tcely

community/knot-resolver: disable on ppc64le due to knot dependency
  community/knot-resolver/APKBUILD
Owners: @tcely

community/dnsdist: use lua5.3 and disable luajit for aarch64
  community/dnsdist/APKBUILD
Owners: @tcely

main/ncurses: upgrade to 6.2_p20201003
  main/ncurses/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/perl-curses: upgrade to 1.37
  community/perl-curses/APKBUILD
Owners: @Ikke

community/cppcheck: upgrade to 2.2
  community/cppcheck/APKBUILD
Owners: @Ikke

community/yelp-xsl: upgrade to 3.38.1
  community/yelp-xsl/APKBUILD
Owners: @Ikke

testing/onefetch: upgrade to 2.4.0
  testing/onefetch/APKBUILD
Owners: @Ikke

main/mercurial: upgrade to 5.5.2
  main/mercurial/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/lua5.3: upgrade to 5.3.6
  main/lua5.3/APKBUILD
  main/lua5.3/CVE-2019-6706-use-after-free-lua_upvaluejoin.patch
Owners: @andypost, @nmeum, @ncopa

testing/lua-middleclass: upgrade to 4.1.1
  testing/lua-middleclass/APKBUILD
Owners: @Ikke

testing/openimageio: move cmake to /usr/lib and set CMAKE_BUILD_TYPE to None
  testing/openimageio/APKBUILD
Owners: @Ikke

community/sdl2: Enable jack audio output.
  community/sdl2/APKBUILD
Owners: @Ikke

testing/osl: new aport
  testing/osl/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
