Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/php7-pecl-protobuf: move from testing
  community/php7-pecl-protobuf/APKBUILD
Owners: @Ikke

main/mariadb: security upgrade to 10.3.15 CVE-2019-2614 CVE-2019-2627 CVE-2019-2628
  main/mariadb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/linux-vanilla: upgrade to 4.19.45
  main/linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/drbd9-vanilla: rebuild against kernel 4.19.45-r0
  main/drbd9-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtualbox-guest-modules-vanilla: rebuild against kernel 4.19.45-r0
  community/virtualbox-guest-modules-vanilla/APKBUILD
Owners: @Ikke

main/dahdi-linux-vanilla: rebuild against kernel 4.19.45-r0
  main/dahdi-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-vanilla: rebuild against kernel 4.19.45-r0
  main/zfs-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/spl-vanilla: rebuild against kernel 4.19.45-r0
  main/spl-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/devicemaster-linux-vanilla: rebuild against kernel 4.19.45-r0
  main/devicemaster-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-vanilla: rebuild against kernel 4.19.45-r0
  main/xtables-addons-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ipt-netflow-vanilla: rebuild against kernel 4.19.45-r0
  testing/ipt-netflow-vanilla/APKBUILD
Owners: @Ikke

community/ubridge: upgrade to 0.9.16
  community/ubridge/APKBUILD
Owners: @Ikke

main/py-urllib3: upgrade to 1.25.3
  main/py-urllib3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/libhandy: new aport
  testing/libhandy/APKBUILD
Owners: @Ikke

testing/gnome-control-center: move from unmaintained
  testing/gnome-control-center/APKBUILD
  unmaintained/gnome-control-center/APKBUILD
  unmaintained/gnome-control-center/migrate-set-color.patch
  unmaintained/gnome-control-center/wayland.patch
Owners: @Ikke

testing/gsound: new aport
  testing/gsound/APKBUILD
Owners: @Ikke

community/wireguard-vanilla: rebuild against kernel 4.19.45-r0
  community/wireguard-vanilla/APKBUILD
Owners: @Ikke

testing/gsound: new aport
  testing/gsound/APKBUILD
Owners: @Ikke

testing/libhandy: new aport
  testing/libhandy/APKBUILD
Owners: @Ikke

testing/gnome-control-center: move from unmaintained
  testing/gnome-control-center/APKBUILD
  unmaintained/gnome-control-center/APKBUILD
  unmaintained/gnome-control-center/migrate-set-color.patch
  unmaintained/gnome-control-center/wayland.patch
Owners: @Ikke

testing/biber: move from community
  testing/biber/APKBUILD
  testing/biber/fix-sortinithash-unicode-collate.patch
Owners: @Ikke

community/emacs: drop obsolete gconf-dev dependency
  community/emacs/APKBUILD
Owners: @Ikke

community/gucharmap: merge changes from more recent testing/gucharmap
  community/gucharmap/APKBUILD
  testing/gucharmap/APKBUILD
Owners: @Ikke

unmaintained/leveldb: move from community
  unmaintained/leveldb/APKBUILD
Owners: none

community/leveldb: upgrade to 1.22
  community/leveldb/APKBUILD
  community/leveldb/fix-cmakelist-soname.patch
Owners: @Ikke

testing/libuninameslist: upgrade to 20190305
  testing/libuninameslist/APKBUILD
Owners: @Ikke

testing/libva-utils: upgrade to 2.4.1
  testing/libva-utils/APKBUILD
Owners: @Ikke

testing/py3-libevdev: new aport
  testing/py3-libevdev/APKBUILD
Owners: @Ikke

community/roundcube-mobile: rename from roundcubemail-mobile
  community/roundcube-mobile/APKBUILD
Owners: @Ikke

main/slim: build without console-kit
  main/slim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/slim*: move from main
  community/slim-themes/APKBUILD
  community/slim/APKBUILD
  community/slim/libslim-underlinking.patch
  community/slim/musl-includes.patch
  community/slim/no-slimlock.patch
  community/slim/slim-freetype-dirs.patch
  community/slim/slim.initd
  community/slim/slim.install
  community/slim/slim.logrotate
  community/slim/snprintf.patch
Owners: @Ikke

community/rust: upgrade to 1.33.0
  community/rust/APKBUILD
  community/rust/alpine-target.patch
  community/rust/minimize-rpath.patch
  community/rust/need-rpath.patch
Owners: @Ikke

community/btrbk: upgrade to 0.28.2
  community/btrbk/APKBUILD
Owners: @Ikke

testing/onboard: new aport
  testing/onboard/APKBUILD
  testing/onboard/glibc-musl-error.patch
Owners: @Ikke

community/perl-par: upgrade to 1.016
  community/perl-par/APKBUILD
Owners: @Ikke

community/py-opencl: upgrade to 2018.2.5
  community/py-opencl/APKBUILD
  community/py-pybind11/APKBUILD
Owners: @Ikke

testing/imgbrd-grabber: upgrade to 7.1.1
  testing/imgbrd-grabber/APKBUILD
Owners: @Ikke

testing/libuninameslist: upgrade to 20190305
  testing/libuninameslist/APKBUILD
Owners: @Ikke

testing/imgbrd-grabber: upgrade to 7.1.1
  testing/imgbrd-grabber/APKBUILD
Owners: @Ikke

community/ttf-cantarell: upgrade to 0.111
  community/ttf-cantarell/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
