Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

scripts: remove openvswitch and rename hwdata
  scripts/mkimg.standard.sh
  scripts/mkimg.xen.sh
Owners: none

scripts: drop armhf uboot image
  scripts/mkimg.arm.sh
Owners: none

scripts/mkimg.standard.sh: add standard aarch64 iso
  scripts/mkimg.standard.sh
Owners: none

==== release 3.11_rc1 ====
  main/alpine-base/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/synapse: move from testing
  community/synapse/APKBUILD
  community/synapse/synapse.confd
  community/synapse/synapse.initd
  community/synapse/synapse.post-install
  community/synapse/synapse.pre-install
Owners: @Ikke

testing/calindori: new aport
  testing/calindori/APKBUILD
Owners: @Ikke

testing/plasma-angelfish: new aport
  testing/plasma-angelfish/APKBUILD
Owners: @Ikke

community/plasma-angelfish: move from testing
  community/plasma-angelfish/APKBUILD
Owners: @Ikke

community/calindori: move from testing
  community/calindori/APKBUILD
Owners: @Ikke

community/py3-eliot: move from testing
  community/py3-eliot/APKBUILD
Owners: @Ikke

community/py3-txacme: move from testing
  community/py3-txacme/APKBUILD
Owners: @Ikke

community/py3-frozendict: move from testing
  community/py3-frozendict/APKBUILD
Owners: @Ikke

community/py3-canonicaljson: move from testing
  community/py3-canonicaljson/APKBUILD
Owners: @Ikke

community/py3-daemonize: move from testing
  community/py3-daemonize/APKBUILD
Owners: @Ikke

community/py3-pymacaroons: move from testing
  community/py3-pymacaroons/APKBUILD
Owners: @Ikke

community/py3-prometheus-client: move from testing
  community/py3-prometheus-client/APKBUILD
Owners: @Ikke

community/py3-treq: move from testing
  community/py3-treq/APKBUILD
Owners: @Ikke

community/py3-signedjson: move from testing
  community/py3-signedjson/APKBUILD
Owners: @Ikke

community/py3-bleach: move from testing
  community/py3-bleach/APKBUILD
Owners: @Ikke

community/py3-typing-extensions: move from testing
  community/py3-typing-extensions/APKBUILD
Owners: @Ikke

community/py3-boltons: move from testing
  community/py3-boltons/APKBUILD
Owners: @Ikke

community/py3-pem: move from testing
  community/py3-pem/APKBUILD
Owners: @Ikke

community/py3-txsni: move from testing
  community/py3-txsni/APKBUILD
Owners: @Ikke

community/py3-webencodings: move from testing
  community/py3-webencodings/APKBUILD
Owners: @Ikke

community/py3-unpaddedbase64: move from testing
  community/py3-unpaddedbase64/APKBUILD
Owners: @Ikke

community/gitea: upgrade to 1.10.1
  community/gitea/APKBUILD
Owners: @Ikke

testing/qxmpp: new aport
  testing/qxmpp/APKBUILD
Owners: @Ikke

community/kaidan: move from testing
  community/kaidan/APKBUILD
Owners: @Ikke

testing/kaidan: new aport
  testing/kaidan/APKBUILD
Owners: @Ikke

community/qxmpp: move from testing
  community/qxmpp/APKBUILD
Owners: @Ikke

community/chezmoi: move from testing
  community/chezmoi/APKBUILD
Owners: @Ikke

community/chezmoi: remove left-over debug statement
  community/chezmoi/APKBUILD
Owners: @Ikke

community/swayidle: add elogind support
  community/swayidle/APKBUILD
Owners: @Ikke

community/wf-recorder: move from testing
  community/wf-recorder/APKBUILD
Owners: @Ikke

community/yaru-themes: move from testing
  community/yaru-themes/APKBUILD
Owners: @Ikke

community/yaru-themes: disable
  community/yaru-themes/APKBUILD
Owners: @Ikke

community/ffmpeg: re-enable asm on arm*
  community/ffmpeg/APKBUILD
Owners: @Ikke

main/musl-nscd: move from community
  main/musl-nscd/APKBUILD
  main/musl-nscd/musl-nscd.initd
  main/musl-nscd/musl-nscd.post-deinstall
  main/musl-nscd/musl-nscd.pre-install
  testing/musl-nscd/musl-nscd.initd
  testing/musl-nscd/musl-nscd.post-deinstall
  testing/nscd/APKBUILD
  testing/nscd/nscd.pre-install
Owners: @andypost, @nmeum, @ncopa, @Ikke

main/samba: rebuild with musl-nscd
  main/samba/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/kea: remove execute bit from *.initd files
  testing/kea/kea-ctrl-agent.initd
  testing/kea/kea-dhcp-ddns.initd
  testing/kea/kea-dhcp4.initd
  testing/kea/kea-dhcp6.initd
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
