Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/ispc: upgrade to 1.28.0
  community/ispc/APKBUILD
Owners: @Ikke

community/wrk: enable on most architectures
  community/wrk/APKBUILD
Owners: @Ikke

community/{libnova,libindi,indi-3rdparty}: enable on arm
  community/indi-3rdparty/APKBUILD
  community/libindi/APKBUILD
  community/libnova/0001-support-for-linux-musl.patch
  community/libnova/APKBUILD
Owners: @Ikke

community/bluez-tools: move from testing
  community/bluez-tools/APKBUILD
Owners: @Ikke

community/ply: enable on some architectures
  community/ply/APKBUILD
Owners: @Ikke

community/openimageio: upgrade to 3.0.9.1
  community/openimageio/APKBUILD
Owners: @Ikke

community/mingw-w64-gcc{,-base}: upgrade to 15.2.0
  community/mingw-w64-crt/APKBUILD
  community/mingw-w64-gcc-base/APKBUILD
  community/mingw-w64-gcc/APKBUILD
  community/mingw-w64-winpthreads/APKBUILD
Owners: @Ikke

community/py3-tornado: upgrade to 6.5.2
  community/py3-tornado/APKBUILD
Owners: @Ikke

testing/f_scripts: drop
  testing/f_scripts/APKBUILD
Owners: @Ikke

community/glycin-loaders: upgrade to 1.2.3
  community/glycin-loaders/APKBUILD
Owners: @Ikke

main/py3-setuptools_scm: upgrade to 9.1.1
  main/py3-setuptools_scm/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/efivar: no native march, remove useless sed
  main/efivar/APKBUILD
  main/efivar/no-march-native.patch
Owners: @andypost, @nmeum, @ncopa

community/xbps: upgrade to 0.60.4
  community/xbps/APKBUILD
Owners: @Ikke

community/mimalloc2: build with -DMI_NO_OPT_ARCH=ON
  community/mimalloc2/APKBUILD
Owners: @Ikke

community/nvui: enable on riscv64
  community/nvui/APKBUILD
Owners: @Ikke

community/gsad: upgrade to 24.5.3
  community/gsad/APKBUILD
Owners: @Ikke

testing/py3-rtree: upgrade to 1.4.1
  testing/py3-rtree/APKBUILD
Owners: @Ikke

testing/arturo: new aport
  testing/arturo/APKBUILD
  testing/arturo/compiler.patch
  testing/arturo/openssl.patch
  testing/arturo/prctl.patch
Owners: @Ikke

testing/moor: new aport
  testing/moor/APKBUILD
  testing/moor/fix-test.patch
Owners: @Ikke

community/glab: upgrade to 1.67.0
  community/glab/APKBUILD
Owners: @Ikke

community/emacs-buttercup: upgrade to 1.38
  community/emacs-buttercup/APKBUILD
Owners: @Ikke

community/tree-sitter-ssh-client-config: upgrade to 2025.8.14
  community/tree-sitter-ssh-client-config/APKBUILD
Owners: @Ikke

community/libcerf: upgrade to 3.1
  community/libcerf/APKBUILD
  community/libcerf/fix-s390x.patch
Owners: @Ikke

testing/llvm-next: upgrade to 22.0.0_pre20250813
  testing/llvm-next/0007-Add-musl-triples.patch
  testing/llvm-next/0008-Enable-stack-protector-by-default-for-Alpine-Linux.patch
  testing/llvm-next/0018-Use-gas-as-clang-gnutools-assembler.patch
  testing/llvm-next/0020-PyClang-cindex-add-sover-to-libclang.patch
  testing/llvm-next/0021-Offload-tblgen-depends-on-cxx-headers.patch
  testing/llvm-next/0801-Revert-PR25882-.gnu.attributes-are-not-checked-for-s.patch
  testing/llvm-next/APKBUILD
Owners: @Ikke

community/gnuplot: rebuild against libcerf 3.1
  community/gnuplot/APKBUILD
Owners: @Ikke

community/libcerf: split libcerfcpp and improve style
  community/libcerf/APKBUILD
Owners: @Ikke

testing/aws-lc: upgrade to 1.58.1
  testing/aws-lc/APKBUILD
Owners: @Ikke

testing/moor: upgrade to 2.0.3
  testing/moor/APKBUILD
Owners: @Ikke

community/tree-sitter-ssh-client-config: upgrade to 2025.8.14
  community/tree-sitter-ssh-client-config/APKBUILD
Owners: @Ikke

testing/warp-s3: enable on armhf, armv7 and x86
  testing/warp-s3/APKBUILD
  testing/warp-s3/fix-32-bit-alignment.patch
Owners: @Ikke

testing/warp-s3: upgrade to 1.3.0
  testing/warp-s3/APKBUILD
Owners: @Ikke

testing/zizmor: upgrade to 1.12.0
  testing/zizmor/APKBUILD
Owners: @Ikke

community/rtaudio: move from testing
  community/rtaudio/APKBUILD
Owners: @Ikke

testing/jacktrip: upgrade to 2.7.1
  testing/jacktrip/805a3965c164201e501350fbdb32685984e73eb8.patch
  testing/jacktrip/APKBUILD
  testing/jacktrip/arm.patch
Owners: @Ikke

testing/rtaudio: set licence to MIT
  testing/rtaudio/APKBUILD
Owners: @Ikke

community/jacktrip: move from testing
  community/jacktrip/APKBUILD
Owners: @Ikke

community/jacktrip: remove transitive dependencies
  community/jacktrip/APKBUILD
Owners: @Ikke

community/pdns: upgrade to 4.9.8
  community/pdns/APKBUILD
Owners: @tcely

testing/ruby-minitest-proveit: move maintainer comment below contributor comment
  testing/ruby-minitest-proveit/APKBUILD
Owners: @Ikke

testing/argocd: upgrade to 3.1.0
  testing/argocd/APKBUILD
Owners: @Ikke
