Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

Adding APKBUILD from lugaru
  testing/lugaru/APKBUILD
Owners: @Ikke

Adding APKBUILD from Node Box Editor
  testing/nodeboxeditor/APKBUILD
Owners: @Ikke

testing/py3-botocore: upgrade to 1.12.193
  testing/py3-botocore/APKBUILD
Owners: @Ikke

testing/py3-boto3: upgrade to 1.9.193
  testing/py3-boto3/APKBUILD
Owners: @Ikke

testing/sdfat: rebuild against kernel 4.19.60-r0
  testing/sdfat/APKBUILD
Owners: @Ikke

main/linux-vanilla: upgrade to 4.19.60
  main/linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-vanilla: rebuild against kernel 4.19.60-r0
  community/wireguard-vanilla/APKBUILD
Owners: @Ikke

main/drbd-vanilla: rebuild against kernel 4.19.60-r0
  main/drbd-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ipt-netflow-vanilla: rebuild against kernel 4.19.60-r0
  testing/ipt-netflow-vanilla/APKBUILD
Owners: @Ikke

main/xtables-addons-vanilla: rebuild against kernel 4.19.60-r0
  main/xtables-addons-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-vanilla: rebuild against kernel 4.19.60-r0
  main/zfs-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-vanilla: rebuild against kernel 4.19.60-r0
  main/dahdi-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/virtualbox-guest-modules-vanilla: rebuild against kernel 4.19.60-r0
  community/virtualbox-guest-modules-vanilla/APKBUILD
Owners: @Ikke

main/devicemaster-linux-vanilla: rebuild against kernel 4.19.60-r0
  main/devicemaster-linux-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

Adding APKBUILD from OIS
  testing/ois/APKBUILD
Owners: @Ikke

community/py3-pyutilib: upgrade to 5.7.1
  community/py3-pyutilib/APKBUILD
Owners: @Ikke

community/py-pyutilib: drop python2
  community/py3-pyutilib/APKBUILD
Owners: @Ikke

testing/sequoia-sqv: upgrade to 0.9.0
  testing/sequoia-sqv/APKBUILD
Owners: @tcely

main/linux-rpi: upgrade to 4.19.60
  main/linux-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/wireguard-rpi: rebuild against kernel 4.19.60-r0
  community/wireguard-rpi/APKBUILD
Owners: @Ikke

main/postgresql: create postgres account
  main/postgresql/APKBUILD
  main/postgresql/postgresql.pre-install
Owners: @andypost, @nmeum, @ncopa

main/alpine-baselayout: remove postgres account
  main/alpine-baselayout/APKBUILD
  main/alpine-baselayout/group
  main/alpine-baselayout/passwd
Owners: @andypost, @nmeum, @ncopa

testing/sequoia-sqv: upgrade to 0.9.0
  testing/sequoia-sqv/APKBUILD
Owners: @tcely

Revert "testing/sequoia-sqv: disable due to build error with nettle"
  testing/sequoia-sqv/APKBUILD
Owners: @tcely

testing/docker-compose: upgrade to 1.24.1
  testing/docker-compose/APKBUILD
Owners: @Ikke

testing/docker-compose: move to community
  community/docker-compose/APKBUILD
Owners: @Ikke

main/mkinitfs: fix build with musl-1.1.23
  main/mkinitfs/0001-nlplug-findfs.c-Explicitly-include-sys-sysmacros.h-d.patch
  main/mkinitfs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/docker-compose: add shell completion subpackages
  testing/docker-compose/APKBUILD
Owners: @Ikke

testing/docker-compose: upgrade to 1.24.1
  testing/docker-compose/APKBUILD
Owners: @Ikke

testing/docker-compose: move to community
  community/docker-compose/APKBUILD
Owners: @Ikke

community/docker-compose: update checksums
  community/docker-compose/APKBUILD
Owners: @Ikke

testing/py3-cached-property: move to community
  community/py3-cached-property/APKBUILD
Owners: @Ikke

testing/py3-dockerpty: move to community
  community/py3-dockerpty/APKBUILD
Owners: @Ikke

testing/py3-pysocks: move to community
  community/py3-pysocks/APKBUILD
Owners: @Ikke

testing/py3-texttable: move to community
  community/py3-texttable/APKBUILD
Owners: @Ikke

community/docker-compose: update checksums
  community/docker-compose/APKBUILD
Owners: @Ikke

testing/py3-cached-property: move to community
  community/py3-cached-property/APKBUILD
Owners: @Ikke

testing/py3-dockerpty: move to community
  community/py3-dockerpty/APKBUILD
Owners: @Ikke

testing/py3-pysocks: move to community
  community/py3-pysocks/APKBUILD
Owners: @Ikke

testing/py3-texttable: move to community
  community/py3-texttable/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
