Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/abuild: upgrade to 3.16.0
  main/abuild/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: add subpackage -mod-dev
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: remove redundant build dependency pkgconf
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nginx: drop obsolete removal of some tests
  main/nginx/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/zigbee2mqtt: upgrade to 2.7.0
  community/zigbee2mqtt/APKBUILD
  community/zigbee2mqtt/rollup-wasm-node.patch
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 6.18.0-r3
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/vmm_clock-lts: rebuild against kernel 6.18.0-r3
  community/vmm_clock-lts/APKBUILD
Owners: @Ikke

community/virtio_vmmci-lts: rebuild against kernel 6.18.0-r3
  community/virtio_vmmci-lts/APKBUILD
Owners: @Ikke

community/rtpengine-lts: rebuild against kernel 6.18.0-r3
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 6.18.0-r3
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 6.18.0-r3
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

Revert "main/linux-lts: enabl DEBUG_INFO_BTF on ppc64le"
  main/linux-lts/APKBUILD
  main/linux-lts/lts.ppc64le.config
  main/linux-lts/virt.ppc64le.config
Owners: @andypost, @nmeum, @ncopa

main/mkinitfs: upgrade to 3.13.0
  main/mkinitfs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/go: security upgrade to 1.24.11
  community/go/APKBUILD
Owners: @Ikke

community/ntfy: upgrade to 2.15.0
  community/ntfy/APKBUILD
Owners: @Ikke

community/lego: upgrade to 4.29.0
  community/lego/APKBUILD
Owners: @Ikke

community/acsccid: upgrade to 1.1.13
  community/acsccid/APKBUILD
Owners: @Ikke

community/ostree: upgrade to 2025.7
  community/ostree/APKBUILD
Owners: @Ikke

community/xbps: upgrade to 0.60.6
  community/xbps/APKBUILD
Owners: @Ikke

community/dnsdist: upgrade to 2.0.2
  community/dnsdist/APKBUILD
  community/dnsdist/dolog.patch
Owners: @tcely

community/bat: upgrade to 0.26.1
  community/bat/APKBUILD
Owners: @Ikke

community/ifstate: upgrade to 2.2.2
  community/ifstate/APKBUILD
Owners: @Ikke

testing/sydbox: upgrade to 3.45.2
  testing/sydbox/APKBUILD
  testing/sydbox/enable-mimalloc-32b.patch
  testing/sydbox/lookup-fix_ELOOP_not_reported_with_MSS_LAST.patch
  testing/sydbox/make-fix-install.patch
  testing/sydbox/make-install-no-build.patch
  testing/sydbox/no-syd-tck_patch
  testing/sydbox/no-systemd.patch
Owners: @Ikke

community/arturo: upgrade to 0.9.84_alpha3414
  community/arturo/APKBUILD
Owners: @Ikke

testing/ghc-release: upgrade to 9.14.1_rc3
  testing/ghc-release/APKBUILD
Owners: @Ikke

community/docker: security upgrade to 29.1.2
  community/docker/APKBUILD
Owners: @Ikke

main/zfs: upgrade to 2.4.0-rc4
  main/zfs/APKBUILD
  main/zfs/meta-6.18.patch
  main/zfs/statx.patch
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons: upgrade to 3.30
  main/xtables-addons/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xtables-addons-rpi: upgrade to 3.30
  main/xtables-addons-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-rpi: upgrade to 2.4.0-rc4
  main/zfs-rpi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

===== release 3.23.0_rc2 =====
  main/alpine-base/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-libvirt: upgrade to 11.10.0
  community/py3-libvirt/APKBUILD
Owners: @Ikke

community/openvas-scanner: upgrade to 23.32.5
  community/openvas-scanner/APKBUILD
Owners: @Ikke

main/iproute2: upgrade to 6.17.0
  main/iproute2/APKBUILD
  main/iproute2/bridge-avoid-redefinition-of-in6_addr.patch
Owners: @andypost, @nmeum, @ncopa

community/spvm: upgrade to 0.990108
  community/spvm/APKBUILD
Owners: @Ikke

community/py3-gvm: upgrade to 26.8.0
  community/py3-gvm/APKBUILD
Owners: @Ikke

community/py3-acme: upgrade to 5.2.0
  community/py3-acme/APKBUILD
Owners: @Ikke

community/zfs-stable: upgrade to 2.4.0_rc4
  community/zfs-stable/APKBUILD
Owners: @Ikke

testing/zfs-src: upgrade to 2.4.0_rc4
  testing/zfs-src/APKBUILD
Owners: @Ikke

community/go: security upgrade to 1.25.5
  community/go/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
