Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/sddm: fix race conditions at system boot
  community/sddm/APKBUILD
  community/sddm/sddm.initd
Owners: @Ikke

community/garage: upgrade to 1.2.0
  community/garage/APKBUILD
Owners: @Ikke

community/erlang26: upgrade to 26.2.5.14
  community/erlang26/APKBUILD
Owners: @Ikke

community/mongooseim: rebuild against erlang 26.2.5.14
  community/mongooseim/APKBUILD
Owners: @Ikke

community/linux-stable: x86_64: Enable various IIO sensors used on x86 devices
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Fix Bay Trail and Cherry Trail PMIC configuration
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Enable missing touchscreen drivers
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Enable Micro-B OTG / Type-C role switching drivers
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Fix missing charging/battery drivers on some tablets
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Disable unused MFD drivers
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Make simpledrm driver builtin
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Backlight config updates
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Enable some LED class options
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Enable drivers for WM5102 codec
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Disable unused IIO drivers
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Disable unused touchscreen drivers
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: x86_64: Enable misc. drivers needed for BYT / CHT
  community/linux-stable/stable.x86_64.config
Owners: @Ikke

community/linux-stable: upgrade to 6.15.7
  community/linux-stable/0001-powerpc-boot-wrapper-Add-z-notext-flag-for-ppc64le.patch
  community/linux-stable/0002-x86-Compress-vmlinux-with-zstd-19-instead-of-22.patch
  community/linux-stable/0003-kexec-add-kexec_load_disabled-boot-option.patch
  community/linux-stable/0004-objtool-respect-AWK-setting.patch
  community/linux-stable/0005-powerpc-config-defang-gcc-check-for-stack-protector-.patch
  community/linux-stable/0006-FROMGIT-kallsyms-fix-build-without-execinfo.patch
  community/linux-stable/APKBUILD
Owners: @Ikke

community/zfs-stable: rebuild against linux-stable 6.15.7-r0
  community/zfs-stable/APKBUILD
Owners: @Ikke

main/linux-headers: upgrade to 6.15.7
  main/linux-headers/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/linux-tools: upgrade to 6.15.7
  community/linux-tools/APKBUILD
Owners: @Ikke

community/erlang27: upgrade to 27.3.4.2
  community/erlang27/APKBUILD
Owners: @Ikke

*/linux-*: update checksum
  community/linux-tools/APKBUILD
  main/linux-headers/APKBUILD
Owners: @Ikke, @andypost, @nmeum, @ncopa

community/linux-tools: add llvm dir back to PATH
  community/linux-tools/APKBUILD
Owners: @Ikke

community/erlang27: upgrade to 27.3.4.2
  community/erlang27/APKBUILD
Owners: @Ikke

community/mongooseim: rebuild against erlang 27.3.4.2
  community/mongooseim/APKBUILD
Owners: @Ikke

community/erlang28: upgrade to 28.0.2
  community/erlang28/APKBUILD
Owners: @Ikke

community/gst-plugins-good: upgrade to 1.26.4
  community/gst-plugins-good/APKBUILD
Owners: @Ikke

community/gst-plugins-ugly: upgrade to 1.26.4
  community/gst-plugins-ugly/APKBUILD
Owners: @Ikke

community/gst-plugins-bad: upgrade to 1.26.4
  community/gst-plugins-bad/APKBUILD
Owners: @Ikke

main/gst-plugins-base: upgrade to 1.26.4
  main/gst-plugins-base/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gstreamer: upgrade to 1.26.4
  main/gstreamer/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-gst: upgrade to 1.26.4
  community/py3-gst/APKBUILD
Owners: @Ikke

community/gst-libav: upgrade to 1.26.4
  community/gst-libav/APKBUILD
Owners: @Ikke

community/gst-editing-services: upgrade to 1.26.4
  community/gst-editing-services/APKBUILD
Owners: @Ikke

community/gst-vaapi: upgrade to 1.26.4
  community/gst-vaapi/APKBUILD
Owners: @Ikke

community/gst-rtsp-server: upgrade to 1.26.4
  community/gst-rtsp-server/APKBUILD
Owners: @Ikke

community/erlang28: upgrade to 28.0.2
  community/erlang28/APKBUILD
Owners: @Ikke

community/py3-tblib: upgrade to 3.1.0
  community/py3-tblib/APKBUILD
Owners: @Ikke

community/libvirt: re-enable FileSystem storage backend
  community/libvirt/APKBUILD
Owners: @Ikke
