Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/ossec-hids: modernize, fix license
  testing/ossec-hids/APKBUILD
Owners: @Ikke

testing/py3-ansicolors: modernize
  testing/py3-ansicolors/APKBUILD
Owners: @Ikke

testing/libmodbus: modernize, fix license, fix url
  testing/libmodbus/APKBUILD
Owners: @Ikke

main/vim: security fix for CVE-2019-12735
  main/vim/APKBUILD
  main/vim/vim-modeline-ace-fix.patch
Owners: @andypost, @nmeum, @ncopa

testing/py3-shouldbe: new aport
  testing/py3-shouldbe/APKBUILD
Owners: @Ikke

main/musl: fix ldd when used with libraries
  main/musl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/vim: security upgrade to 8.1.1365 CVE-2019-12735
  main/vim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-forbiddenfruit: new aport
  testing/py3-forbiddenfruit/APKBUILD
Owners: @Ikke

main/vim: update secfix information
  main/vim/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/sane: enable on all arches
  community/sane/APKBUILD
Owners: @Ikke

main/dhcpcd-dbus: modernize, fix homepage, fix url
  main/dhcpcd-dbus/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/giblib: modernize, remove static library
  main/giblib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/krb5: improve
  main/krb5/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/krb5: clarify version variables
  main/krb5/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/neovim: update secfix information
  community/neovim/APKBUILD
Owners: @Ikke

main/snort: pidfile location, rebuild against static daq and facilitate log file consumption
  main/snort/APKBUILD
  main/snort/snort.confd
Owners: @andypost, @nmeum, @ncopa

main/daq: support afpacket and nfq
  main/daq/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/musl: fix ldd
  main/musl/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/barnyard2: new aport
  testing/barnyard2/10-fix-output-fwsam-and-database_cache.patch
  testing/barnyard2/20-disable-outputs.patch
  testing/barnyard2/30-remove-warnings.patch
  testing/barnyard2/APKBUILD
  testing/barnyard2/barnyard2.confd
  testing/barnyard2/barnyard2.initd
  testing/barnyard2/barnyard2.pre-install
Owners: @Ikke

main/nodejs: upgrade to 10.16.0
  main/nodejs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/gpgme: move from main
  community/gpgme/0001-Disable-failing-tests-x86-armhf.patch
  community/gpgme/APKBUILD
Owners: @Ikke

community/udisks2: move from main
  community/udisks2/APKBUILD
  community/udisks2/O_CLOEXEC.patch
Owners: @Ikke

community/volume_key: move from main
  community/volume_key/APKBUILD
Owners: @Ikke

community/pacman: move from main
  community/pacman/APKBUILD
Owners: @Ikke

community/mcabber: move from main
  community/mcabber/APKBUILD
  community/mcabber/fix-roster-colors-on-freebsd.patch
Owners: @Ikke

community/gpgme: enable qgpgme subpackage
  community/gpgme/APKBUILD
Owners: @Ikke

community/sylpheed: move from main
  community/sylpheed/APKBUILD
Owners: @Ikke

community/libblockdev: move from main
  community/libblockdev/APKBUILD
  community/libblockdev/fix-glibc-glob-onlydir.patch
Owners: @Ikke

main/perl-carp-clan: upgrade to 6.07
  main/perl-carp-clan/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/iptables: upgrade to 1.8.3
  main/iptables/APKBUILD
  main/iptables/iptables-1.8.2-musl-fixes.patch
Owners: @andypost, @nmeum, @ncopa

main/samba: replace -initscript with -openrc
  main/samba/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nss: upgrade to 3.44
  main/nss/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/dzen: moved from main
  community/dzen/0001-Enable-Xinerama-and-XPM.patch
  community/dzen/APKBUILD
Owners: @Ikke

community/sxiv: re-add contrib tag
  community/sxiv/APKBUILD
Owners: @Ikke

community/go: re-add contrib tag
  community/go/APKBUILD
Owners: @Ikke

mailmap: entry for my new mail
  .mailmap
Owners: none

main/dmenu: fix my mail
  main/dmenu/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/go-bootsrap: fix my mail
  community/go-bootstrap/APKBUILD
Owners: @Ikke

community/docker: re-add contrib tag
  community/docker/APKBUILD
Owners: @Ikke

main/fcgiwrap: re-add contrib tag
  main/fcgiwrap/APKBUILD
Owners: @andypost, @nmeum, @ncopa
