Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/fish: -tools needs man-db
  main/fish/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-vatnumber: rename from py-vatnumber
  testing/py3-vatnumber/APKBUILD
Owners: @Ikke

testing/py3-pysimplesoap: new aport
  testing/py3-pysimplesoap/APKBUILD
Owners: @Ikke

testing/py3-vatnumber: modernize
  testing/py3-vatnumber/APKBUILD
Owners: @Ikke

community/certbot: upgrade to 0.34.0
  community/certbot/APKBUILD
Owners: @Ikke

testing/py3-turq: remove
  testing/py-turq/APKBUILD
Owners: @Ikke

main/ccache: upgrade to 3.7.1
  main/ccache/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/cmake: upgrade to 3.14.3
  main/cmake/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/man-pages: also compress posix man pages
  main/man-pages/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/bind: split dnssec-tools and py3-bind
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: security upgrade to 9.12.4_p1 (CVE-2018-5743,CVE-2019-6467)
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/bind: fix build on non-x86
  main/bind/APKBUILD
  main/bind/Replace-atomic-operations.patch
Owners: @tcely, @ncopa, @clandmeter

main/py3-ply: new aport
  main/py3-ply/APKBUILD
Owners: @tcely

main/bind: security upgrade to 9.12.4_p1 (CVE-2018-5743,CVE-2019-6467)
  main/bind/APKBUILD
  main/bind/Replace-atomic-operations.patch
Owners: @tcely, @ncopa, @clandmeter

main/py3-ply: new aport
  main/py3-ply/APKBUILD
Owners: @tcely

testing/libzim: upgrade to 4.0.7
  testing/libzim/APKBUILD
Owners: @Ikke

community/php7: security upgrade to 7.2.18 (CVE-2019-11036)
  community/php7/APKBUILD
Owners: @Ikke

testing/libzim: upgrade to 4.0.7
  testing/libzim/APKBUILD
Owners: @Ikke

testing/mellowplayer: new aport
  testing/mellowplayer/APKBUILD
Owners: @Ikke

community/girara: upgrade to 0.3.2
  community/girara/APKBUILD
Owners: @Ikke

testing/gnome-screenshot: new aport
  testing/gnome-screenshot/APKBUILD
Owners: @Ikke

testing/zimwriterfs: upgrade to 1.3.1
  testing/zimwriterfs/APKBUILD
Owners: @Ikke

community/zathura: upgrade to 0.4.3
  community/zathura/APKBUILD
Owners: @Ikke

community/zathura-ps: change url/source, old inaccessible
  community/zathura-ps/APKBUILD
Owners: @Ikke

community/zathura-pdf-poppler: fix url and source to new upstream
  community/zathura-pdf-poppler/APKBUILD
Owners: @Ikke

community/crystal: upgrade to 0.28.0
  community/crystal/APKBUILD
  community/crystal/fix-spec-std-socket-tcp_server_spec.cr.patch
Owners: @Ikke

testing/rustup: new aport
  testing/rustup/APKBUILD
Owners: @Ikke

testing/gx: upgrade to 0.14.2
  testing/gx/APKBUILD
Owners: @Ikke

testing/libzim: modernize
  testing/libzim/APKBUILD
Owners: @Ikke

testing/linux-tools: streamline bash-completion package
  testing/linux-tools/APKBUILD
Owners: @Ikke

community/ssh-ldap-pubkey: upgrade to 1.3.1
  community/ssh-ldap-pubkey/APKBUILD
Owners: @Ikke

main/qemu-openrc: upgrade to 0.7.0
  main/qemu-openrc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/postgresql-plpgsql_check: upgrade to 1.7.1
  community/postgresql-plpgsql_check/APKBUILD
  community/postgresql-plpgsql_check/fix-for-postgresql-11-and-12.patch
Owners: @Ikke

community/lua-basexx: upgrade to 0.4.1
  community/lua-basexx/APKBUILD
Owners: @Ikke

community/R: upgrade to 3.6.0
  community/R/APKBUILD
Owners: @Ikke

community/cython: upgrade to 0.29.7
  community/cython/APKBUILD
Owners: @Ikke

testing/py-urlobject: modernize
  testing/py-urlobject/APKBUILD
Owners: @Ikke

testing/py3-netdisco: modernize
  testing/py3-netdisco/APKBUILD
Owners: @Ikke

main/imagemagick: build perlmagick packages and upgrade to 7.0.8.43
  main/imagemagick/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-rtslib: modernize
  community/py3-rtslib/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
