Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/mopidy: disable failing test
  community/mopidy/APKBUILD
Owners: @Ikke

community/py3-corner: disable on riscv64
  community/py3-corner/APKBUILD
Owners: @Ikke

community/pdns-recursor: upgrade to 4.9.5
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/pdns-recursor: upgrade to 5.0.4
  community/pdns-recursor/APKBUILD
Owners: @tcely

community/wimlib: upgrade to 1.14.4
  community/wimlib/APKBUILD
Owners: @Ikke

community/prismlauncher: upgrade 8.3
  community/prismlauncher/APKBUILD
Owners: @Ikke

community/pinta: upgrade to 2.1.2
  community/pinta/APKBUILD
Owners: @Ikke

community/warp: upgrade to 0.7.0
  community/warp/APKBUILD
Owners: @Ikke

community/svxlink: rebuild against librtlsdr.so.0
  community/svxlink/APKBUILD
Owners: @Ikke

main/rng-tools: rebuild against librtlsdr.so.0
  main/rng-tools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/rtl-power-fftw: rebuild against librtlsdr.so.0
  testing/rtl-power-fftw/APKBUILD
Owners: @Ikke

testing/sdrangel: rebuild against librtlsdr.so.0
  testing/sdrangel/APKBUILD
Owners: @Ikke

main/librtlsdr: upgrade to 2.0.2
  main/librtlsdr/APKBUILD
  main/librtlsdr/correct_udev_rules_path.patch
Owners: @andypost, @nmeum, @ncopa

community/rtl_433: rebuild against librtlsdr.so.0
  community/rtl_433/APKBUILD
Owners: @Ikke

testing/welle-io: rebuild against librtlsdr.so.0
  testing/welle-io/APKBUILD
Owners: @Ikke

community/gr-osmosdr: rebuild against librtlsdr.so.0
  community/gr-osmosdr/APKBUILD
Owners: @Ikke

community/kvantum: upgrade to 1.1.0
  community/kvantum/APKBUILD
Owners: @Ikke

testing/py3-dkimpy: upgrade to 1.1.6
  testing/py3-dkimpy/APKBUILD
Owners: @Ikke

community/xfce4-weather-plugin: upgrade to 0.11.2
  community/xfce4-weather-plugin/APKBUILD
Owners: @Ikke

community/geopard: upgrade to 1.5.0
  community/geopard/APKBUILD
Owners: @Ikke

community/synapse: security upgrade to 1.105.1
  community/synapse/APKBUILD
Owners: @Ikke

community/php82: disable openssl test
  community/php82/APKBUILD
  community/php82/disabled-tests.list
Owners: @Ikke

community/php83: disable openssl test
  community/php83/APKBUILD
  community/php83/disabled-tests.list
Owners: @Ikke

community/py3-html-text: upgrade to 0.6.1
  community/py3-html-text/APKBUILD
Owners: @Ikke

community/py3-django-allauth: upgrade to 0.62.1
  community/py3-django-allauth/APKBUILD
Owners: @Ikke

testing/php81: disable openssl test
  testing/php81/APKBUILD
  testing/php81/disabled-tests.list
Owners: @Ikke

community/py3-vt-py: upgrade to 0.18.2
  community/py3-vt-py/APKBUILD
Owners: @Ikke

testing/pnpm: upgrade to 9.0.6
  testing/pnpm/APKBUILD
Owners: @Ikke

community/ctags: upgrade to 6.1.20240421.0
  community/ctags/APKBUILD
Owners: @Ikke

community/ctags: enable json and yaml support
  community/ctags/APKBUILD
Owners: @Ikke

community/bmake: upgrade to 20240414
  community/bmake/APKBUILD
Owners: @Ikke

testing/xmake: upgrade to 2.9.1
  testing/xmake/APKBUILD
Owners: @Ikke

community/xdg-desktop-portal-gnome: upgrade to 46.1
  community/xdg-desktop-portal-gnome/APKBUILD
Owners: @Ikke

community/java-libsignal-client: upgrade to 0.45.0
  community/java-libsignal-client/APKBUILD
  community/java-libsignal-client/upgrade-gradle-fix-sigsegv-aarch64.patch
Owners: @Ikke

community/signal-cli: upgrade to 0.13.3
  community/signal-cli/APKBUILD
  community/signal-cli/upgrade-gradle-fix-sigsegv-aarch64.patch
Owners: @Ikke

community/clojure: upgrade to 1.11.3
  community/clojure/APKBUILD
Owners: @Ikke

community/openjdk11: security upgrade to 11.0.23
  community/openjdk11/APKBUILD
Owners: @Ikke

community/py3-model-bakery: upgrade to 1.18.0
  community/py3-model-bakery/APKBUILD
Owners: @Ikke

community/py3-python-ipware: upgrade to 3.0.0
  community/py3-python-ipware/APKBUILD
Owners: @Ikke

community/mpv: upgrade to 0.38.0
  community/mpv/APKBUILD
Owners: @Ikke
