Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/liferea: update config.sub to support loongarch64
  community/liferea/APKBUILD
Owners: @Ikke

community/cargo-release: update rust libc to support loongarch64
  community/cargo-release/APKBUILD
  community/cargo-release/update-rust-libc.patch
Owners: @Ikke

community/gifski: fix build on loongarch64
  community/gifski/APKBUILD
  community/gifski/update-rust-libc.patch
Owners: @Ikke

community/genimage: don't use android-tools on loongarch64
  community/genimage/APKBUILD
Owners: @Ikke

community/scrcpy: disable on loongarch64
  community/scrcpy/APKBUILD
Owners: @Ikke

testing/mitmproxy: disable on loongarch64
  testing/mitmproxy/APKBUILD
Owners: @Ikke

community/websocat: fix build on loongarch64
  community/websocat/APKBUILD
  community/websocat/Cargo-update.patch
Owners: @Ikke

testing/bazel6: disble on loongarch64
  testing/bazel6/APKBUILD
Owners: @Ikke

testing/wroomd: fix build on loongarch64
  testing/wroomd/APKBUILD
  testing/wroomd/cargo-update.patch
Owners: @Ikke

testing/zed: don't download node, npm and supermaven from internet
  testing/zed/APKBUILD
  testing/zed/dont-download-node.patch
  testing/zed/dont-download-supermaven.patch
Owners: @Ikke

testing/zed: disable auto-update
  testing/zed/APKBUILD
  testing/zed/disable-autoupdate.patch
Owners: @Ikke

testing/zed: change init settings to respect user privacy
  testing/zed/APKBUILD
  testing/zed/disable-autoupdate.patch
  testing/zed/initial_user_settings.patch
Owners: @Ikke

community/sxmo-utils: upgrade to 1.16.0
  community/sxmo-utils/APKBUILD
Owners: @Ikke

community/imagemagick: fix perlmagick dir
  community/imagemagick/APKBUILD
Owners: @Ikke

community/apptainer: upgrade to 1.3.2
  community/apptainer/APKBUILD
Owners: @Ikke

community/imagemagick: fix perlmagick dir
  community/imagemagick/APKBUILD
Owners: @Ikke

testing/jami-daemon: disable on loongarch64
  testing/jami-daemon/APKBUILD
Owners: @Ikke

testing/jami-daemon: fix compatibility with opendht 3.1.6
  testing/jami-daemon/APKBUILD
  testing/jami-daemon/dhtnet-makefile.patch
  testing/jami-daemon/dhtnet-unpack-dir.patch
  testing/jami-daemon/opendht-3.1.6-compat-1.patch
  testing/jami-daemon/opendht-3.1.6-compat-2.patch
Owners: @Ikke

testing/prowlarr: upgrade to 1.18.0.4543
  testing/prowlarr/0002-bump-npgsql.patch
  testing/prowlarr/APKBUILD
Owners: @Ikke

testing/up: update go.{mod/sum} to support longarch64
  testing/up/APKBUILD
  testing/up/update-go-mod.patch
Owners: @Ikke

testing/idevicerestore: update config sub for loongarch64
  testing/idevicerestore/APKBUILD
Owners: @Ikke

testing/diskonaut: disable on loongarch64
  testing/diskonaut/APKBUILD
Owners: @Ikke

community/sxmo-utils: upgrade to 1.16.1
  community/sxmo-utils/APKBUILD
Owners: @Ikke

community/systeroid: disable on loongarch64
  community/systeroid/APKBUILD
Owners: @Ikke

community/deadbeef: update config.{sub/guess} to recognize loongarch64
  community/deadbeef/APKBUILD
Owners: @Ikke

community/mise: disable on loongarch64
  community/mise/APKBUILD
Owners: @Ikke

community/lightdm-gtk-greeter: update config.{sub/guess} to recognize loongarch64-alpine-linux-musl
  community/lightdm-gtk-greeter/APKBUILD
Owners: @Ikke

community/fossil: update autosetup-config.{sub/guess} to support loongarch64
  community/fossil/APKBUILD
Owners: @tcely

community/clutter-gst: update config sub for loongarch64
  community/clutter-gst/APKBUILD
Owners: @Ikke

community/boringproxy: update go.mod to support loongarch64
  community/boringproxy/APKBUILD
  community/boringproxy/update-go-mod.patch
Owners: @Ikke

community/mcabber: update config sub for loongarch64
  community/mcabber/APKBUILD
Owners: @Ikke

community/py3-scikit-plot: remove aport
  community/py3-scikit-plot/APKBUILD
Owners: @Ikke

community/py3-mimesis: upgrade to 17.0.0
  community/py3-mimesis/APKBUILD
Owners: @Ikke

community/git-cliff: upgrade to 2.3.0
  community/git-cliff/APKBUILD
Owners: @Ikke

community/git-absorb: fix build on loongarch64
  community/git-absorb/0001-update-libc-crate.patch
  community/git-absorb/APKBUILD
Owners: @Ikke

main/meson: upgrade to 1.4.1
  main/meson/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nss: change builddir
  main/nss/APKBUILD
  main/nss/gyp-config.patch
  main/nss/no-werror.patch
Owners: @andypost, @nmeum, @ncopa

community/opentofu: upgrade to 1.7.2
  community/opentofu/APKBUILD
Owners: @Ikke

community/opentofu: upgrade to 1.7.2
  community/opentofu/APKBUILD
Owners: @Ikke

community/monolith: fix build on loongarch64
  community/monolith/APKBUILD
  community/monolith/cargo-update.patch
Owners: @Ikke
