Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/kitinerary: rebuild against kcalendarcore
  testing/kitinerary/APKBUILD
Owners: @Ikke

testing/korganizer: rebuild against kcalendarcore
  testing/korganizer/APKBUILD
Owners: @Ikke

testing/kalarm: rebuild against kcalendarcore
  testing/kalarm/APKBUILD
Owners: @Ikke

testing/ktnef: rebuild against kcalendarcore
  testing/ktnef/APKBUILD
Owners: @Ikke

testing/calendarsupport: rebuild against kcalendarcore
  testing/calendarsupport/APKBUILD
Owners: @Ikke

testing/kmail: rebuild against kcalendarcore
  testing/kmail/APKBUILD
Owners: @Ikke

community/ktoblzcheck: upgrade to 1.50
  community/ktoblzcheck/APKBUILD
Owners: @Ikke

testing/py3-zope-testrunner: upgrade to 5.1
  testing/py3-zope-testrunner/APKBUILD
Owners: @Ikke

testing/wqy-zenhei: upgrade to 0.9.47
  testing/wqy-zenhei/APKBUILD
Owners: @Ikke

testing/py3-scrapy: upgrade to 1.7.4
  testing/py3-scrapy/APKBUILD
Owners: @Ikke

main/iputils: upgrade to 20190709
  main/iputils/APKBUILD
  main/iputils/fix-defines.patch
  main/iputils/fix-init-of-cmsg.patch
Owners: @andypost, @nmeum, @ncopa

community/firefox-esr: add secfixes for 68.2
  community/firefox-esr/APKBUILD
Owners: @Ikke

testing/firefox: upgrade to 70.0
  testing/firefox/APKBUILD
  testing/firefox/fix-rust-target.patch
  testing/firefox/fix-third_party.patch
Owners: @Ikke

main/qemu: fix undefined SYNC_MAP on ppc64le
  main/qemu/APKBUILD
  main/qemu/fix-map-sync-on-ppc64le.patch
Owners: @andypost, @nmeum, @ncopa

testing/font-noto-emoji: build from source rather than using pre-built
  testing/font-noto-emoji/APKBUILD
Owners: @Ikke

community/okular: move from testing
  community/okular/APKBUILD
Owners: @Ikke

testing/okular: fix -mobile subpackage
  testing/okular/APKBUILD
Owners: @Ikke

testing/deluge: remove unnecessary py3-automat dependency
  testing/deluge/APKBUILD
Owners: @Ikke

testing/libiscsi: disable -Werror
  testing/libiscsi/APKBUILD
Owners: @Ikke

community/py3-automat: upgrade to 0.8.0
  community/py3-automat/APKBUILD
Owners: @Ikke

main/qemu: fix build on ppc64le
  main/qemu/APKBUILD
  main/qemu/MAP_SYNC-fix.patch
Owners: @andypost, @nmeum, @ncopa

[3.10] main/ldb: upgrade to 1.5.6
  main/ldb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/taskd: rebuild with GLOB_TILDE support
  main/taskd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ipsec-tools: rebuild with GLOB_TILDE support
  main/ipsec-tools/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/spdx-licenses: upgrade to 3.7
  community/spdx-licenses/APKBUILD
Owners: @Ikke

main/xl2tpd: upgrade to 1.3.15
  main/xl2tpd/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/lm-sensors: upgrade to 3.6.0
  main/lm-sensors/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/acpica: upgrade to 20191018
  main/acpica/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-image-exiftool: upgrade to 11.71
  main/perl-image-exiftool/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libxkbcommon: upgrade to 0.9.1
  main/libxkbcommon/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/mdbook: upgrade to 0.3.2
  testing/mdbook/APKBUILD
Owners: @Ikke

main/rsyslog: fix CVE-2019-17041 and CVE-2019-17042
  main/rsyslog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/rsyslog: fix CVE-2019-17041 and CVE-2019-17042
  main/rsyslog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/shards: disable check
  community/shards/APKBUILD
Owners: @Ikke

main/rsyslog: fix CVE-2019-17041 and CVE-2019-17042
  main/rsyslog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/rsyslog: fix CVE-2019-17041 and CVE-2019-17042
  main/rsyslog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/rsyslog: upgrade to 8.1910.0
  main/rsyslog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/i2pd: upgrade to 2.29.0
  testing/i2pd/APKBUILD
Owners: @Ikke

testing/php7-pecl-xlswriter: disable on s390x
  testing/php7-pecl-xlswriter/APKBUILD
Owners: @Ikke

main/bind security upgrade to 9.14.7 (CVE-2019-6475, CVE-2019-6476)
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
