Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/gdm: use /lib/security for pam modules
  community/gdm/APKBUILD
Owners: @Ikke

testing/yubico-pam: use /lib/security for PAM modules
  testing/yubico-pam/APKBUILD
Owners: @Ikke

community/libpwquality: use /lib/security for PAM modules
  community/libpwquality/APKBUILD
Owners: @Ikke

testing/gnome-weather: new aport
  testing/gnome-weather/APKBUILD
Owners: @Ikke

main/faad2: upgrade to 2.9.0
  main/faad2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-file-slurp: upgrade to 9999.28
  main/perl-file-slurp/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/gnome-weather: disable on s390x
  testing/gnome-weather/APKBUILD
Owners: @Ikke

main/bluez: upgrade to 5.51
  main/bluez/APKBUILD
  main/bluez/bluez-5.40-obexd_without_systemd-1.patch
  main/bluez/musl.patch
Owners: @andypost, @nmeum, @ncopa

main/apache2-mod-wsgi: upgrade to 4.6.7
  main/apache2-mod-wsgi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py-packaging: upgrade to 19.2
  main/py-packaging/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libxvmc: upgrade to 1.0.12
  main/libxvmc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/xorgproto: don't include vldXvMC.h
  main/xorgproto/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/phoronix-test-suite: upgrade to 9.0.0
  testing/phoronix-test-suite/APKBUILD
Owners: @Ikke

main/expat: upgrade to 2.2.9
  main/expat/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/strace: upgrade to 5.3
  main/strace/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/mariadb-connector-c: Fix include and libs path in mariadb_config
  main/mariadb-connector-c/APKBUILD
  main/mariadb-connector-c/cmake.patch
Owners: @andypost, @nmeum, @ncopa

testing/ppsspp:new aport
  testing/ppsspp/APKBUILD
Owners: @Ikke

[3.10] main/mariadb: upgrade to 10.3.18
  main/mariadb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ppsspp:new aport
  testing/ppsspp/ppsspp-version.patch
Owners: @Ikke

main/glibmm: upgrade to 2.62.0
  main/glibmm/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-lxml: drop py2
  main/py3-lxml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/py3-lxml: rename from py-lxml
  main/py3-lxml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-flask-oauthlib: move from main
  community/py3-flask-oauthlib/APKBUILD
Owners: @Ikke

community/py3-flask-oauthlib: document project lacking tests
  community/py3-flask-oauthlib/APKBUILD
Owners: @Ikke

community/php7: upgrade to 7.3.10
  community/php7/APKBUILD
Owners: @Ikke

testing/bird: Fix bird init script.
  testing/bird/APKBUILD
  testing/bird/bird.initd
Owners: @Ikke

community/jenkins: upgrade to 2.197
  community/jenkins/APKBUILD
Owners: @Ikke

community/gvmd: fix for task that not start from gsad
  community/gvmd/APKBUILD
  community/gvmd/fix-alpine-sql-syntax.patch
Owners: @Ikke

main/gcc: fix cross compiler building
  main/gcc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/milter-greylist: typo in init script
  community/milter-greylist/APKBUILD
  community/milter-greylist/milter-greylist.initd
Owners: @Ikke

community/milter-greylist: typo in init script
  community/milter-greylist/APKBUILD
  community/milter-greylist/milter-greylist.initd
Owners: @Ikke

community/milter-greylist: typo in init script
  community/milter-greylist/APKBUILD
  community/milter-greylist/milter-greylist.initd
Owners: @Ikke

testing/qownnotes: upgrade to 19.9.20
  testing/qownnotes/APKBUILD
Owners: @Ikke

community/acme.sh: upgrade to 2.8.3
  community/acme.sh/APKBUILD
Owners: @Ikke

community/perl-mojolicious: upgrade to 8.25
  community/perl-mojolicious/APKBUILD
Owners: @Ikke

main/py-urllib3: upgrade to 1.25.6
  main/py-urllib3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/ttf-font-awesome: upgrade to 5.11.2
  testing/ttf-font-awesome/APKBUILD
Owners: @Ikke

main/dns-root-hints: depends on curl for cron script
  main/dns-root-hints/APKBUILD
Owners: @tcely

main/xtables-addons-vanilla: upgrade to 3.5
  main/xtables-addons-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/zfs-vanilla: use zfs-0.8.2
  main/zfs-vanilla/APKBUILD
Owners: @andypost, @nmeum, @ncopa
