Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/intel-gmmlib: upgrade to 22.3.17
  community/intel-gmmlib/APKBUILD
Owners: @Ikke

community/zim-tools: rebuild against libzim.so.9.1.0
  community/zim-tools/APKBUILD
Owners: @Ikke

community/libzim: upgrade to 9.1.0
  community/libzim/APKBUILD
Owners: @Ikke

community/py3-libzim: upgrade to 3.4.0
  community/py3-libzim/APKBUILD
Owners: @Ikke

testing/py3-zimscraperlib: upgrade to 3.2.0
  testing/py3-zimscraperlib/APKBUILD
Owners: @Ikke

community/weechat: upgrade to 4.1.3
  community/weechat/APKBUILD
Owners: @Ikke

community/harsh: upgrade to 0.8.31
  community/harsh/APKBUILD
Owners: @Ikke

community/sniffglue: upgrade to 0.16.0
  community/sniffglue/APKBUILD
Owners: @Ikke

community/py3-twilio: use correct py3-jwt dependency
  community/py3-twilio/APKBUILD
Owners: @Ikke

community/py3-python-jwt: upgrade to 4.1.0
  community/py3-python-jwt/APKBUILD
Owners: @Ikke

main/gross: upgrade to 1.0.4
  main/gross/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gross: upgrade to 1.0.4
  main/gross/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-ytmusicapi: upgrade to 1.5.0
  community/py3-ytmusicapi/APKBUILD
Owners: @Ikke

main/gross: upgrade to 1.0.4
  main/gross/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gross: upgrade to 1.0.4
  main/gross/APKBUILD
  main/gross/fix-shadow-declaration.patch
Owners: @andypost, @nmeum, @ncopa

main/gross: upgrade to 1.0.4
  main/gross/APKBUILD
  main/gross/fix-shadow-declaration.patch
Owners: @andypost, @nmeum, @ncopa

testing/gdcm: upgrade to 3.0.23
  testing/gdcm/20-charls.patch
  testing/gdcm/APKBUILD
Owners: @Ikke

community/gitlab-runner: upgrade to 16.8.0
  community/gitlab-runner/APKBUILD
Owners: @Ikke

testing/libdng: new aport
  testing/libdng/APKBUILD
Owners: @Ikke

*/font-*: remove unused font-util-dev makedependency
  main/font-freefont/APKBUILD
  main/font-misc-ethiopic/APKBUILD
  testing/font-fontawesome-4/APKBUILD
Owners: @andypost, @nmeum, @ncopa, @Ikke

testing/mautrix-gmessages: upgrade to 0.2.4
  testing/mautrix-gmessages/APKBUILD
Owners: @Ikke

testing/ytt: upgrade to 0.47.0
  testing/ytt/APKBUILD
Owners: @Ikke

testing/boxed-cpp: upgrade to 1.2.0
  testing/boxed-cpp/APKBUILD
Owners: @Ikke

testing/reproc: take maintainership
  testing/reproc/APKBUILD
Owners: @Ikke

testing/lite-xl: take maintainership
  testing/lite-xl/APKBUILD
Owners: @Ikke

testing/woodpecker: upgrade to 2.2.2
  testing/woodpecker/0001-we-use-the-prebuild-webui.patch
  testing/woodpecker/APKBUILD
  testing/woodpecker/no-ext-static.patch
  testing/woodpecker/use-rollup-wasm.patch
Owners: @Ikke

testing/woodpecker: update pkgdesc
  testing/woodpecker/APKBUILD
Owners: @Ikke

testing/reproc: fix build with gcc13
  testing/reproc/APKBUILD
  testing/reproc/gcc13.patch
Owners: @Ikke

testing/reproc: fix checksum
  testing/reproc/APKBUILD
Owners: @Ikke

testing/libsemigroups: upgrade to 2.7.3
  testing/libsemigroups/APKBUILD
Owners: @Ikke

testing/pdm: upgrade to 2.12.2
  testing/pdm/APKBUILD
Owners: @Ikke

community/telegram-desktop: upgrade to 4.14.9
  community/telegram-desktop/APKBUILD
Owners: @Ikke

testing/dnsenum: upgrade to 1.3.1
  testing/dnsenum/APKBUILD
Owners: @Ikke

community/ostree: upgrade to 2024.1
  community/ostree/APKBUILD
Owners: @Ikke

community/bat: adopt aport
  community/bat/APKBUILD
Owners: @Ikke

community/skim: adopt aport
  community/skim/APKBUILD
Owners: @Ikke

community/procs: adopt aport
  community/procs/APKBUILD
Owners: @Ikke

testing/k3sup: upgrade to 0.13.5
  testing/k3sup/APKBUILD
Owners: @Ikke

testing/watchbind: upgrade to 0.2.1
  testing/watchbind/APKBUILD
Owners: @Ikke

testing/g4music: upgrade to 3.5.1
  testing/g4music/APKBUILD
Owners: @Ikke
