Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/grocy: upgrade to 4.4.1
  community/grocy/APKBUILD
Owners: @Ikke

community/time: move from testing
  community/time/APKBUILD
Owners: @Ikke

community/sxmo-utils: depend on evtest
  community/sxmo-utils/APKBUILD
Owners: @Ikke

*/font-*: use relate symlinks to /etc/fonts/conf.avail
  community/font-wqy-zenhei/APKBUILD
  main/font-dejavu/APKBUILD
  main/font-droid/APKBUILD
Owners: @Ikke, @andypost, @nmeum, @ncopa

main/wget: run all tests
  main/wget/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-scikit-build-core: replace py3-numpy1 with py3-numpy
  community/py3-scikit-build-core/APKBUILD
Owners: @Ikke

community/sbcl-stage0: upgrade to 2.5.1
  community/sbcl-stage0/APKBUILD
  community/sbcl-stage0/musl-time64.patch
  community/sbcl-stage0/xperfecthash30-missing-entries-x86.patch
Owners: @Ikke

community/sane-airscan: move from testing
  community/sane-airscan/APKBUILD
Owners: @Ikke

community/lldb: add lldb-server man page
  community/lldb/APKBUILD
Owners: @Ikke

testing/refine: relax blueprint-compiler dependency
  testing/refine/APKBUILD
  testing/refine/relax-blueprint-compiler.patch
Owners: @Ikke

testing/refine: upgrade to 0.4.3
  testing/refine/APKBUILD
Owners: @Ikke

community/odio-edit: upgrade to 25.2.1
  community/odio-edit/APKBUILD
Owners: @Ikke

main/iptables: apply upstream patches to fix docker networks
  main/iptables/APKBUILD
  main/iptables/drop-interface-mask-leftovers-from-post-parse-callbacks.patch
  main/iptables/fix-interface-comparissons-in-dash-C-commands.patch
Owners: @andypost, @nmeum, @ncopa

main/perl-test-warnings: upgrade to 0.038
  main/perl-test-warnings/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-pylsqpack: upgrade to 0.3.19
  community/py3-pylsqpack/APKBUILD
Owners: @Ikke

main/iptables: apply upstream patches to fix docker networks
  main/iptables/APKBUILD
  main/iptables/drop-interface-mask-leftovers-from-post-parse-callbacks.patch
  main/iptables/fix-interface-comparissons-in-dash-C-commands.patch
Owners: @andypost, @nmeum, @ncopa

community/release-plz: upgrade to 0.3.116
  community/release-plz/APKBUILD
Owners: @Ikke

community/moderncli: upgrade to 1.2.2
  community/moderncli/APKBUILD
Owners: @Ikke

community/py3-datapi: upgrade to 0.2.0
  community/py3-datapi/APKBUILD
Owners: @Ikke

community/py3-django-reversion: build with gpep517
  community/py3-django-reversion/APKBUILD
Owners: @Ikke

community/tinyssh: upgrade to 20250201
  community/tinyssh/APKBUILD
  community/tinyssh/gcc14-packet-put-add-missing-include.patch
Owners: @Ikke

community/py3-pytest-httpserver: upgrade to 1.1.1
  community/py3-pytest-httpserver/APKBUILD
Owners: @Ikke

community/aws-cli: upgrade to 2.23.11
  community/aws-cli/APKBUILD
Owners: @Ikke

community/aws-crt-cpp: upgrade to 0.30.1
  community/aws-crt-cpp/APKBUILD
  community/aws-crt-cpp/aws-c-mqtt-0.12.1.patch
  community/aws-crt-cpp/cmake.patch
Owners: @Ikke

community/py3-awscrt: upgrade to 0.23.9
  community/py3-awscrt/APKBUILD
Owners: @Ikke

community/dovecot-fts-xapian: upgrade to 1.9
  community/dovecot-fts-xapian/APKBUILD
Owners: @Ikke

community/fzf: upgrade to 0.59.0
  community/fzf/APKBUILD
Owners: @Ikke

community/editorconfig-checker: upgrade to 3.0.3
  community/editorconfig-checker/APKBUILD
Owners: @Ikke

community/mympd: upgrade to 20.0.0
  community/mympd/APKBUILD
Owners: @Ikke

community/mympd: add subpackage openrc
  community/mympd/APKBUILD
Owners: @Ikke

community/godap: upgrade to 2.10.4
  community/godap/APKBUILD
Owners: @Ikke

community/litecli: upgrade to 1.14.4
  community/litecli/APKBUILD
Owners: @Ikke

community/lua-language-server: upgrade to 3.13.5
  community/lua-language-server/APKBUILD
Owners: @Ikke

community/spdlog: upgrade to 1.15.1
  community/spdlog/APKBUILD
  community/spdlog/fmt-11.1.patch
Owners: @Ikke

community/py3-ytmusicapi: upgrade to 1.10.1
  community/py3-ytmusicapi/APKBUILD
Owners: @Ikke

testing/tootik: upgrade to 0.15.2
  testing/tootik/APKBUILD
  testing/tootik/tootik.cfg
Owners: @Ikke

main/perl-yaml-libyaml: upgrade to 0.903.0
  main/perl-yaml-libyaml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/halloy: upgrade to 2025.1
  community/halloy/APKBUILD
Owners: @Ikke

main/perl-yaml-libyaml: upgrade to 0.903.0
  main/perl-yaml-libyaml/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-pyqt5-sip: upgrade to 12.17.0
  community/py3-pyqt5-sip/APKBUILD
Owners: @Ikke
