Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

main/gnupg: remove gpgscm - internal tool used in tests
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/gnupg: add various patches from Debian
  main/gnupg/0010-avoid-beta-warning.patch
  main/gnupg/0020-avoid-regenerating-defsincdate-use-shipped-file.patch
  main/gnupg/0110-avoid-simple-memory-dumps-via-ptrace.patch
  main/gnupg/0210-dirmngr-hkp-avoid-potential-race-condition-when-some-host-die.patch
  main/gnupg/0220-dirmngr-avoid-need-for-hkp-housekeeping.patch
  main/gnupg/0230-dirmngr-avoid-automatically-checking-upstream-swdb.patch
  main/gnupg/0310-gpg-default-to-3072-bit-keys.patch
  main/gnupg/0320-gpg-default-to-aes256.patch
  main/gnupg/0330-gpg-default-to-sha512-for-all-signature-types-on-rsa-keys.patch
  main/gnupg/0340-gpg-prefer-sha512-and-sha384-in-personal-digest.patch
  main/gnupg/0410-make-gpg-zip-use-tar-from-path.patch
  main/gnupg/0420-gpg-drop-import-clean-from-default-keyserver-import-options.patch
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/bind: upgrade to 9.16.20
  main/bind/APKBUILD
Owners: @tcely, @ncopa, @clandmeter

main/*: update Debian source url
  main/datefudge/APKBUILD
  main/debootstrap/APKBUILD
  main/fakeroot/APKBUILD
  main/ifupdown/APKBUILD
  main/iso-codes/APKBUILD
  main/libpaper/APKBUILD
  main/lockfile-progs/APKBUILD
  main/logcheck/APKBUILD
  main/run-parts/APKBUILD
  main/spandsp/APKBUILD
  main/ssmtp/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/*: update Debian source url
  community/alien/APKBUILD
  community/clamsmtp/APKBUILD
  community/heirloom-mailx/APKBUILD
  community/msttcorefonts-installer/APKBUILD
  community/os-prober/APKBUILD
  community/vboot-utils/APKBUILD
Owners: @Ikke

testing/*: update Debian source url
  testing/fakeroot-tcp/APKBUILD
  testing/schroot/APKBUILD
  testing/ubuntu-archive-keyring/APKBUILD
  testing/weex/APKBUILD
Owners: @Ikke

community/slibtool: upgrade to 0.5.34
  community/slibtool/APKBUILD
Owners: @Ikke

community/slibtool: add m4 dependency
  community/slibtool/APKBUILD
Owners: @Ikke

main/lxc: replace dependency gnupg with gpg gnupg-dirmngr
  main/lxc/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dns-root-hints: replace dependency gnupg with gpg
  main/dns-root-hints/APKBUILD
Owners: @tcely

main/gnupg: split into multiple subpackages
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/slibtool: update URL per upstream request
  community/slibtool/APKBUILD
Owners: @Ikke

community/gnome-shell: upgrade to 40.4
  community/gnome-shell/APKBUILD
Owners: @Ikke

community/gnome-shell-extensions: upgrade to 40.4
  community/gnome-shell-extensions/APKBUILD
Owners: @Ikke

community/gnome-weather: upgrade to 40.1
  community/gnome-weather/APKBUILD
Owners: @Ikke

community/gsound: upgrade to 1.0.3
  community/gsound/APKBUILD
Owners: @Ikke

main/gnupg: fix depends for -lang subpackage
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/cni-plugin-dnsname: upgrade to 1.3.1
  community/cni-plugin-dnsname/APKBUILD
Owners: @Ikke

main/libgcrypt: move dev/testing programs to -dev subpackage
  main/libgcrypt/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libgpg-error: move yat2m to -dev subpackage
  main/libgpg-error/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/duplicity: replace dependency gnupg with gpg gpg-agent
  community/duplicity/APKBUILD
Owners: @Ikke

community/tpm: replace gnupg with gpg
  community/tpm/APKBUILD
Owners: @Ikke

main/spamassassin: replace dependency gnupg with gpg
  main/spamassassin/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/linux-edge: build CONFIG_IPV6_SIT as a module
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge-virt.riscv64
  community/linux-edge/config-edge.riscv64
Owners: @Ikke

testing/log_proxy: upgrade to 0.5.0
  testing/log_proxy/APKBUILD
Owners: @Ikke

testing/docker-cli-compose: upgrade to 2.0.0_rc1
  testing/docker-cli-compose/APKBUILD
Owners: @Ikke

community/java-snappy: fix compilation
  community/java-snappy/APKBUILD
  community/java-snappy/fix-racing-condition-unpack.patch
  community/java-snappy/unbundle-snappy.patch
Owners: @Ikke

community/polkit-elogind: properly provide polkit-openrc and polkit-dev
  community/polkit-elogind/APKBUILD
Owners: @Ikke

main/gnupg: move gpg2 from -utils to gpg subpackage
  main/gnupg/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/tpm: fix depends, gpg-agent is needed
  community/tpm/APKBUILD
Owners: @Ikke

main/perl: add mitigation for CVE-2021-36770; fixes #12929
  main/perl/APKBUILD
  main/perl/CVE-2021-36770.patch
Owners: @andypost, @nmeum, @ncopa

main/dahdi-linux-lts: rebuild against kernel 5.10.60-r0
  main/dahdi-linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtl8821ce-lts: rebuild against kernel 5.10.60-r0
  community/rtl8821ce-lts/APKBUILD
Owners: @Ikke

main/linux-lts: upgrade to 5.10.60
  main/linux-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/jool-modules-lts: rebuild against kernel 5.10.60-r0
  community/jool-modules-lts/APKBUILD
Owners: @Ikke

main/zfs-lts: rebuild against kernel 5.10.60-r0
  main/zfs-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/rtpengine-lts: rebuild against kernel 5.10.60-r0
  community/rtpengine-lts/APKBUILD
Owners: @Ikke

main/xtables-addons-lts: rebuild against kernel 5.10.60-r0
  main/xtables-addons-lts/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/mpv: rebuild against libplacebo 3.120.3
  community/mpv/APKBUILD
Owners: @Ikke

main/postgresql-bdr: attempt to fix build on riscv64
  main/postgresql-bdr/APKBUILD
Owners: @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
