Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

community/chromium: upgrade to 101.0.4951.54
  community/chromium/APKBUILD
  community/chromium/fix-missing-cstdint-include-musl.patch
  community/chromium/libxml-unbundle.patch
  community/chromium/system-opus.patch
Owners: @Ikke

testing/sublime-music: update source url
  testing/sublime-music/APKBUILD
Owners: @Ikke

community/xcalc: upgrade to 1.1.1
  community/xcalc/APKBUILD
Owners: @Ikke

community/twm: upgrade to 1.0.12
  community/twm/APKBUILD
Owners: @Ikke

community/xdm: upgrade to 1.1.13
  community/xdm/APKBUILD
Owners: @Ikke

community/xclock: upgrade to 1.1.0
  community/xclock/APKBUILD
Owners: @Ikke

community/xf86-video-dummy: upgrade to 0.4.0
  community/xf86-video-dummy/APKBUILD
Owners: @Ikke

community/xdpyinfo: upgrade to 1.3.3
  community/xdpyinfo/APKBUILD
Owners: @Ikke

community/xauth: upgrade to 1.1.2
  community/xauth/APKBUILD
Owners: @Ikke

testing/kubernetes: update kubelet.confd. Fixes #13787
  testing/kubernetes/APKBUILD
  testing/kubernetes/kubelet.confd
Owners: @Ikke

community/perl-template-toolkit: upgrade to 3.100
  community/perl-template-toolkit/APKBUILD
Owners: @Ikke

community/py3-scp: remove dependency on py3-asn1crypto
  community/py3-scp/APKBUILD
Owners: @Ikke

main/perl-cpanel-json-xs: upgrade to 4.28
  main/perl-cpanel-json-xs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-googletrans: patched client.py
  testing/py3-googletrans/APKBUILD
  testing/py3-googletrans/client.patch
Owners: @Ikke

testing/libva-vdpau-driver: assume maintainership
  testing/libva-vdpau-driver/APKBUILD
Owners: @Ikke

community/libva-vdpau-driver: move from testing
  community/libva-vdpau-driver/APKBUILD
  community/libva-vdpau-driver/libva-vdpau-driver-0.7.4-VAEncH264VUIBufferType.patch
  community/libva-vdpau-driver/libva-vdpau-driver-0.7.4-glext-missing-definition.patch
  community/libva-vdpau-driver/libva-vdpau-driver-0.7.4-libvdpau-0.8.patch
  community/libva-vdpau-driver/musl-fixes.patch
Owners: @Ikke

testing/nawk: upgrade to 20220122
  testing/nawk/APKBUILD
Owners: @Ikke

testing/nawk: assume maintainership
  testing/nawk/APKBUILD
Owners: @Ikke

testing/prometheus-wireguard-exporter: improve openrc script
  testing/prometheus-wireguard-exporter/APKBUILD
  testing/prometheus-wireguard-exporter/prometheus-wireguard-exporter.confd
  testing/prometheus-wireguard-exporter/prometheus-wireguard-exporter.initd
Owners: @Ikke

testing/prometheus-wireguard-exporter: modernise
  testing/prometheus-wireguard-exporter/APKBUILD
Owners: @Ikke

community/prometheus-wireguard-exporter: move from testing
  community/prometheus-wireguard-exporter/APKBUILD
  community/prometheus-wireguard-exporter/prometheus-wireguard-exporter.confd
  community/prometheus-wireguard-exporter/prometheus-wireguard-exporter.initd
Owners: @Ikke

community/prometheus-wireguard-exporter: assume maintainership
  community/prometheus-wireguard-exporter/APKBUILD
Owners: @Ikke

main/zlib: fix crc32 on 64-bit systems
  main/zlib/APKBUILD
  main/zlib/crc32.patch
Owners: @andypost, @nmeum, @ncopa

testing/paprefs: upgrade to 1.2
  testing/paprefs/APKBUILD
Owners: @Ikke

community/lipstick-nemo: rename from lipstick
  community/lipstick-nemo/0001-fix-include-location.patch
  community/lipstick-nemo/APKBUILD
Owners: @Ikke

testing/lipstick-asteroidos: make it provide and replace regular lipstick
  testing/lipstick-asteroidos/APKBUILD
Owners: @Ikke

testing/ydcv: modernise
  testing/ydcv/APKBUILD
Owners: @Ikke

testing/wine-mono: drop maintainership on request
  testing/wine-mono/APKBUILD
Owners: @Ikke

testing/py3-pyautogui: drop maintainership on request
  testing/py3-pyautogui/APKBUILD
Owners: @Ikke

unmaintained/googler: move from testing
  unmaintained/googler/APKBUILD
Owners: none

testing/ydcv: drop maintainership on request
  testing/ydcv/APKBUILD
Owners: @Ikke

community/py3-xlib: modernise
  community/py3-xlib/APKBUILD
Owners: @Ikke

testing/opencc: modernise
  testing/opencc/APKBUILD
Owners: @Ikke

community/py3-xlib: take over maintainership
  community/py3-xlib/APKBUILD
Owners: @Ikke

community/goobook: drop maintainership on request
  community/goobook/APKBUILD
Owners: @Ikke

community/goobook: modernise
  community/goobook/APKBUILD
Owners: @Ikke

testing/opencc: upgrade to 1.1.3
  testing/opencc/APKBUILD
Owners: @Ikke

community/goobook: upgrade to 3.5.1
  community/goobook/APKBUILD
Owners: @Ikke

testing/opencc: drop maintainership on request
  testing/opencc/APKBUILD
Owners: @Ikke

testing/wqy-zenhei: take over maintainership
  testing/wqy-zenhei/APKBUILD
Owners: @Ikke
