Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/evince: upgrade to 40.1
  community/evince/APKBUILD
Owners: @Ikke

main/py3-hypothesis: upgrade to 6.8.2
  main/py3-hypothesis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/qemu: enable zstd for qcow images
  community/qemu/APKBUILD
Owners: @Ikke

testing/foliate: upgrade to 2.6.2
  testing/foliate/APKBUILD
Owners: @Ikke

community/grafana: upgrade to 7.5.1
  community/grafana/APKBUILD
Owners: @Ikke

main/dbus-glib: upgrade to 0.112
  main/dbus-glib/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-dbusmock: upgrade to 0.23.0
  community/py3-dbusmock/APKBUILD
Owners: @Ikke

testing/osl: upgrade to 1.11.12.0
  testing/osl/APKBUILD
Owners: @Ikke

testing/kodi-pvr-hts: upgrade to 8.3.0
  testing/kodi-pvr-hts/APKBUILD
Owners: @Ikke

testing/kodi-pvr-iptvsimple: upgrade to 7.5.1
  testing/kodi-pvr-iptvsimple/APKBUILD
Owners: @Ikke

testing/kodi-inputstream-ffmpegdirect: upgrade to 1.19.4
  testing/kodi-inputstream-ffmpegdirect/APKBUILD
Owners: @Ikke

testing/kodi-inputstream-adaptive: upgrade to 2.6.8
  testing/kodi-inputstream-adaptive/APKBUILD
Owners: @Ikke

community/xterm: upgrade to 367
  community/xterm/APKBUILD
Owners: @Ikke

community/gopass: upgrade to 1.12.5
  community/gopass/APKBUILD
Owners: @Ikke

community/android-tools: align CMake usage with newapkbuild template
  community/android-tools/APKBUILD
Owners: @Ikke

testing/broot: take maintainership
  testing/broot/APKBUILD
Owners: @Ikke

community/broot: move from testing
  community/broot/APKBUILD
  community/broot/minimize-size.patch
Owners: @Ikke

testing/cargo-bloat: new aport
  testing/cargo-bloat/APKBUILD
  testing/cargo-bloat/minimize-size.patch
Owners: @Ikke

main/ncurses: upgrade to 6.2_p20210327
  main/ncurses/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dialog: upgrade to 1.3.20210324
  main/dialog/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/bird: upgrade to 2.0.8
  testing/bird/APKBUILD
  testing/bird/bird-gcc10-fix.patch
Owners: @Ikke

testing/zsh-theme-powerlevel10k: new aport
  testing/zsh-theme-powerlevel10k/APKBUILD
Owners: @Ikke

testing/zsh-theme-powerlevel10k: fix armel/armhf definitions
  testing/zsh-theme-powerlevel10k/APKBUILD
Owners: @Ikke

main/py3-hypothesis: upgrade to 6.8.3
  main/py3-hypothesis/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/ctags: upgrade to 5.9.20210328.0
  main/ctags/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/otpclient: upgrade to 2.4.3
  testing/otpclient/APKBUILD
Owners: @Ikke

main/git: upgrade to 2.31.1
  main/git/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/croc: upgrade to 8.6.12
  testing/croc/APKBUILD
Owners: @Ikke

community/foot: upgrade to 1.7.1
  community/foot/APKBUILD
Owners: @Ikke

testing/azote: upgrade to 1.9.1
  testing/azote/APKBUILD
Owners: @Ikke

testing/rbspy: upgrade to 0.4.0
  testing/rbspy/APKBUILD
Owners: @Ikke

community/py3-pynvim: remove unavailable arches
  community/py3-pynvim/APKBUILD
Owners: @Ikke

community/gojq: move from testing
  community/gojq/APKBUILD
  community/gojq/fix-multiply-strings-by-infinite.patch
Owners: @Ikke

testing/satellite: new aport
  testing/satellite/APKBUILD
  testing/satellite/satellite.confd
  testing/satellite/satellite.initd
  testing/satellite/satellite.pre-install
Owners: @Ikke

scripts: don't include pax-utils and paxmark in images
  scripts/bootstrap.sh
  scripts/mkimg.standard.sh
Owners: none

main/ldb: upgrade to 2.2.1
  main/ldb/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/squid: security upgrade to 4.14
  main/squid/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/squid: security upgrade to 4.14
  main/squid/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/squid: security upgrade to 4.14
  main/squid/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/delve: add check
  testing/delve/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
