Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/linux-edge: enable SIFIVE_L2
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.riscv64
Owners: @Ikke

community/linux-edge: add support for MTB on riscv64
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.riscv64
Owners: @Ikke

testing/texmaker: upgrade to 5.1.1
  testing/texmaker/APKBUILD
Owners: @Ikke

main/meson: upgrade to 0.59.1
  main/meson/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/linux-edge: restore old KASAN setting
  community/linux-edge/APKBUILD
  community/linux-edge/config-edge.riscv64
Owners: @Ikke

testing/victoria-metrics: upgrade to 1.64.1
  testing/victoria-metrics/APKBUILD
Owners: @Ikke

community/composer: upgrade to 2.1.6
  community/composer/APKBUILD
Owners: @Ikke

community/gocryptfs: upgrade to 2.1
  community/gocryptfs/APKBUILD
Owners: @Ikke

main/opensbi: move from testing
  main/opensbi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-net-cidr-lite: security upgrade to 0.22
  main/perl-net-cidr-lite/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-net-cidr-lite: security upgrade to 0.22
  main/perl-net-cidr-lite/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-net-cidr-lite: security upgrade to 0.22
  main/perl-net-cidr-lite/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/viddy: new aport
  testing/viddy/APKBUILD
Owners: @Ikke

main/opensbi: add comment regarding u-boot rebuilds
  main/opensbi/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/u-boot: add support for the HiFive Unmatched
  main/u-boot/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/u-boot: add support for the HiFive Unleashed
  main/u-boot/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/u-boot: add SPL image for unleashed too
  main/u-boot/APKBUILD
Owners: @andypost, @nmeum, @ncopa

Use SOURCE_DATE_EPOCH for raspi images
  scripts/mkimage.sh
  scripts/mkimg.base.sh
Owners: none

community/yq: upgrade to 4.11.2
  community/yq/APKBUILD
Owners: @Ikke

community/py3-sqlalchemy: upgrade to 1.4.23
  community/py3-sqlalchemy/APKBUILD
Owners: @Ikke

main/harfbuzz: upgrade to 2.9.0
  main/harfbuzz/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/perl-net-netmask: add secfixes
  testing/perl-net-netmask/APKBUILD
Owners: @Ikke

testing/perl-data-validate-ip: add secfixes
  testing/perl-data-validate-ip/APKBUILD
Owners: @Ikke

testing/mimalloc1: new aport
  testing/mimalloc1/APKBUILD
  testing/mimalloc1/cmake-add-insecure-suffix.patch
  testing/mimalloc1/cmake-install-paths.patch
Owners: @Ikke

testing/mimalloc1: disable on aarch64 due to test failure
  testing/mimalloc1/APKBUILD
Owners: @Ikke

testing/mimalloc2: new aport
  testing/mimalloc2/APKBUILD
  testing/mimalloc2/cmake-add-insecure-suffix.patch
  testing/mimalloc2/cmake-install-paths.patch
Owners: @Ikke

testing/mimalloc2: disable on aarch64 due to test failure
  testing/mimalloc2/APKBUILD
Owners: @Ikke

community/pn: upgrade to 0.9.0
  community/pn/APKBUILD
Owners: @Ikke

community/buildah: upgrade to 1.22.1
  community/buildah/APKBUILD
Owners: @Ikke

community/py3-pep517: fix dependencies
  community/py3-pep517/APKBUILD
Owners: @Ikke

community/composer: upgrade to 2.1.6
  community/composer/APKBUILD
Owners: @Ikke

community/tor: security upgrade to 0.4.6.7
  community/tor/APKBUILD
Owners: @Ikke

community/networkmanager-elogind: upgrade to 1.32.10
  community/networkmanager-elogind/APKBUILD
Owners: @Ikke

community/networkmanager: upgrade to 1.32.10
  community/networkmanager/APKBUILD
Owners: @Ikke

testing/py3-poetry-core: upgrade to 1.0.4
  testing/py3-poetry-core/APKBUILD
Owners: @Ikke

testing/poetry: upgrade to 1.1.8
  testing/poetry/APKBUILD
Owners: @Ikke

community/buildah: upgrade to 1.22.2
  community/buildah/APKBUILD
Owners: @Ikke

community/nodejs-current: upgrade to 16.7.0
  community/nodejs-current/APKBUILD
Owners: @Ikke

testing/mautrix-whatsapp: upgrade to 0.1.8
  testing/mautrix-whatsapp/APKBUILD
Owners: @Ikke

community/calls: upgrade to 41_beta
  community/calls/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
