Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/greetd: upgrade to 0.10.0
  community/greetd/APKBUILD
Owners: @Ikke

main/conky: upgrade to 1.20.1
  main/conky/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/py3-pypandoc: upgrade to 1.13
  testing/py3-pypandoc/APKBUILD
Owners: @Ikke

community/mlmym: upgrade to 0.0.41
  community/mlmym/APKBUILD
Owners: @Ikke

community/cargo-modules: upgrade to 0.15.5
  community/cargo-modules/APKBUILD
Owners: @Ikke

community/limine: upgrade to 7.4.0
  community/limine/APKBUILD
Owners: @Ikke

community/perl-business-isbn-data: upgrade to 20240420.001
  community/perl-business-isbn-data/APKBUILD
Owners: @Ikke

[3.19] community/objfw: upgrade to 1.1.2
  community/objfw/APKBUILD
  community/objfw/tr-workaround.patch
Owners: @Ikke

main/botan3: security upgrade to 3.4.0
  main/botan3/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/keepassxc: rebuild against botan 3.4.0
  community/keepassxc/APKBUILD
Owners: @Ikke

community/virglrenderer: upgrade to 1.0.1
  community/virglrenderer/APKBUILD
Owners: @Ikke

community/py3-rfc3339-validator: new aport
  community/py3-rfc3339-validator/APKBUILD
Owners: @Ikke

community/py3-pathable: new aport
  community/py3-pathable/APKBUILD
Owners: @Ikke

community/py3-pytest-click: new aport
  community/py3-pytest-click/APKBUILD
Owners: @Ikke

community/py3-pytest-docker-tools: new aport
  community/py3-pytest-docker-tools/APKBUILD
Owners: @Ikke

community/celery: add check()
  community/celery/APKBUILD
  community/celery/fix-aws-tests.patch
Owners: @Ikke

community/py3-moto: new aport
  community/py3-moto/APKBUILD
Owners: @Ikke

community/py3-retry: new aport
  community/py3-retry/APKBUILD
Owners: @Ikke

community/py3-jsonschema-path: new aport
  community/py3-jsonschema-path/APKBUILD
Owners: @Ikke

community/py3-openapi-spec-validator: new aport
  community/py3-openapi-spec-validator/APKBUILD
Owners: @Ikke

community/py3-openapi-schema-validator: new aport
  community/py3-openapi-schema-validator/APKBUILD
  community/py3-openapi-schema-validator/dfb83c2_jsonschema-4.20-prefixitems-test-fix.patch
Owners: @Ikke

community/py3-pytest-celery: new aport
  community/py3-pytest-celery/APKBUILD
Owners: @Ikke

community/lld15: remove
  community/lld15/APKBUILD
  community/lld15/cxx17.patch
Owners: @Ikke

community/py3-shapely: upgrade to 2.0.4
  community/py3-shapely/APKBUILD
Owners: @Ikke

community/py3-pyaml: upgrade to 24.4.0
  community/py3-pyaml/APKBUILD
Owners: @Ikke

community/boost-build: upgrade to 1.84
  community/boost-build/APKBUILD
Owners: @tcely

community/py3-django-otp: upgrade to 1.5.0
  community/py3-django-otp/APKBUILD
Owners: @Ikke

community/podman-compose: upgrade to 1.1.0
  community/podman-compose/APKBUILD
Owners: @Ikke

community/anytun: disable fhs checks
  community/anytun/APKBUILD
Owners: @Ikke

community/wesnoth: upgrade to 1.6.12
  community/wesnoth/APKBUILD
  community/wesnoth/fix-cstdint.patch
Owners: @Ikke

community/wesnoth: disable fhs checks
  community/wesnoth/APKBUILD
Owners: @Ikke

community/py3-phonenumbers: upgrade to 8.13.35
  community/py3-phonenumbers/APKBUILD
Owners: @Ikke

community/tor: disable failing tests on riscv64
  community/tor/APKBUILD
Owners: @Ikke

community/unit: remove /var/run from package
  community/unit/APKBUILD
Owners: @Ikke

testing/librewolf: upgrade to 125.0.1_p1
  testing/librewolf/APKBUILD
  testing/librewolf/res_nquery.patch
Owners: @Ikke

testing/prowlarr: upgrade to 1.16.2.4435
  testing/prowlarr/APKBUILD
Owners: @Ikke

community/idris2: rebootstrap from stage0
  community/idris2/APKBUILD
Owners: @Ikke

community/py3-kombu: enable s390x
  community/py3-kombu/APKBUILD
Owners: @Ikke

community/objfw: upgrade to 1.1.2
  community/objfw/APKBUILD
  community/objfw/tr-workaround.patch
Owners: @Ikke

community/vtk: upgrade to 9.3.0
  community/vtk/APKBUILD
  community/vtk/disable-tests.patch
  community/vtk/include-cstdint.patch
  community/vtk/unistd.patch
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
