Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/monero: upgrade to 0.17.1.1
  testing/monero/APKBUILD
Owners: @Ikke

community/i3wm: upgrade to 4.18.3
  community/i3wm/APKBUILD
Owners: @Ikke

testing/i3wm-gaps: upgrade to 4.18.3
  testing/i3wm-gaps/APKBUILD
Owners: @Ikke

testing/perl-clone-pp: upgrade to 1.08
  testing/perl-clone-pp/APKBUILD
Owners: @Ikke

community/py3-hypothesis: upgrade to 5.37.4
  community/py3-hypothesis/APKBUILD
Owners: @Ikke

community/perl-graph: upgrade to 0.9706
  community/perl-graph/APKBUILD
Owners: @Ikke

community/faad2: upgrade to 2.10.0
  community/faad2/APKBUILD
Owners: @Ikke

community/py3-aiohttp: relax yarl dependecy
  community/py3-aiohttp/APKBUILD
  community/py3-aiohttp/relax-yarl.patch
Owners: @Ikke

testing/nomad: remove duplicate CVE value
  testing/nomad/APKBUILD
Owners: @Ikke

testing/googler: upgrade to 4.3.1
  testing/googler/APKBUILD
Owners: @Ikke

testing/gobuster: upgrade to 3.1.0
  testing/gobuster/APKBUILD
Owners: @Ikke

testing/inxi: upgrade to 3.1.08
  testing/inxi/APKBUILD
Owners: @Ikke

testing/jdupes: upgrade to 1.19.0
  testing/jdupes/APKBUILD
Owners: @tcely

testing/lf: upgrade to 17
  testing/lf/APKBUILD
Owners: @Ikke

community/osinfo-db: upgrade to 20201015
  community/osinfo-db/APKBUILD
Owners: @Ikke

testing/dendrite: upgrade to 0.2.0
  testing/dendrite/APKBUILD
Owners: @Ikke

community/php7-pecl-timezonedb: upgrade to 2020.3
  community/php7-pecl-timezonedb/APKBUILD
Owners: @Ikke

community/php7-pecl-timezonedb: upgrade to 2020.3
  community/php7-pecl-timezonedb/APKBUILD
Owners: @Ikke

main/bluez: upgrade to 5.55
  main/bluez/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alsa-lib: upgrade to 1.2.4
  main/alsa-lib/APKBUILD
  main/alsa-lib/fix-dlo.patch
Owners: @andypost, @nmeum, @ncopa

main/alsa-utils: upgrade to 1.2.4
  main/alsa-utils/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/alsa-ucm-conf: upgrade to 1.2.4
  community/alsa-ucm-conf/APKBUILD
Owners: @Ikke

community/alsa-topology-conf: upgrade to 1.2.4
  community/alsa-topology-conf/APKBUILD
Owners: @Ikke

community/tinycompress: upgrade to 1.2.4
  community/tinycompress/APKBUILD
Owners: @Ikke

main/xfsprogs: upgrade to 5.9.0
  main/xfsprogs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/wlsunset: new aport
  testing/wlsunset/APKBUILD
Owners: @Ikke

testing/diffoscope: upgrade to 161
  testing/diffoscope/APKBUILD
Owners: @Ikke

main/perl-inc-latest: new aport
  main/perl-inc-latest/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-file-sharedir: upgrade to 1.118
  main/perl-file-sharedir/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/erlang: upgrade to 23.1.1
  community/erlang/APKBUILD
Owners: @Ikke

testing/mdbook: upgrade to 0.4.4
  testing/mdbook/APKBUILD
Owners: @Ikke

community/py3-breathe: upgrade to 4.23.0
  community/py3-breathe/APKBUILD
Owners: @Ikke

main/ell: enable on s390x and mips64
  main/ell/APKBUILD
  main/ell/skip-test-dhcp6-big-endian.patch
Owners: @andypost, @nmeum, @ncopa

main/asterisk: upgrade to 18.0.0
  main/asterisk/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/solvespace: new aport
  testing/solvespace/APKBUILD
  testing/solvespace/textwindow.patch
Owners: @Ikke

===== release 3.12.1 =====
  main/alpine-base/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/sfeed_curses: new aport
  testing/sfeed_curses/APKBUILD
Owners: @Ikke

main/lua-ldap: upgrade to 1.2.5
  main/lua-ldap/APKBUILD
  main/lua-ldap/fix-anonymous-bind.patch
  main/lua-ldap/fix-open_simple-segfault.patch
  main/lua-ldap/fix-search-iter.patch
  main/lua-ldap/script-to-run-test.lua-against-a-dummy-slapd.patch
  main/lua-ldap/update-test.lua-for-5.2.patch
Owners: @andypost, @nmeum, @ncopa

main/perl-config-autoconf: move from community
  main/perl-config-autoconf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-list-moreutils-xs: upgrade to 0.430
  main/perl-list-moreutils-xs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
