Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/pijul: rebuild against libsodium 1.0.19
  testing/pijul/APKBUILD
Owners: @Ikke

testing/rdedup: rebuild against libsodium 1.0.19
  testing/rdedup/APKBUILD
  testing/rdedup/getrandom-0.2.10.patch
Owners: @tcely

testing/shadowsocks-libev: rebuild against libsodium 1.0.19
  testing/shadowsocks-libev/APKBUILD
Owners: @Ikke

testing/scryer-prolog: rebuild against libsodium 1.0.19
  testing/scryer-prolog/APKBUILD
Owners: @Ikke

testing/rosenpass: rebuild against libsodium 1.0.19
  testing/rosenpass/APKBUILD
  testing/rosenpass/update-oqs-sys-crate.patch
Owners: @Ikke

testing/toxcore: rebuild against libsodium 1.0.19
  testing/toxcore/APKBUILD
Owners: @Ikke

testing/usbguard: rebuild against libsodium 1.0.19
  testing/usbguard/APKBUILD
Owners: @Ikke

testing/warzone2100: rebuild against libsodium 1.0.19
  testing/warzone2100/APKBUILD
Owners: @Ikke

testing/py3-duniterpy: rebuild against libsodium 1.0.19
  testing/py3-duniterpy/APKBUILD
Owners: @Ikke

community/py3-websockets: upgrade to 12.0
  community/py3-websockets/APKBUILD
Owners: @Ikke

community/py3-pytest-benchmark: fix $PATH in check()
  community/py3-pytest-benchmark/APKBUILD
Owners: @Ikke

testing/fiery: upgrade to 1.1.1
  testing/fiery/APKBUILD
Owners: @Ikke

community/libsoup3: disable ssl-test (known broken upstream)
  community/libsoup3/APKBUILD
  community/libsoup3/disable-ssl-test.patch
Owners: @Ikke

community/git-machete: upgrade to 3.20.0
  community/git-machete/APKBUILD
Owners: @Ikke

community/py3-pytest-benchmark: enable check() again
  community/py3-pytest-benchmark/APKBUILD
Owners: @Ikke

main/f2fs-tools: use upstream patch to fix lfs64 issue
  main/f2fs-tools/APKBUILD
  main/f2fs-tools/no-lfs64.patch
Owners: @andypost, @nmeum, @ncopa

testing/fplll: upgrade to 5.4.5
  testing/fplll/APKBUILD
Owners: @Ikke

testing/mitra: upgrade to 2.2.0
  testing/mitra/APKBUILD
Owners: @Ikke

testing/wine-mono: upgrade to 8.1.0
  testing/wine-mono/APKBUILD
Owners: @Ikke

testing/java-jtreg: upgrade to 7.3.1+1
  testing/java-jtreg/APKBUILD
Owners: @Ikke

testing/gqrx: upgrade to 2.17.3
  testing/gqrx/APKBUILD
Owners: @Ikke

community/py3-xarray: upgrade to 2023.10.1
  community/py3-xarray/APKBUILD
Owners: @Ikke

community/tiledb: upgrade to 2.17.2
  community/tiledb/10-capnproto.patch
  community/tiledb/APKBUILD
Owners: @Ikke

community/mu: claim maintainership
  community/mu/APKBUILD
Owners: @Ikke

community/nihtest: upgrade to 1.2.0
  community/nihtest/APKBUILD
Owners: @Ikke

community/gifsicle: claim maintainership
  community/gifsicle/APKBUILD
Owners: @Ikke

community/bloaty: claim maintainership
  community/bloaty/APKBUILD
Owners: @Ikke

community/ws: claim maintainership
  community/ws/APKBUILD
Owners: @Ikke

community/monkeysphere: claim maintainership
  community/monkeysphere/APKBUILD
Owners: @Ikke

community/urlview: claim maintainership
  community/urlview/APKBUILD
Owners: @Ikke

community/unifdef: claim maintainership
  community/unifdef/APKBUILD
Owners: @Ikke

community/clingo: claim maintainership
  community/clingo/APKBUILD
Owners: @Ikke

community/nihtest: claim maintainership
  community/nihtest/APKBUILD
Owners: @Ikke

community/translate-shell: claim maintainership
  community/translate-shell/APKBUILD
Owners: @Ikke

community/stellarium: claim maintainership
  community/stellarium/APKBUILD
Owners: @Ikke

testing/zydis: new aport
  testing/zydis/APKBUILD
Owners: @Ikke

testing/zycore-dev: new aport
  testing/zycore-dev/APKBUILD
Owners: @Ikke

community/mdds: upgrade to 2.1.1
  community/mdds/APKBUILD
Owners: @Ikke

testing/sturmreader: upgrade to 3.7.2
  testing/sturmreader/APKBUILD
Owners: @Ikke

community/libnsl: upgrade to 2.0.1
  community/libnsl/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
