Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

testing/rabbitmq-server: fix dependencies
  testing/rabbitmq-server/APKBUILD
Owners: @Ikke

testing/rabbitmq-server: upgrade to 3.8.9
  testing/rabbitmq-server/APKBUILD
  testing/rabbitmq-server/py3.patch
Owners: @Ikke

testing/rabbitmq-server: fix rabbitmq-cli dependency constraints
  testing/rabbitmq-server/APKBUILD
  testing/rabbitmq-server/list-elixir-1.11-as-supported.patch
Owners: @Ikke

main/abuild: backport fix for `abuild rootbld`
  main/abuild/0001-abuild-rootbld-disable-real-chown-calls-in-fakeroot.patch
  main/abuild/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/postgis: upgrade to 3.1.0
  community/postgis/APKBUILD
Owners: @Ikke

community/fbida: fix build with -fno-common
  community/fbida/APKBUILD
  community/fbida/gcc-10.patch
Owners: @Ikke

community/suitesparse: force installation of headers into usr/include
  community/suitesparse/APKBUILD
Owners: @Ikke

community/ldc: disable std.complex tests for now
  community/ldc/0003-Disable-failing-AArch64-test.patch
  community/ldc/APKBUILD
Owners: @Ikke

main/static-routing: ifupdown-ng compatibility
  main/static-routing/APKBUILD
  main/static-routing/static-routing
Owners: @andypost, @nmeum, @ncopa

main/tiff: downgrade to 4.1.0
  main/tiff/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/miniupnpc: upgrade to 2.2.1
  community/miniupnpc/APKBUILD
Owners: @Ikke

community/rakudo: upgrade to 2020.12
  community/rakudo/APKBUILD
Owners: @Ikke

community/nqp: upgrade to 2020.12
  community/nqp/APKBUILD
Owners: @Ikke

community/moarvm: upgrade to 2020.12
  community/moarvm/APKBUILD
Owners: @Ikke

testing/py3-django-rest-framework: rename
  testing/py3-django-rest-framework/APKBUILD
Owners: @Ikke

community/elogind: update to elogind's first upstream revision
  community/elogind/APKBUILD
Owners: @Ikke

community/dpns: disable on ppc64le due to missing dependency dpns
  community/dpns/APKBUILD
Owners: @Ikke

testing/ardour: attempt to fix build
  testing/ardour/APKBUILD
  testing/ardour/fix-platform-detection.patch
Owners: @Ikke

testing/linux-edge: upgrade to 5.10.2
  testing/linux-edge/APKBUILD
  testing/linux-edge/config-edge-virt.aarch64
  testing/linux-edge/config-edge-virt.armv7
  testing/linux-edge/config-edge-virt.x86_64
  testing/linux-edge/config-edge.aarch64
  testing/linux-edge/config-edge.armhf
  testing/linux-edge/config-edge.armv7
  testing/linux-edge/config-edge.x86_64
Owners: @Ikke

community/ldc: fix checksums
  community/ldc/APKBUILD
Owners: @Ikke

main/amavisd-milter: Use native forking so chown in start_post works
  main/amavisd-milter/APKBUILD
  main/amavisd-milter/amavisd-milter.initd
Owners: @andypost, @nmeum, @ncopa

main/avmavisd-milter: Upgrade to 1.7.1
  main/amavisd-milter/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/nano: add 'set notitlebar' patch
  main/nano/APKBUILD
  main/nano/set-notitlebar.patch
Owners: @andypost, @nmeum, @ncopa

main/samba: Add support for vfs_io_uring
  main/samba/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/perl-app-speedtest: new aport
  testing/perl-app-speedtest/APKBUILD
Owners: @Ikke

testing/perl-file-rename: new aport
  testing/perl-file-rename/APKBUILD
Owners: @Ikke

abuild rootbld: disable real chown calls in fakeroot
  abuild.in
Owners: none

testing/py3-dnslib: update url
  testing/py3-dnslib/APKBUILD
Owners: @Ikke

community/php7-pecl-yaml: upgrade to 2.2.1
  community/php7-pecl-yaml/APKBUILD
Owners: @Ikke

testing/php8-pecl-yaml: upgrade to 2.2.1
  testing/php8-pecl-yaml/APKBUILD
Owners: @Ikke

community/php7-pecl-yaml: upgrade to 2.2.1
  community/php7-pecl-yaml/APKBUILD
Owners: @Ikke

testing/mycroft-core: remove unnecessary py3-six dependency
  community/mycroft-core/APKBUILD
Owners: @Ikke

testing/php7-pecl-inotify: upgrade to 3.0.0 and modernize
  testing/php7-pecl-inotify/APKBUILD
Owners: @Ikke

community/py3-zeroconf: upgrade to 0.28.7
  community/py3-zeroconf/APKBUILD
Owners: @Ikke

testing/php7-pecl-inotify: fix source
  testing/php7-pecl-inotify/APKBUILD
Owners: @Ikke

testing/php8-tideways_xhprof: new aport
  testing/php8-tideways_xhprof/APKBUILD
Owners: @Ikke

testing/php8-pecl-inotify: new aport
  testing/php8-pecl-inotify/APKBUILD
Owners: @Ikke

testing/php7-tideways_xhprof: upgrade to 5.0.4 and modernize
  testing/php7-tideways_xhprof/APKBUILD
Owners: @Ikke

testing/php8-tideways_xhprof: fix source
  testing/php8-tideways_xhprof/APKBUILD
Owners: @Ikke

community/php8-pecl-apcu: move from testing
  community/php8-pecl-apcu/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
