Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely

testing/hwloc: upgrade to 1.11.13
  testing/hwloc/APKBUILD
Owners: @Ikke

main/openresolv: upgrade to 3.9.1
  main/openresolv/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/go: security upgrade to 1.12.8
  community/go/APKBUILD
Owners: @Ikke

community/go: security upgrade to 1.12.8
  community/go/APKBUILD
Owners: @Ikke

community/shadow: restore manpage
  community/shadow/APKBUILD
Owners: @Ikke

community/ruby-nokogiri: rebuild against libxml 2.9.9
  community/ruby-nokogiri/APKBUILD
Owners: @Ikke

community/ruby-nokogiri: rebuild against libxml 2.9.9
  community/ruby-nokogiri/APKBUILD
Owners: @Ikke

community/icingaweb2: upgrade to 2.7.1
  community/icingaweb2/APKBUILD
Owners: @Ikke

community/perl-datetime-calendar-julian: upgrade to 0.101
  community/perl-datetime-calendar-julian/APKBUILD
Owners: @Ikke

main/alpine-ipxe: upgrade to 1.0_git20190802
  main/alpine-ipxe/APKBUILD
Owners: @andypost, @nmeum, @ncopa

aports: enable gitlab-ci linting
  .gitlab-ci.yml
Owners: none

main/wpa_supplicant: security fix (CVE-2019-13377)
  main/wpa_supplicant/0001-SAE-Use-const_time_memcmp-for-pwd_value-prime-compar.patch
  main/wpa_supplicant/0002-EAP-pwd-Use-const_time_memcmp-for-pwd_value-prime-co.patch
  main/wpa_supplicant/0003-OpenSSL-Use-BN_bn2binpad-or-BN_bn2bin_padded-if-avai.patch
  main/wpa_supplicant/0004-SAE-Run-through-prf-result-processing-even-if-it-pri.patch
  main/wpa_supplicant/0005-EAP-pwd-Run-through-prf-result-processing-even-if-it.patch
  main/wpa_supplicant/0006-dragonfly-Disable-use-of-groups-using-Brainpool-curv.patch
  main/wpa_supplicant/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/znc: security upgrade to 1.7.4
  community/znc/APKBUILD
Owners: @Ikke

community/znc: security upgrade to 1.7.4
  community/znc/APKBUILD
  community/znc/CVE-2019-9917.patch
Owners: @Ikke

testing/xmrig: upgrade to 3.0.0
  testing/xmrig/APKBUILD
Owners: @Ikke

testing/xmrig-proxy: upgrade to 3.0.0
  testing/xmrig-proxy/APKBUILD
Owners: @Ikke

community/znc: add patch to fix CVE-2019-12816
  community/znc/APKBUILD
  community/znc/CVE-2019-12816.patch
Owners: @Ikke

community/znc: add security notice for CVE-2019-12816
  community/znc/APKBUILD
Owners: @Ikke

main/wpa_supplicant: security fixes (CVE-2019-13377)
  main/wpa_supplicant/0016-SAE-Use-const_time_memcmp-for-pwd_value-prime-compar.patch
  main/wpa_supplicant/0017-EAP-pwd-Enforce-1-rand-mask-r-and-rand-mask-mod-r-1.patch
  main/wpa_supplicant/0018-EAP-pwd-Remove-unused-checks-for-cofactor-1-cases.patch
  main/wpa_supplicant/0019-EAP-pwd-Use-const_time_memcmp-for-pwd_value-prime-co.patch
  main/wpa_supplicant/0020-OpenSSL-Use-BN_bn2binpad-or-BN_bn2bin_padded-if-avai.patch
  main/wpa_supplicant/0021-SAE-Run-through-prf-result-processing-even-if-it-pri.patch
  main/wpa_supplicant/0022-EAP-pwd-Run-through-prf-result-processing-even-if-it.patch
  main/wpa_supplicant/0023-EAP-pwd-Disallow-ECC-groups-with-a-prime-under-256-b.patch
  main/wpa_supplicant/0024-SAE-Reject-unsuitable-groups-based-on-REVmd-changes.patch
  main/wpa_supplicant/0025-dragonfly-Disable-use-of-groups-using-Brainpool-curv.patch
  main/wpa_supplicant/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/znc: add patches fo CVE-2019-9917 and CVE-2019-12816
  main/znc/APKBUILD
  main/znc/CVE-2019-12816.patch
  main/znc/CVE-2019-9917.patch
Owners: @andypost, @nmeum, @ncopa

main/znc: add patches fo CVE-2019-9917 and CVE-2019-12816
  main/znc/APKBUILD
  main/znc/CVE-2019-12816.patch
  main/znc/CVE-2019-9917.patch
Owners: @andypost, @nmeum, @ncopa

community/h2o: security upgrade to 2.2.6
  community/h2o/APKBUILD
Owners: @Ikke

testing/mycli: upgrade to 1.20.0
  testing/mycli/APKBUILD
  testing/mycli/fix-sqlparse.patch
Owners: @Ikke

community/znc: security upgrade to 1.7.4
  community/znc/APKBUILD
Owners: @Ikke

community/znc: add patch to fix CVE-2019-12816
  community/znc/APKBUILD
  community/znc/CVE-2019-12816.patch
Owners: @Ikke

main/znc: add patches fo CVE-2019-9917 and CVE-2019-12816
  main/znc/APKBUILD
  main/znc/CVE-2019-12816.patch
  main/znc/CVE-2019-9917.patch
Owners: @andypost, @nmeum, @ncopa

community/znc: add security notice for CVE-2019-12816
  community/znc/APKBUILD
Owners: @Ikke

main/znc: add patches fo CVE-2019-9917 and CVE-2019-12816
  main/znc/APKBUILD
  main/znc/CVE-2019-12816.patch
  main/znc/CVE-2019-9917.patch
Owners: @andypost, @nmeum, @ncopa

main/freetds: upgrade to 1.1.12
  main/freetds/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/mycli: upgrade to 1.20.0
  testing/mycli/APKBUILD
  testing/mycli/fix-sqlparse.patch
Owners: @Ikke

testing/traefik: security upgrade to 1.7.14
  testing/traefik/APKBUILD
Owners: @Ikke

main/bzip2: rename static package
  main/bzip2/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libuv: upgrade to 1.31.0
  main/libuv/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/dbus: run dbus-daemon with supervise-daemon
  main/dbus/APKBUILD
  main/dbus/dbus.initd
Owners: @andypost, @nmeum, @ncopa

main/dhcpcd: upgrade to 8.0.2
  main/dhcpcd/APKBUILD
  main/dhcpcd/dhcpcd.initd
Owners: @andypost, @nmeum, @ncopa

main/mupdf: upgrade to 1.16.0
  main/mupdf/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/perl-role-tiny: upgrade to 2.000007
  main/perl-role-tiny/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/alsa-utils: add description for OpenRC service
  main/alsa-utils/APKBUILD
  main/alsa-utils/alsa.initd
Owners: @andypost, @nmeum, @ncopa

main/rsync: use supervise-daemon for running rsyncd, fix license
  main/rsync/APKBUILD
  main/rsync/rsyncd.confd
  main/rsync/rsyncd.initd
Owners: @andypost, @nmeum, @ncopa

community/libfilezilla: upgrade to 0.18.1
  community/libfilezilla/APKBUILD
Owners: @Ikke
