Repository alpinelinux/aports, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andypost, @nmeum, @ncopa, @Ikke, @tcely, @clandmeter

community/qutebrowser: upgrade to 2.0.2
  community/qutebrowser/APKBUILD
Owners: @Ikke

community/py3-importlib-resources: new aport
  community/py3-importlib-resources/0001-setup.cfg-remove-scm-nonsense.patch
  community/py3-importlib-resources/APKBUILD
Owners: @Ikke

community/qutebrowser: add missing dependency
  community/qutebrowser/APKBUILD
Owners: @Ikke

community/man-db: upgrade to 2.9.4
  community/man-db/APKBUILD
Owners: @Ikke

main/py3-pytest: drop dep on py3-setuptools
  main/py3-pytest/APKBUILD
Owners: @andypost, @nmeum, @ncopa

community/py3-readme_renderer: drop dep on py3-setuptools
  community/py3-readme_renderer/APKBUILD
Owners: @Ikke

community/yubikey-manager: drop dep on py3-setuptools
  community/yubikey-manager/APKBUILD
Owners: @Ikke

community/py3-keepass: drop dep on py3-setuptools
  community/py3-keepass/APKBUILD
Owners: @Ikke

community/gnome-authenticator: drop dep on py3-setuptools
  community/gnome-authenticator/APKBUILD
Owners: @Ikke

community/beets: drop dep on py3-setuptools
  community/beets/APKBUILD
Owners: @Ikke

main/py3-cryptography: mark as restricted
  main/py3-cryptography/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libburn: upgrade to 1.5.4
  main/libburn/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libisofs: upgrade to 1.5.4
  main/libisofs/APKBUILD
Owners: @andypost, @nmeum, @ncopa

main/libisoburn: upgrade to 1.5.4
  main/libisoburn/APKBUILD
Owners: @andypost, @nmeum, @ncopa

testing/filebeat: upgrade to 7.10.2
  testing/filebeat/APKBUILD
Owners: @Ikke

community/calamares: upgrade to 3.2.36
  community/calamares/APKBUILD
Owners: @Ikke

community/py3-holidays: upgrade to 0.10.5.2
  community/py3-holidays/APKBUILD
Owners: @Ikke

testing/py3-cssutils: drop dep on py3-setuptools
  testing/py3-cssutils/APKBUILD
Owners: @Ikke

testing/deluge: drop dep on py3-setuptools
  testing/deluge/APKBUILD
Owners: @Ikke

testing/py3-html2text: drop dep on py3-setuptools
  testing/py3-html2text/APKBUILD
Owners: @Ikke

testing/py3-nikola: drop dep on py3-setuptools
  testing/py3-nikola/APKBUILD
Owners: @Ikke

testing/py3-kikit: drop dep on py3-setuptools
  testing/py3-kikit/APKBUILD
Owners: @Ikke

testing/py3-pylint: drop dep on py3-setuptools
  testing/py3-pylint/APKBUILD
Owners: @Ikke

testing/py3-pywal: drop dep on py3-setuptools
  testing/py3-pywal/APKBUILD
Owners: @Ikke

testing/todoman: drop dep on py3-setuptools
  testing/todoman/APKBUILD
Owners: @Ikke

testing/sshuttle: drop dep on py3-setuptools
  testing/sshuttle/APKBUILD
Owners: @Ikke

testing/py3-compdb: drop dep on py3-setuptools
  testing/py3-compdb/APKBUILD
Owners: @Ikke

community/py3-lmdb: upgrade to 1.1.1
  community/py3-lmdb/APKBUILD
Owners: @Ikke

testing/py3-language-server: drop dep no py3-setuptools
  testing/py3-language-server/APKBUILD
Owners: @Ikke

testing/py3-scrapy: drop dep on py3-setuptools
  testing/py3-scrapy/APKBUILD
Owners: @Ikke

testing/mitmproxy: drop dep on py3-setuptools
  testing/mitmproxy/APKBUILD
Owners: @Ikke

testing/cri-o: new aport
  testing/cri-o/APKBUILD
  testing/cri-o/crio.initd
  testing/cri-o/crio.logrotated
Owners: @Ikke

community/py3-cppy: new aport
  community/py3-cppy/APKBUILD
Owners: @Ikke

community/py3-kiwisolver: re-enable
  community/py3-kiwisolver/APKBUILD
Owners: @Ikke

testing/py3-language-server: drop superfluous dep
  testing/py3-language-server/APKBUILD
Owners: @Ikke

testing/py3-language-server: disable newly failing tests
  testing/py3-language-server/APKBUILD
Owners: @Ikke

community/libudev-zero: upgrade to 0.4.8
  community/libudev-zero/APKBUILD
Owners: @Ikke

community/libudev-zero: upgrade to 0.4.8
  community/libudev-zero/APKBUILD
Owners: @Ikke

unmaintained/stalld: move from testing
  unmaintained/stalld/APKBUILD
  unmaintained/stalld/fix-on_exit.patch
  unmaintained/stalld/fix-test01.patch
Owners: none

testing/deluge: disable on armv7 due t missing dep
  testing/deluge/APKBUILD
Owners: @Ikke

.github/CODEOWNERS:

/main/ @andypost @nmeum @ncopa
/community/ @Ikke
/testing/ @Ikke
/main/bind/ @tcely @ncopa @clandmeter
/main/dhcp/ @tcely
/main/dns-root-hints/ @tcely
/main/fstrm/ @tcely
/main/py3-ply/ @tcely
/community/boost-build/ @tcely
/community/botan/ @tcely
/community/dnsdist/ @tcely
/community/fossil/ @tcely
/community/knot-resolver/ @tcely
/community/knot/ @tcely
/community/ntpsec/ @tcely
/community/pdns/ @tcely
/community/pdns-recursor/ @tcely
/community/softhsm/ @tcely
/testing/jdupes/ @tcely
/testing/knot-resolver4/ @tcely
/testing/rdedup/ @tcely
/testing/sequoia-sqv/ @tcely
