Repository alpinelinux/aports, pull requests merged in 2019-09, with the labels that each got.

#10958 [3.10] community/containerd: upgrade to 1.2.9
  community/containerd/APKBUILD
Labels: R-community

#11422 community/sn0int: use sphinx-build-3
  community/sn0int/APKBUILD
Labels: R-community

#11464 testing/gnome-online-miners: upgrade to 3.34.0
  testing/gnome-online-miners/APKBUILD
Labels: A-upgrade, R-testing

#11522 testing/poco: upgrade to 1.9.4
  testing/poco/APKBUILD
Labels: A-upgrade, R-testing

#11559 community/perl-data-compare: upgrade to 1.26
  community/perl-data-compare/APKBUILD
Labels: A-upgrade, R-community

#11572 testing/libluv: new aport
  community/libluv/APKBUILD
  community/libluv/libluv.pc.in
Labels: R-community

#11583 community/mutt: upgrade to 1.12.2
  community/mutt/APKBUILD
Labels: A-upgrade, R-community

#11587 testing/geary: upgrade to 3.34.0
  testing/geary/APKBUILD
Labels: A-upgrade, R-testing

#11596 community/unit: upgrade to 1.11.0
  community/unit/APKBUILD
Labels: R-community
